@font-face {
  font-family: Lato;
  src: url('../assets/fonts/Lato-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url('../assets/fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url('../assets/fonts/Lato-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url('../assets/fonts/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url('../assets/fonts/Lato-Black.woff2') format('woff2');
  font-weight: 900;
}
