.gene-table {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);

  .p-datatable-header {
    display: flex;
    min-height: 58px;
    background-color: #3c4a63;
    color: #ffffff;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

    > div {
      padding: 15px;

      &:first-child {
        flex-grow: 1;
      }
    }

    a {
      color: #ffffff;
    }

    .gene-table-header-controls {
      display: flex;

      > div {
        position: relative;
        margin-left: 15px;

        > i {
          display: flex;
          height: 100%;
          align-items: center;
        }
      }

      i,
      .p-multiselect-trigger {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .p-datatable-wrapper {
    height: 366px;
  }

  p-table.fullscreen-table {
    .p-datatable-wrapper {
      height: 100vh;
    }
  }

  table {
    background-color: #ffffff;

    &,
    thead,
    tbody {
      width: 100%;
    }

    thead tr th,
    tbody tr td {
      flex-grow: 1 !important;
    }

    th {
      min-height: 58px;
      padding: 15px;
      justify-content: center;
      white-space: nowrap;
      background-color: #dadce1;
    }

    td {
      min-height: 58px;
      padding: 15px;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      text-transform: capitalize;
    }

    tr {
      &:nth-child(even) {
        td {
          background-color: var(--color-lighter);
        }
      }

      &:hover {
        td {
          background: rgba(63, 94, 171, 0.25);
        }
      }
    }
  }
}

.tooltip.gene-table-tooltip {
  top: -30px !important;
  left: 50% !important;

  .p-tooltip-text {
    text-align: center;
  }

  &:not(.tooltip-nowrap) {
    width: 250px;
  }

  &.p-tooltip-top {
    transform: translate(-50%, -100%);
  }

  &:not(.p-tooltip-top) {
    top: auto !important;
    left: 100% !important;
    bottom: -20px !important;
    transform: translate(-100%, 100%);

    .p-tooltip-arrow {
      display: none;
    }
  }
}

.similar-gene-table .p-datatable-wrapper {
  height: 638px;
}
