<div class="container">
    <div class="container top-container mt-2">
        <div class="row" style="padding-top:14px;">
            <div class="col-md-6 col-sm-12">
                <div class="card card-block" (click)="goToRoute('/targets')">
                    <h4 class="card-title text-right"></h4>
                    <a>
                        <img src="/assets/img/genes.jpg" alt="">
                        <h5 class="card-title mt-3 mb-3">Targets</h5>
                    </a>
                    <p class="card-text">Browse the genes in the database.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card card-block" (click)="goToRoute('/targets')">
                    <h4 class="card-title text-right"></h4>
                    <a>
                        <img src="/assets/img/details.jpg" alt="">
                        <h5 class="card-title mt-3 mb-3">Details</h5>
                    </a>
                    <p class="card-text">Add description.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container top-container mt-2">
        <div class="row" style="padding-top:14px;">
            <div class="col-md-6 col-sm-12">
                <div class="card card-block" (click)="goToRoute('/targets')">
                    <h4 class="card-title text-right"></h4>
                    <a>
                        <img src="/assets/img/help.jpg" alt="">
                        <h5 class="card-title mt-3 mb-3">Help</h5>
                    </a>
                    <p class="card-text">Add description.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card card-block" (click)="goToRoute('/targets')">
                    <h4 class="card-title text-right"></h4>
                    <a>
                        <img src="/assets/img/about.jpg" alt="">
                        <h5 class="card-title mt-3 mb-3">About</h5>
                    </a>
                    <p class="card-text">Add description.</p>
                </div>
            </div>
        </div>
    </div>
</div>
