<div class="ui-rtl" dir="rtl">
    <p-dialog header="Summary of Evidence" [(visible)]="display" [modal]="true" [responsive]="true"
        [minWidth]="330" [minY]="256" [baseZIndex]="10000" [styleClass]="'soe-dialog'">
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Genetic Association:
                </span>
                <span>
                    Significant genetic association with based on the International Genomics of Alzheimer's Project (IGAP) genome-wide association study.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Brain eQTL:
                </span>
                <span dir="ltr">
                    Significant expression Quantitative Trait Locus (eQTL) based on AMP-AD consortium unpublished work.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Cell Type Specificity:
                </span>
                <span dir="ltr">
                    Coming soon.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Association with Hallmarks of AD:
                </span>
                <span dir="ltr">
                    Coming soon.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    RNA Expression Change in AD Brain:
                </span>
                <span dir="ltr">
                    Significant differential expression based on AMP-AD consortium work detailed on Agora under “RNA-seq Differential Expression”.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Protein Expression Change in AD Brain:
                </span>
                <span dir="ltr">
                    Coming soon.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Gene Ontology:
                </span>
                <span dir="ltr">
                    Provides a link out to gene ontology information in Ensembl.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Reactome Pathways:
                </span>
                <span dir="ltr">
                    Provides a link out to reactome pathway information in Ensembl.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Nominated Target:
                </span>
                <span dir="ltr">
                    Indicates whether this gene has been nominated by the AMP-AD consortia as a nascent target for AD treatment.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Druggability:
                </span>
                <span dir="ltr">
                    Coming Soon.
                </span>
            </div>
        </div>
    </p-dialog>
</div>