@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.soe-dialog {
    .p-dialog-header {
        @include respond-to('ex-small') {
            padding-top: 20% !important;
        }
    }

    .p-button-text-only .p-button-text{
        display: none !important;
    }
    .p-dialog-content{
        padding-top: 0% !important;
        padding-bottom: 132px !important;
        padding-left: 6% !important;
        padding-right: 6% !important;
    }

    .link {
        font-weight: normal;
    }
}
