<div class="ui-rtl" dir="rtl">
    <p-dialog header="Summary of Evidence" [(visible)]="display" [modal]="true" [responsive]="true"
        [minY]="256" [baseZIndex]="10000" [styleClass]="'soe-dialog'" [ngStyle]="{'minWidth': 330}">
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Genetic Association with LOAD:</span>
                    True indicates a significant genetic association with Late Onset AD (LOAD) based on the International Genomics of Alzheimer's Project (IGAP)
                    <span class="link no-bold" (click)="openWindow('https://doi.org/10.1038/s41588-019-0358-2')">genome-wide association study</span>.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Brain eQTL:</span>
                    True indicates that this gene has a significant expression Quantitative Trait Locus (eQTL) based on an
                    <span class="link no-bold" (click)="openWindow('https://www.nature.com/articles/s41597-020-00642-8')">AMP-AD consortium study</span>.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">RNA Expression Change in AD Brain:</span>
                    True indicates that this gene show significant differential expression in at least one brain region based on AMP-AD consortium work detailed on Agora under RNA Evidence.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Nominated Target:</span>
                    True indicates that this gene has been submitted as a nominated target to Agora.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Gene Ontology:</span>
                    Provides a link out to gene ontology information in Ensembl.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Reactome Pathways:</span>
                    Provides a link out to reactome pathway information in Ensembl.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Evidence for AD Association:</span>
                    Provides a link out to the Open Targets site, which collates various forms of evidence for a gene's association to AD.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Cell Type Specificity:</span>
                    Provides a link out to the Brain RNAseq site, which hosts single-cell RNAseq data.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Genetic Evidence:</span>
                    Provides a link out to the National Institute on Aging Alzheimer's Genetics of Alzheimer's Disease Data Storage Site (NIAGADS) Genomics Database.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Association with Hallmarks of AD:</span>
                    Coming soon.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">Protein Expression Change in AD Brain:</span>
                    Coming soon.
                </p>
            </div>
        </div>
    </p-dialog>
</div>
