<ul class="gene-seo-list">
  <li *ngFor="let summary of summaries" class="item">
    <div class="item-inner">
      <div class="item-col">
        <h5 class="item-title">{{ summary.property.title }}</h5>
        <div class="item-description">
          {{ summary.property.description }}
          <a
            *ngIf="summary.property.link"
            class="item-link"
            href="{{ summary.property.link }}"
            target="_blank"
          >
            {{ summary.property.anchorText }}
          </a>
        </div>
      </div>
      <div class="gene-seo-list-item-col">
        <span ngClass="{{ getStateClass(summary) }}">
          {{ getStateText(summary) }}
        </span>
      </div>
    </div>
  </li>
</ul>
