<p-dialog [header]="header" [(visible)]="display" [modal]="true" [responsive]="true"
        [minWidth]="330" [minY]="256" [baseZIndex]="10000">
    <div *ngIf="description" class="row content-row" dir="ltr">
        The tissue types in which the RNA-seq gene coexpression connection was observed.
    </div>

    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <span class="header-span" dir="ltr">
                Brain Tissues
            </span>
        </div>
    </div>
    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <span class="header-span" dir="ltr">
                DLPFC:
            </span>
            <span dir="ltr">
                Dorsolateral Prefrontal Cortex
            </span>
        </div>
    </div>
    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <span class="header-span" dir="ltr">
                TCX:
            </span>
            <span dir="ltr">
                Temporal Cortex
            </span>
        </div>
    </div>
    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <span class="header-span" dir="ltr">
                CBE:
            </span>
            <span dir="ltr">
                Cerebellum
            </span>
        </div>
    </div>
    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <span class="header-span" dir="ltr">
                PHG:
            </span>
            <span dir="ltr">
                Parahippocampal Gyrus
            </span>
        </div>
    </div>
    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <span class="header-span" dir="ltr">
                STG:
            </span>
            <span dir="ltr">
                Superior Temporal Gyrus
            </span>
        </div>
    </div>
    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <span class="header-span" dir="ltr">
                FP:
            </span>
            <span dir="ltr">
                Frontal Pole
            </span>
        </div>
    </div>
    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <span class="header-span" dir="ltr">
                IFG:
            </span>
            <span dir="ltr">
                Inferior Frontal Gyrus
            </span>
        </div>
    </div>
</p-dialog>
