.select-column {
    width: 100%;

    select {
        background: url(/assets/icon/arrow_down.png) no-repeat 97.5% center;
        box-shadow: 0px 0px 4px #C7C5C5;
        border: 0;
    }
}

.dc-select-menu {
    box-shadow: 0px 0px 4px #C7C5C5;
    min-height: 52px;
}

.controls-row {
    align-items: center;
}