<img class="download-img" src="/assets/icon/download.svg" (click)="op.toggle($event)">
<p-overlayPanel [styleClass]="'download-op'" #op (rotate)="onRotate()" (window:resize)="onResize()">
    <h3>Download this plot as:</h3>
    <div *ngFor="let type of types" class="col-12 chkbox-col">
        <p-radioButton name="group1"  value="{{type.value}}" label="{{type.label}}" [(ngModel)]="selectedType"></p-radioButton>
    </div>
    <div class="col-12 button-col">
        <button pButton type="button" label="Download" class="ui-button-rounded ui-button-warning" (click)="downloadWidget()"></button>
    </div>
</p-overlayPanel>
<p-dialog header=""
    [(visible)]="displayDialog"
    [modal]="true"
    [responsive]="true"
    [minY]="200"
    [maximizable]="true" [baseZIndex]="10000"
    [styleClass]="'progress-dialog'" [ngStyle]="{'minWidth': 200, 'width': 350, 'height': 350}">
    <loading></loading>
</p-dialog>
