@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.download-op {
    margin-top: 5px;
    background: $background;

    .fake-span {
        height: 0px;
        font-size: 0px;
        vertical-align: top;
    }

    .p-overlaypanel-content {
        padding: 0px;

        @include respond-to('ex-small') {
            width: 200px;
        }

        width: 289px;
    }

    .chkbox-col {
        height: 52px;
        line-height: 52px;
        border-bottom: 1px solid $grey-border-color;
    }

    .button-col {
        height: 87px;
        line-height: 87px;
        text-align: center;

        p-button {
            @include respond-to('ex-small') {
                width: 137px;
            }

            width: 226px;
            height: 52px;

            cursor: pointer;
        }
    }

    h3 {
        margin: 0px;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 12px;
        padding-bottom: 11px;
        color: $background;
        background: $secondary-background;
        @include lato-font('bold');
        font-size: $font-size-x-regular;
    }

    p-checkbox {
        @include lato-font('normal');

        line-height: normal;
        font-size: $font-size-regular;
        height: 32px;
        color: color(text, secondary);

    }

    .p-checkbox {
        margin-right: 17px;
    }

    .p-checkbox-box {
        background: $quinary-background;
        border: 2px solid $green-border-color;
        box-sizing: border-box;
        border-radius: 6px;
        width: 32px;
        height: 32px;
        margin-bottom: 5px;
    }

    .p-checkbox-icon {
        color: $background;
        margin-top: 4px;

        span {
            height: 100%;

            .pi-check:before {
                font-size: $font-size-xx-regular-odd;
                content: url("/assets/icon/checked_icon.png") !important;
            }
        }
    }

    .download-img {
        cursor: pointer;
    }
}

.progress-dialog {
    .p-dialog-header {
        display: none !important;
    }

    height: 30%;
    overflow: hidden;
}
