@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.download-op {
    margin-top: 5px;
    background: $background;

    .fake-span {
        height: 0px;
        font-size: 0px;
        vertical-align: top;
    }

    .ui-overlaypanel-content {
        padding: 0px;

        @include respond-to('ex-small') {
            width: 200px;
        }

        width: 289px;
    }

    .chkbox-col {
        height: 52px;
        line-height: 52px;
        border-bottom: 1px solid $grey-border-color;
    }

    .button-col {
        height: 87px;
        line-height: 87px;
        text-align: center;

        p-button {
            @include respond-to('ex-small') {
                width: 137px;
            }

            width: 226px;
            height: 52px;

            cursor: pointer;
        }
    }

    h3 {
        margin: 0px;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 12px;
        padding-bottom: 11px;
        color: $background;
        background: $secondary-background;
        @include lato-font('bold');
        font-size: $font-size-x-regular;
    }

    p-radioButton {
        @include lato-font('normal');

        line-height: normal;
        font-size: $font-size-regular;
        color: color(text, secondary);
    }

  .ui-radiobutton-box {
    width: 16px;
    height: 16px;
  }

  .ui-radiobutton-icon {
    border: 2px solid #EEEEEE;
    color: #5BB0B5;
    border-radius: 50%;
    line-height: normal;
    left: 0;
    width: 20px;
    height: 20px;
  }

    .download-img {
        cursor: pointer;
    }
}

.progress-dialog {
    .ui-dialog-titlebar {
        display: none !important;
    }

    height: 30%;
    overflow: hidden;
}
