.info-header {
    padding-right: 5% !important;
}

.overview-header {
    background: linear-gradient(89.93deg, #5171C0 0.06%, #5BB0B5 99.94%);

    p {
        text-align-last: left;
        text-align: left;
    }

    .row {
        align-items: center;
    }
}

.download-terms-desc {
    margin-bottom: 2%;

    p {
        text-align: justify;
        text-align-last: left;
    }

    .about-paragraph {
        margin-bottom: 40px;
    }
}

.h2-anchor {
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #5BB0B5;
    text-decoration: underline;
    cursor: pointer;
    font-size: 24px;
}