<div class="loading-overlay" [ngClass]="{ global: isGlobal, active: isActive }">
  <div class="loading-overlay-inner">
    <div class="loading-overlay-spinner">
      <div class="spinner">
        <div class="spinner-container">
          <div class="hex0"></div>
          <div class="hex120"></div>
          <div class="hex240"></div>
          <div class="spinner">
            <div class="spinner-container">
              <div class="hex0"></div>
              <div class="hex120"></div>
              <div class="hex240"></div>
              <div class="spinner">
                <div class="spinner-container">
                  <div class="hex0"></div>
                  <div class="hex120"></div>
                  <div class="hex240"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
