.dc-chart {
    width: 100%;
    height: 100%;
}

.dc-chart g.row text {
    fill: black;
}

.bp {
    svg {
        width: 100%;
        height: 100%;
    }

    .chart-body {
        pointer-events: none;
    }

    max-height: 450px;
}

g.textGroup {
    text {
        font-size: 12px;
    }
}
