@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.bp-tooltip {
    @include lato-font('normal');

    position: absolute;
    padding: 14px;
    text-align: center;
    line-height: normal;
    color: white;
    font-size: 16px;
    background: #2F8E94;
    border: 0px;
    border-radius: 8px;
}

.bp {
    svg {
        width: 100%;
        height: 100%;
    }

    g.row text {
        fill: black;
    }

    path.domain {
        stroke: #EDEDED;
        stroke-width: 4px;
    }

    .axis line {
        stroke: white;
    }

    g.axis text {
        @include lato-font('normal');

        line-height: normal;
        font-size: 16px;
        color: #6D7078;
        fill: #6D7078;
    }

    .y-axis-label {
        @include lato-font('normal');

        line-height: normal;
        font-size: 16px;
        text-align: center;
        color: #6D7078;
    }

    width: 100%;
    height: 100%;

    .box > line, rect {
        stroke: #BCC0CA !important;
        stroke-width: 3px !important;
    }

    min-height: 450px;
    max-height: 450px;
}
