{
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [true, {
      "browsers": ["> 1%", "Last 2 versions"],
      "ignore": ["rem", "border-radius", "css-boxshadow", "background-img-opts"],
      "severity": "warning"
    }]
  }
}