{
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [true, {
      "browsers": [
          "> 1%",
          "Last 2 versions",
          "not ie > 0",
          "not ie_mob > 0",
          "not op_mini all",
          "not op_mob > 0",
          "not bb > 0"
      ],
      "ignore": [
          "css-unset-value",
          "css3-cursors",
          "text-decoration",
          "css-sticky",
          "css-filters",
          "css-appearance"
      ],
      "severity": "warning"
    }]
  }
}
