sudo: required
dist: focal
language: node_js
cache:
  npm: false

addons:
  chrome: stable

branches:
  only:
    - develop
    - staging
    - prod

before_install:
  - npm install npm@8.11.0
  - npm cache verify
  - travis_retry npm prune

install:
  - npm install

before_script:
  - export NODE_OPTIONS=--max_old_space_size=4096

stages:
  - name: test
  - name: eb-deploy-develop
    if: (tag =~ ^v) OR (type = push) AND (branch = develop)
  - name: eb-deploy-staging
    if: (tag =~ ^v) OR (type = push) AND (branch = staging)
  - name: eb-deploy-prod
    if: (tag =~ ^v) OR (type = push) AND (branch = prod)

jobs:
  fast_finish: true
  include:
    - stage: test
      script: npm run ci:travis
      node_js: 16
    - stage: eb-deploy-develop
      script:
#        - ./scripts/set-agora-version.sh || travis_terminate 1
        - zip /tmp/agora-app.zip -qr9 * .[^.]*
      node_js: 16
      deploy:
        - provider: elasticbeanstalk
          edge: true  # opt in to dpl v2
          cleanup: true
          bucket: org-sagebase-agora-deployment-agora-develop
          zip_file: /tmp/agora-app.zip
          region: us-east-1
          app: agora-ampad
          env:
            develop: agora-develop
            DISABLE_OPENCOLLECTIVE: true
          wait_until_deployed: true
          access_key_id: AKIAY22FMBNE7T3Q36PT
          secret_access_key: $AwsTravisSecretAccessKey_develop
#            secure: "o38UJ+mTxwEqFNHx+Qx0qNzP5vg1SO3CSknnBBZYiryMgEAIpbRaS045P3V/hkJar92vVrbIW+5rBKiFDWUpRT+YGNEDwNc7X6jMQJVluNgZGeZeFQGyHNWnywhodH0zyG6SwG2ADApz1TxLxJ65kaWURlOFcnMwA2p2EbzcokBkEag8CExr4C/W3PZL8H5xT189Y5k7yCQTHD24giWGZbyB5oS9c04BMEqQVX9eiChqDXdoBppBMcz/coCZtQTXin26J4d3O4R2BQyP81TKx1UNJD8fhRbZps4xBih3OWUxMciuOt+DoR0em8607TmsxYJe+nDtZ03/n3oG+riTEqnMgexLH6BHnyfkmAMkFTjlbVzx631VJMiA/hwpM5Z0u5I4sWGRwfMA4QfUQTQ7AbXNSvO7HzFe6io6F4znIpAzPtq7q7SUjjoZVahazY1Avxs44xxmRUsukB/ru9YH/2FdUgvNZrzQSBMoJVea0mK8wECe1uOKIHT/TAZEd6lfDKQ8cGLF+DUP86QK174UFIJz0X2fo3uRMnx3+jOShn10tD+BbGeXb/Gt7gX5tsqjTYO/UTnv9jSeoWVxLQoLLStuZSLAHf/nnWrAogThHv2GBNBKiXac+SqsMMjOO4LXY75sn0uW+rbcNkwgytUIWG8nGOKACz7Bq8CmJ4p3bmc="
    - stage: eb-deploy-staging
      script:
#        - ./set-agora-version.sh || travis_terminate 1
        - zip /tmp/agora-app.zip -qr9 * .[^.]*
      node_js: 16
      deploy:
        - provider: elasticbeanstalk
          edge: true  # opt in to dpl v2
          cleanup: true
          bucket: org-sagebase-agora-deployment-agora-staging
          zip_file: /tmp/agora-app.zip
          region: us-east-1
          app: agora-ampad
          env:
            staging: agora-staging
            DISABLE_OPENCOLLECTIVE: true
          wait_until_deployed: true
          access_key_id: AKIAZ5GJ3GCELHWLMUUX
          secret_access_key: $AwsTravisSecretAccessKey_staging
#            secure: "EjW7VsTMnwcdNkZ+5/cUduYpOOTDiMBNXodPHaAB56A1SQcIa7W380s5sP9QyNP+FTdgYMk0dqi+/w66n0jqxCJPbtIPxuup4ZFN8Qm1TW7wT6FyQEq66W/1tyQOQZKbT5Gnfu9Ba4efPKX8pB3hN5BhsBN4Ussgw7qnSTCI+8JTX+43uiffVc1aZnc8PtJJj62i125+aZNiMlIwBe1dzq1HUAb1UiVXEWEVpzXN6EF/n/+EoGMVXVt1a76wr3/7jEsjYXqQzKLoU6YrsUb7m//FycgSOa2l9VYLpMak6KwE794IKpgTCevffQA5+wL2vjhJ1Pf3zLTx0IE17nxq35LxIeXmKnuAnH3FI58+8F0y/nbsjYg8mhHIMQTZDqevvDwS9bYcuueBSXztZEI6Fdip8EAWmL0EuuSCMKFxlZ3FfAdvv2REakBhswH7d7fSGKq95ePTg6JBTQLGc1q+Bb8ek1HZiskQ0gicx9GXpB972aKeMrFT/SrC6YZtRgN3BSozQwginuALxlbp4PnvzhDuaaQ1gUx+bxf927ItPcRot5b/K0BX9FwVKfBMHmlZPoK6WvGJWL0nlC3MtNh+0MxSV3WXiEjzgPOpYH9EFLwonG/8P4hm7IZRLwYThgPimyIAUKacMtElatm5Z6rwIvx+lWBAjJwxYkAY8asQ/KQ="
    - stage: eb-deploy-prod
      script:
#        - ./set-agora-version.sh || travis_terminate 1
        - zip /tmp/agora-app.zip -qr9 * .[^.]*
      node_js: 16
      deploy:
        - provider: elasticbeanstalk
          edge: true  # opt in to dpl v2
          cleanup: true
          bucket: org-sagebase-agora-deployment-agora-prod
          zip_file: /tmp/agora-app.zip
          region: us-east-1
          app: agora-ampad
          env:
            prod: agora-prod
            DISABLE_OPENCOLLECTIVE: true
          wait_until_deployed: true
          access_key_id: AKIAZ5GJ3GCELHWLMUUX
          secret_access_key: $AwsTravisSecretAccessKey_prod
#            secure: "EjW7VsTMnwcdNkZ+5/cUduYpOOTDiMBNXodPHaAB56A1SQcIa7W380s5sP9QyNP+FTdgYMk0dqi+/w66n0jqxCJPbtIPxuup4ZFN8Qm1TW7wT6FyQEq66W/1tyQOQZKbT5Gnfu9Ba4efPKX8pB3hN5BhsBN4Ussgw7qnSTCI+8JTX+43uiffVc1aZnc8PtJJj62i125+aZNiMlIwBe1dzq1HUAb1UiVXEWEVpzXN6EF/n/+EoGMVXVt1a76wr3/7jEsjYXqQzKLoU6YrsUb7m//FycgSOa2l9VYLpMak6KwE794IKpgTCevffQA5+wL2vjhJ1Pf3zLTx0IE17nxq35LxIeXmKnuAnH3FI58+8F0y/nbsjYg8mhHIMQTZDqevvDwS9bYcuueBSXztZEI6Fdip8EAWmL0EuuSCMKFxlZ3FfAdvv2REakBhswH7d7fSGKq95ePTg6JBTQLGc1q+Bb8ek1HZiskQ0gicx9GXpB972aKeMrFT/SrC6YZtRgN3BSozQwginuALxlbp4PnvzhDuaaQ1gUx+bxf927ItPcRot5b/K0BX9FwVKfBMHmlZPoK6WvGJWL0nlC3MtNh+0MxSV3WXiEjzgPOpYH9EFLwonG/8P4hm7IZRLwYThgPimyIAUKacMtElatm5Z6rwIvx+lWBAjJwxYkAY8asQ/KQ="
