.outer-breadcrumb {
  border: 0px;
  border-radius: 0px;
  padding: 12px;
  background: none;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -44px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 12px;
}

.outer-breadcrumb ul li .ui-menuitem-link {
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

//.fa-chevron-right:before
.outer-breadcrumb .fa-chevron-right:before {
    color: #ffffff !important;
}

.fa {
    border-color: none;
}

.ui-breadcrumb a {
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 14px;
}

.dropdown-button {
    background: transparent !important;
    border: 0px !important;
    border-color: transparent !important;
    color: #fff !important;
}

.dropdown-button .fa {
    color: #fff !important;
    font-size: 22px;
    border: 0px !important;
    border-color: transparent !important;
}

.main {
    font-family: "Open Sans";
    font-size: 14px;
}

button:focus {outline:0;}

.small-vpadding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.old-outer-breadcrumb {
  border: 0px;
  border-radius: 0px;
  padding: 12px;
  background: none;
  margin-left: 44px;
}

.gradientheader {
  background: linear-gradient(89deg, #17b3ee, #8dff4d);
  background-size: 400% 400%;
}

.ui-breadcrumb ul li {
  color: #353535;
}

.ui-breadcrumb a {
  font-family: 'Montserrat';
  font-weight: lighter;
  font-size: 14px;
}

.ui-breadcrumb ul li .ui-menuitem-link {
  background: none;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
  color: white;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding {
  padding: 0px;
}

.fa:hover {
  cursor: pointer;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.ui-menuitem-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.builder-text {
  font-size: 80%;
  Font-family: "Montserrat";
  color: black;
  text-transform: uppercase;
}

.builder-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu-col {
    margin-right: -40px;
    margin-left: -20px;
}

.menu-col > button {
    position: static;
}

.menu-col .ui-menu {
    width: 12.5em;
    padding: .25em;
}

.ui-menu.ui-menu-dynamic {
    display: none;
    z-index: 100000 !important;
    border: #424242 !important;
    font-family: "Open Sans";
    opacity: .90 !important;
    position: absolute;
    color: white;
    border-radius: 0;
    min-width: 250px;
    margin: 0;
    padding: 25%;
    margin-top: 3px;
    background: #45484d;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
    left: -38px !important;
    border-radius: 0px !important;
    top: 33px !important;
}

.ui-helper-clearfix {
    zoom: 1;
}

#mobile-icon,
#mobile-icon:hover,
#mobile-icon:active,
#mobile-icon:focus,
#mobile-menu a,
#mobile-menu label {
  margin-top: 10px;
}

#mobile-icon {
  position: fixed;
  z-index: 10;
  display: block;
  height: 25px;
  cursor: pointer;
}

#mobile-menu #line {
  display: block;
  width: 23px;
  height: 2px;
  background: #fff;
}

#mobile-menu #line:after,
#mobile-menu #line:before {
  content: "";
  display: block;
  width: 23px;
  height: 2px;
  background: #fff;
  margin: 4px 0;
  position: relative;
  top: 6px;
}

#mobile-menu #mobile-menu-items {
  background: black;
  position: fixed;
  width: 20%;
  color: white;
  z-index: 10000;
  margin-top: 7px;
  display: none;
  left: 0;
}

#mobile-menu input[type=checkbox] {
  position: absolute;
  top: -9999px;
}

#mobile-check:checked~#mobile-menu-items {
  display: flex !important;
  flex-flow: column;
  transform-origin: top left;
  animation: anim 0.5s ease-in-out forwards;
}

@keyframes anim {
  0% {
    top: -100%;
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    top: 30px;
    opacity: 1;
  }
}

#mobile-menu #mobile-menu-items>div {
  position: relative;
}

#mobile-menu-items label:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  right: 25px;
  top: 17px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#mobile-menu #mobile-menu-items>div>div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  line-height: 1.0;
  margin-bottom: 7px;
  letter-spacing: 0.5px;
  margin-top: 0px;
  display: none;
}

#mobile-menu #mobile-menu-items label,
#mobile-menu #mobile-menu-items a {
  color: white;
  font-size: 18px;
  padding: 5px 0 5px 42px;
  text-decoration: none;
}

#mobile-menu #mobile-menu-items>div>a,
#mobile-menu #mobile-menu-items>div>label {
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 14px;
  display: block;
  padding-left: 17px;
  font-family: "Montserrat" !important;
  cursor: pointer;
}

#mobile-menu #mobile-menu-items>div:not(:first-of-type)>a,
#mobile-menu #mobile-menu-items>div:not(:first-of-type)>label {
  border-top: 1px solid white;
}

#mobile-menu #mobile-menu-items>div>a:hover,
#mobile-menu #mobile-menu-items>div>a:focus,
#mobile-menu #mobile-menu-items>div>a:active,
#mobile-menu #mobile-menu-items>div>label:hover,
#mobile-menu #mobile-menu-items>div>label:focus,
#mobile-menu #mobile-menu-items>div>label:active {
  background: #4656A4;
  opacity: 1;
  text-decoration: none;
}

#mobile-menu-items input:checked~div {
  display: flex !important;
}

#mobile-menu-items input:checked~label:after {
  transform: rotate(-45deg) !important;
  transition: all 0.2s ease-in-out;
  top: 21px;
}

#mobile-menu #mobile-menu-items {
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, rgba(0, 0, 0, 0.88) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #45484d 0% rgba(0, 0, 0, 0.88) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #45484d 0%, rgba(0, 0, 0, 0.88) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  position: fixed;
  width: 20%;
  color: #ffffff;
  z-index: 10000;
  margin-top: 78px;
  display: none;
  left: 0;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

#mobile-menu #mobile-menu-items>div>label {
  font-size: 14px;
  font-family: "Open Sans";
  display: block;
  padding-left: 17px;
  color: #fff;
}

#mobile-menu #mobile-menu-items>div>label:hover {
  background: none;
  opacity: .8;
  text-decoration: none;
}

#mobile-menu #mobile-menu-items a {
  color: white;
  font-size: 13px;
  font-family: "Open Sans";
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 42px;
  cursor: pointer;
}

#mobile-menu #mobile-menu-items a:hover {
  text-decoration: underline;
}

#mobile-menu #mobile-menu-items>div:not(:first-of-type)>a,
#mobile-menu #mobile-menu-items>div:not(:first-of-type)>label {
  border-top: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  >.col,
  >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.breadcrumb-menu {
    opacity: 0.95 !important;
    margin-left: 57px !important;
    border-radius: 0px !important;
    margin-top: -0.8px !important;
}

.ui-menu .ui-menuitem-text {
  color: white;
  font-family: "Open Sans";
}
