.custom-breadcrumb {
  border: 0px;
  border-radius: 0px;
  padding: 12px;
  background: none;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -44px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 12px;
}

.custom-breadcrumb ul li .ui-menuitem-link {
    -webkit-text-fill-color: #ffffff;
    color: #ffffff;
}

//.fa-chevron-right:before
.custom-breadcrumb .fa-chevron-right:before {
    color: #ffffff !important;
}

.fa {
    border-color: none;
}

.ui-breadcrumb a {
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 14px;
}

.breadcrumb-row {
    font-family: "Open Sans";
    font-size: 14px;
    margin-right: 0px;
}

button:focus {outline:0;}

.small-vpadding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.gradientheader {
  background: linear-gradient(89deg, #17b3ee, #8dff4d);
  background-size: 400% 400%;
}

.ui-menuitem-link {
    background: transparent;
}
