<div class="ui-rtl" dir="rtl">
    <p-dialog header="" [(visible)]="display" [modal]="true" [responsive]="true" [minY]="256"
        [baseZIndex]="10000" [styleClass]="'brn-dialog'" [ngStyle]="{'minWidth': 330}">
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <h1 class="header-span" dir="ltr">
                    Tissue Specificity of Gene Connections
                </h1>
            </div>
        </div>
        <div class="row content-row first-bp-dia-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                The tissue types in which the RNA-seq gene coexpression connection was observed.
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <h1 class="header-span" dir="ltr">
                    Brain Tissues
                </h1>
            </div>
        </div>
        <div class="row content-row first-bp-dia-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>DLPFC: Dorsolateral Prefrontal Cortex</p>
                <p>TCX: Temporal Cortex</p>
                <p>CBE: Cerebellum</p>
                <p>PHG: Parahippocampal Gyrus</p>
                <p>STG: Superior Temporal Gyrus</p>
                <p>FP: Frontal Pole</p>
                <p>IFG: Inferior Frontal Gyrus</p>
            </div>
        </div>
    </p-dialog>
</div>
