<div *ngIf="gene" class="container-fluid">
    <div class="row small-padding-top">
        <div class="col-md-12">
            <gene-overview [gene]="gene" [style]="{'height':'50vh'}"></gene-overview>
        </div>
    </div>
    <div class="row small-padding-top">
        <div class="col-md-12">
            <gene-rnaseq-de [gene]="gene" [style]="{'height': '50vh'}"></gene-rnaseq-de>
        </div>
    </div>
    <div class="row small-padding-top">
        <div class="col-md-12">
            <gene-oddi-druggability [gene]="gene" [style]="{'height':'50vh'}"></gene-oddi-druggability>
        </div>
    </div>
    <div class="row small-padding-top">
        <div class="col-md-12">
            <gene-lilly-drugebility [gene]="gene" [style]="{'height': '50vh'}"></gene-lilly-drugebility>
        </div>
    </div>
    <div class="row small-padding-top">
        <div class="col-md-12">
            <gene-nomination-view [gene]="gene" [style]="{'height': '50vh'}"></gene-nomination-view>
        </div>
    </div>
</div>
