<div class="section-intro-desc center-justified">
    <h1>
        Welcome!
    </h1>
    <p>
        The wall of targets is designed for users to discover and explore evidence linking gene's
        to Alzheimer's disease based on molecular signatures of dementia.  Data is derived from
        multiple human and model system cohorts in the AMP-AD, M2OVE-AD, MODEL-AD, and
        Resilience-AD consortia that include genome sequencing, RNA-sequencing, proteomics,
        metabolomic, and more.
    </p>
</div>

<div class="section-intro-search center-justified">
    <h2>
        Search for a gene
    </h2>
    <p class="black-paragraph">
        Please type a gene symbol in the search box below.
    </p>
    <gene-search></gene-search>
    <!-- Add popular genes here -->
    <!--<p>
        Popular community searches.
    </p>-->
</div>

<div class="section-intro-nomlist center-justified">
    <h2>
        View nominated target list
    </h2>
    <p class="black-paragraph">
        A list of genes nominated by AMP-AD groups as targets of interest.  Each AMP-AD
        team has deployed state of the art systems biology methods to integrate across genomic,
        transcriptomic, and proteomic data from over 2000 participant brains.  Each target
        represents a gene with multiple lines of evidence and is a candidate driver of Alzheimer
        disease etiology.
    </p>
    <div class="row list-control-row">
        <p-button (click)="goToRoute('/genes', { outlets: {'genes-router': [ 'genes-list' ] }})"
            label="View all nominated targets"
            [styleClass]="'list-button'">
        </p-button>
    </div>
</div>