<div class="section section-hero intro-desc center-justified-last video-section">
    <div class="intro-video">
        <img *ngIf="!showVideo" src="/assets/img/VideoBG.png" (click)="playVideo()">
        <iframe #frame *ngIf="showVideo" src="https://www.youtube.com/embed/GX_Gukyev2M?autoplay=1&controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <h1 class="center-text">
        Discover Alzheimer’s Disease Genes
    </h1>
    <gene-search></gene-search>
</div>
