<div *ngIf="gene" class="section section-hero">
  <div class="section-inner">
    <div class="container-sm">
      <h1 class="gene-hero-heading">
        {{ gene.hgnc_symbol || gene.ensembl_gene_id }}
      </h1>
      <h2 class="gene-hero-name">
        {{ gene.name }}
      </h2>
      <div *ngIf="showNominationsOrTEP()" class="gene-hero-nominated">
        <span *ngIf="gene.nominations">Nominated Target</span>
        <span *ngIf="gene.is_tep || gene.is_adi">{{ getTEPText() }}</span>
      </div>
      <p class="gene-hero-summary">
        {{ getSummary(true) }}
      </p>
      <p class="gene-hero-provider">
        {{ getSummary() }}
      </p>
      <ng-container *ngIf="gene.bio_domains || getAlias()">
        <hr />
        <div *ngIf="gene.bio_domains" class="gene-hero-biodomains">
          <h4 class="gene-hero-biodomains-heading">Biological Domains</h4>
          <p>
            {{ getBiodomains() }}
          </p>
        </div>
        <div *ngIf="getAlias()" class="gene-hero-aliases">
          <h4 class="gene-hero-aliases-heading">Also known as</h4>
          <p *ngIf="gene.hgnc_symbol" class="mb-0">{{ gene.ensembl_gene_id }}</p>
          <p>
            {{ getAlias() }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
