<div *ngIf="gene" class="section section-hero">
  <div class="section-inner">
    <div class="container-sm">
      <h1 class="h2 gene-hero-heading">
        {{ gene.hgnc_symbol || gene.ensembl_gene_id }}
      </h1>
      <p class="gene-hero-name">
        {{ gene.name }}
      </p>
      <div *ngIf="gene.nominations" class="gene-hero-nominated">
        <span>Nominated Target</span>
      </div>
      <p class="gene-hero-summary">
        {{ getSummary(true) }}
      </p>
      <p class="gene-hero-provider">
        {{ getSummary() }}
      </p>
      <hr />
      <div *ngIf="getAlias()" class="gene-hero-aliases">
        <div class="gene-hero-aliases-heading">Also known as</div>
        <p *ngIf="gene.hgnc_symbol" class="mb-0">{{ gene.ensembl_gene_id }}</p>
        <p>
          {{ getAlias() }}
        </p>
      </div>
    </div>
  </div>
</div>
