@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.beta-button {
    background: #FFFFFF !important;
    border-radius: 100px !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: bold !important;
    line-height: normal !important;
    font-size: 18px !important;
    color: #73C8CC !important;
    border: 1px solid #73C8CC !important;
    margin-right: 10px !important;
    cursor: context-menu;
}

p-button {
    button .beta-button {
        background: #FFFFFF !important;
        border-radius: 100px !important;
        font-family: Lato !important;
        font-style: normal !important;
        font-weight: bold !important;
        line-height: normal !important;
        font-size: 18px !important;
        color: #73C8CC !important;
        border: 1px solid #73C8CC !important;
        margin-right: 10px !important;
    }
}

.beta-contact-us {
    color: black;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
}

.beta-coming-soon {
    margin-bottom: auto;
    margin-top: auto;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    font-size: 18px;
    color: #1A1C29;
    text-align-last: center;
}
