<div class="row beta-wrapper no-gutters">
    <div class="row beta-row no-gutters">
        <div class="col-md-2 col-sm-2 col-1"></div>
        <div class="col-md-8 col-sm-8 col-10 beta-coming-soon">
            <p-button label="BETA" [styleClass]="'beta-button'" tabindex="0">
            </p-button>
            <span class="beta-row-span">
                &nbsp;&nbsp;Agora is a new service. Please
            </span>
            <a class="beta-contact-us" href="mailto:agora@sagebionetworks.org?Subject=Agora%20Feedback" target="_top">contact us</a>
            <span class="beta-row-span">
                with questions or feedback.
            </span>
        </div>
        <div class="col-md-2 col-sm-2 col-1"></div>
    </div>
</div>