<div class="row back-home-wrapper no-gutters">
    <div class="row back-home-wrapper no-gutters">
        <div class="row back-home-row no-gutters">
            <div class="col-md-12 col-sm-12 col-12 coming-soon">
                <p-button label="BETA" [styleClass]="'beta-button'">
                </p-button>
                <span>
                    Agora is a new service. Please
                </span>
                <span class="beta-underline">
                    contact us
                </span>
                <span>
                    with questions or feedback.
                </span>
            </div>
        </div>
    </div>
</div>