<div class="nomlist-list linkstable similar-table" tabindex="0">
    <div class="section top-section section-hero">
        <h1>Similar Genes</h1>
        <p *ngIf="gene">
            Genes that are similar to <span class="link" (click)="navigateBackToGene()">{{gene.hgnc_symbol || gene.ensembl_gene_id}}</span> based on network coexpression.
        </p>
        <p *ngIf="!gene">
            Genes that are similar based on network coexpression.
        </p>
        <more-info [name]="'sp'" [text]="'Learn more about this table'">
            <sp-dialog></sp-dialog>
        </more-info>
    </div>
    <div class="row spacing-row"></div>
    <p-table ngsf-fullscreen #gl
        [columns]="selectedColumns" [value]="genesInfo" selectionMode="single"
        [(selection)]="selectedInfo"
        [paginator]="false"
        [rows]="14"
        [responsive]="false"
        [scrollHeight]="getFullscreenStyle()"
        [scrollable]="true"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (sortFunction)="customSort($event)"
        (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)"
        [customSort]="true"
        [ngClass]="getFullscreenClass()">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="getColumnStyleString(col)">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="row icon-row">
                <div class="col-md-11 col-sm-11 col-9 title-col">
                    Similar Genes
                </div>
                <div class="col-md-1 col-sm-1 col-3 icon-col">
                    <i [ngClass]="getWindowClass()" (click)="toggleFullscreen()"></i>
                    <i class="pi pi-download table-icon absolute-icon" (click)="downloadTable()"></i>
                    <p-multiSelect
                        [options]="cols"
                        [(ngModel)]="selectedColumns"
                        optionLabel="header"
                        selectedItemsLabel=""
                        maxSelectedLabels="0"
                        displaySelectedLabel="false"
                        defaultLabel=""
                        dropdownIcon="pi pi-bars custom-bars"
                        [showHeader]="false"
                        [panelStyle]="{minWidth:'15em'}"
                        [appendTo]="body"
                        (onChange)="reorderValues($event)">
                        <ng-template let-col pTemplate="item">
                            <div class="multiselect-option">{{col.label}}</div>
                        </ng-template>
                    </p-multiSelect>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="" *ngFor="let col of columns; let i = index;" [ngSwitch]="col.field">
                    <div class="tr">
                        <div [pSortableColumn]="col.field" class="th">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </div>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{colFinalValue(rowData, col.field)}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
