<div class="section-thin section-hero overview-header similar-page" tabindex="0">
    <div class="row no-gutters">
        <div class="col-12 sp-info-header">
            <h1>Similar Genes</h1>
            <more-info [name]="'sp'" [text]="'Learn more about this table'">
                <sp-dialog></sp-dialog>
            </more-info>
        </div>
    </div>
</div>

<div class="nomlist-list center-justified-last linkstable">
    <p-table #gl [columns]="cols" [value]="genesInfo" selectionMode="single"
        [(selection)]="selectedInfo"
        [paginator]="true"
        [rows]="14"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (sortFunction)="customSort($event)"
        (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)"
        [customSort]="true"
        [tableStyle]="{'table-layout':'auto'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of cols; let i = index;" [pSortableColumn]="getSortColumnField(i, col)">
                    {{col.header}}
                    <p-sortIcon [field]="getSortColumnField(i, col)"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
            <td class="default-td">
               {{rowData[columns[0].field]}}
            </td>
            <td class="default-td">
                {{rowData[columns[1].field]?'YES':'NO'}}
            </td>
            <td class="default-td">
                {{rowData[columns[2].field]}}
            </td>
            <td class="default-td">
                {{rowData[columns[3].field]}}
            </td>
            <td class="default-td">
                {{druggability(rowData[columns[4].field])}}
            </td>
            <td class="default-td">
                {{druggabilitypc(rowData[columns[5].field])}}
            </td>
            </tr>
        </ng-template>
    </p-table>
</div>