@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.similar-page {
    .sp-info-header {

        h1 {
            text-align: center;
        }

        .info-icon {
            content: url("/assets/icon/info-icon2.svg");
        }
    }
}

.default-td {
    width: 15%;
}

.ui-paginator-bottom {
    .ui-paginator-element {
        color: color(text, secondary);
    }
}

.overview-header {
    &.similar-page {
        text-align: center;

        .link-heading {
            color: color(text, secondary);
            float: left;
            margin-left: 50%;
            transform: translate(-50%);
            margin-bottom: 20px;
        }

        p-button {
            @include respond-to('ex-small') {
                width: 70%;
            }

            width: 100%;
            height: 100%;

            button {
                width: 100%;
                height: 100%;
            }
        }
    }
}
