@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.info-header {
    padding-right: 5% !important;
}

.overview-header {
    .fa-star::before {
        color: #FACFAF;
    }
    .row {
        align-items: center;
    }
    p-button {
        @include respond-to('ex-small') {
            width: 70%;
        }
        width: 100%;
        height: 100%;
        button {
            width: 100%;
            height: 100%;
        }
    }
    .nom-button-col {
        @include respond-to('ex-small') {
            margin-top: 20px;
        }
        @include respond-to('small') {
            margin-top: 20px;
        }
        @include respond-to('medium') {
            text-align: right;
        }
        @include respond-to('large') {
            text-align: right;
        }
        @include respond-to('ex-large') {
            text-align: right;
        }
    }
}
.nomlist-list {
  margin-top: -0.1em;
  background-color: transparent !important;
  width: auto;
  /* Scale the div to the parent width */

  @include respond-to('ex-small') {
    background-size: 1330px 350px;
  }

  @include respond-to('small') {
    background-size: 1330px 350px;
  }

  @include respond-to('medium') {
    background-size: 1330px 350px;
  }

  @include respond-to('large') {
    background-size: 1600px 421px;
  }

  @include respond-to('ex-large') {
    background-size: 100%;
  }

  background-position: top;
  /* Position the image to the top center of the div */

  .ui-table-caption {
    background-color: transparent;
    background: none;
    border: none;
    padding-bottom: 4%;
    position: relative;

    @include respond-to('ex-small') {
      padding-left: 0px;
      padding-right: 0px;
    }

    @include respond-to('small') {
      padding-left: 0px;
      padding-right: 0px;
    }

    >input {
      @include lato-font('normal');

      @include respond-to('ex-small') {
        width: 100%;
        padding-left: 4%;
      }

      @include respond-to('small') {
        width: 100%;
        padding-left: 4%;
      }

      @include respond-to('medium') {
        width: 42%;
        border-radius: 6px;
        padding-left: 2%;
      }

      @include respond-to('large') {
        width: 42%;
        border-radius: 6px;
        padding-left: 2%;
      }

      @include respond-to('ex-large') {
        width: 42%;
        border-radius: 6px;
        padding-left: 2%;
      }

      height: 50px;
      line-height: 50px;
      box-shadow: inset 0px 0px 4px #C7C5C5;
      text-align-last: left;
      font-size: 16px;
      border: 0px;

      ::-moz-placeholder,
      ::-ms-input-placeholder,
      ::-webkit-input-placeholder {
        color: #6C7489;
      }
    }

    i {
      position: absolute;
      z-index: 2;
      color: #FCCB6F;

      @include respond-to('ex-small') {
        left: 90%;
        top: 30%;
      }

      @include respond-to('small') {
        left: 92%;
        top: 27%;
      }

      @include respond-to('medium') {
        left: 66%;
        top: 24%;
      }

      @include respond-to('large') {
        left: 67%;
        top: 21%;
      }

      @include respond-to('ex-large') {
        left: 67.5%;
        top: 18%;
      }
    }
  }

  .ui-table-thead {
    .ui-state-highlight {
      color: #0D1C38;
    }

    >tr>th {
      @include lato-font('bold');

      background: #E1F4F5 !important;
      border: none;
      height: 63px;
      line-height: 40px;
      font-size: 18px;
      color: #0D1C38 !important;
    }

    @include respond-to('ex-small') {
      >tr>th:first-child {
        padding-left: 4%;
        text-align-last: left;
      }

      >tr>th:not(:first-child) {
        text-align-last: left;
      }

      .ui-sortable-column {
        font-size: 14px;
      }
    }

    @include respond-to('small') {
      >tr>th:first-child {
        padding-left: 4%;
        text-align-last: left;
      }

      >tr>th:not(:first-child) {
        text-align-last: left;
      }

      .ui-sortable-column {
        font-size: 16px;
      }
    }

    @include respond-to('medium') {
      >tr>th:first-child {
        text-align-last: center;
      }

      >tr>th:not(:first-child) {
        text-align-last: left;
      }

      .ui-sortable-column {
        font-size: 18px;
      }
    }

    @include respond-to('large') {
      >tr>th:first-child {
        text-align-last: center;
      }

      >tr>th:not(:first-child) {
        text-align-last: left;
      }

      .ui-sortable-column {
        font-size: 18px;
      }
    }

    @include respond-to('ex-large') {
      >tr>th:first-child {
        text-align-last: center;
      }

      >tr>th:not(:first-child) {
        text-align-last: left;
      }

      .ui-sortable-column {
        font-size: 18px;
      }
    }
  }

  .ui-table-tbody {
    >tr.ui-state-highlight {
      background-color: rgba(91, 176, 181, 0.25) !important;
    }

    >tr>td {
      @include lato-font('normal');

      border: 0px;
      line-height: 40px;

      padding: .25em .5em;

      @include respond-to('ex-small') {
        font-size: 14px;
      }

      @include respond-to('small') {
        font-size: 16px;
      }

      @include respond-to('medium') {
        font-size: 18px;
      }

      @include respond-to('large') {
        font-size: 18px;
      }

      @include respond-to('ex-large') {
        font-size: 18px;
      }

      color: #1A1C29 !important;
      height: 40px;
    }

    @include respond-to('ex-small') {
      >tr>td:first-child {
        padding-left: 4%;
        text-align-last: left;
      }

      >tr>td:not(:first-child) {
        text-align-last: left;
      }

      >tr>td:last-child {
        padding-right: 4%;
      }
    }

    @include respond-to('small') {
      >tr>td:first-child {
        padding-left: 4%;
        text-align-last: left;
      }

      >tr>td:not(:first-child) {
        text-align-last: left;
      }

      >tr>td:last-child {
        padding-right: 4%;
      }
    }

    @include respond-to('medium') {
      >tr>td:first-child {
        text-align-last: center;
      }

      >tr>td:not(:first-child) {
        text-align-last: left;
      }
    }

    @include respond-to('large') {
      >tr>td:first-child {
        text-align-last: center;
      }

      >tr>td:not(:first-child) {
        text-align-last: left;
      }
    }

    @include respond-to('ex-large') {
      >tr>td:first-child {
        text-align-last: center;
      }

      >tr>td:not(:first-child) {
        text-align-last: left;
      }
    }
  }

  .ui-sortable-column-icon {
    color: #5BB0B5 !important;
  }
}
