<div *ngIf="data">
    <div *ngFor="let d of data; let i = index">
        <div *ngIf="i == 0" class="section-thin overview-header no-padding-bottom" tabindex="0">
            <div class="row no-gutters">
                <div>
                    <h2 *ngIf="data">Experimental Validation of {{d.hgnc_symbol}}</h2>
                    <p class="no-margin-bottom no-padding">
                        Nominating teams provided details on experimental validation studies they performed to examine a role for the target in AD.
                    </p>
                </div>
            </div>
            <h1 class="inner-section-divider"></h1>
        </div>
        <div class="section-thin no-padding-top overview-sections">
            <h2>{{getTeamInfoField(d.team, "program")}} : {{getTeamInfoField(d.team, "team_full")}}</h2>
            <p class="col-8 section-desc">{{getTeamInfoField(d.team, "description")}}</p>
            <h4>Hypothesis Being Tested</h4>
            <p class="col-8 section-desc">{{d.hypothesis_tested}}</p>
            <h4>Species and Model System</h4>
            <p class="col-8 section-desc">
                {{d.species}}<span *ngIf="d.species && d.model_system">; </span>
                <span *ngIf="d.model_system">{{d.model_system}}</span>
            </p>
            <h4>Outcome Measure</h4>
            <p class="col-8 section-desc">
                {{d.outcome_measure}}<span *ngIf="d.outcome_measure && d.outcome_measure_details">; </span>
                <span *ngIf="d.outcome_measure_details">{{d.outcome_measure_details}}</span>
            </p>
            <h4>Summary of Findings</h4>
            <p class="col-8 section-desc">{{d.summary_findings}}</p>
            <h4>Contributors</h4>
            <p class="col-8 section-desc">{{d.contributors}}</p>
            <h4>Published?</h4>
            <p class="col-8 section-desc">
                {{d.published}}<span *ngIf="d.published && d.reference_doi">; </span>
                <span *ngIf="d.reference_doi"><a class="link-heading" [href]="d.reference_doi" target="_blank">{{d.reference_doi}}</a></span>
            </p>
            <h4>Date of Report</h4>
            <p class="col-8 section-desc">{{d.date_report}}</p>
        </div>
        <div *ngIf="i<data.length-1" class="section-thin no-padding-top"><h1 class="inner-section-divider"></h1></div>
    </div>
</div>
