$scrollbar-thumb-color: #878E95;
$scrollbar-thumb-hover-color: #4A5056;

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 683px;

    #left-hand-pane {
        border-width: 1px 0 1px 1px;
        border-color: #F1F3F5;
        border-style: solid;
        padding: 36px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #right-hand-pane {
        width: 525px;
        background-color: #F1F3F5;
        padding: 0 36px 36px;
        overflow: auto;
        position: relative;

        h3 {
            padding-top: 36px;
            background-color: #F1F3F5;
            position: sticky;
            top: 0;
        }

        #notch {
            position: absolute;
            left: 0;
            top: 40px;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid white;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        
            li {
                padding: 0 0 15px;
                font-size: 14px;
            }
        }
    }
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

// CUSTOM SCROLLBAR START

/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Hide the track */
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbar-thumb-hover-color;
}

/* Firefox */
@supports (scrollbar-color: $scrollbar-thumb-color transparent) {
    * {
        scrollbar-color: $scrollbar-thumb-color transparent;
        scrollbar-width: thin;
    }
}

// CUSTOM SCROLLBAR END