<div id="container">
    <div id="left-hand-pane">
        <h3>BIOLOGICAL DOMAIN MAPPINGS</h3>
        <biodomains-chart 
            [data]="gene?.bio_domains?.gene_biodomains"
            [geneName] = "getGeneName()"
            (selectedBioDomainIndex)="onSelectedBioDomain($event)"
        ></biodomains-chart>
    </div>
    <div id="right-hand-pane">
        <h3>{{ getHeaderText() }}</h3>
        <ul>
            <li *ngFor="let goTerm of goTerms">
                {{ capitalizeGoTerm(goTerm) }}
            </li>
        </ul>
    </div>
</div>
