<div class="section-thin overview-header">
    <div class="row no-gutters">
        <div class="col-md-12 col-sm-12 col-12 info-header">
            <h1>Create a Synapse Account</h1>
            <p>
                In order to access data used in Agora, you will need to create a Synapse account.
            </p>
        </div>
    </div>
</div>

<div class="section-thin synapse-desc">
    <div class="row">
        <div class="col-md-12 synapse-img-col">
            <img class="synapse-img" src="/assets/img/synapse.png">
        </div>
    </div>
    <h2>
        What is Synapse?
    </h2>
    <p class="black-paragraph synapse-desc-paragraph">
        Synapse[linkto synapse.org] is an open source software platform that data scientists can use to
        carry out, track, and communicate their research in real time. Synapse enables co-location of
        scientific content (data, code, results) and narrative descriptions of that work. Synapse has
        seeded a growing number of living research projects and resources including Sage/DREAM Challenges.
        <span class="span-vspacing"></span>
        Sage Bionetworks[linkto sagebionetworks.org] provides Synapse services free of charge to the
        scientific community through generous support from various funding sources. Synapse hosts many
        living research projects and resources including Sage/DREAM Challenges.
    </p>
    <h2>
        How to Access the Data
    </h2>
    <div class="row">
        <div class="col-md-1 col-sm-2 col-2">
            <h1>1</h1>
        </div>
        <div class="col-md-11 col-sm-10 col-10">
            <p class="black-paragraph">
                Have an account on Synapse. When registering, you must review and agree to the
                Synapse governance policies and procedures (Terms and Conditions of Use, Privacy
                Policy, Awareness and Ethics Pledge). See the Synapse Commons Governance Overview
                for details.
            </p>
        </div>
        <div class="col-md-1 col-sm-2 col-2">
            <h1>2</h1>
        </div>
        <div class="col-md-11 col-sm-10 col-10">
            <p class="black-paragraph">
                Agree to abide by the Synapse guiding principles for responsible research use
                and data handling.
            </p>
        </div>
        <div class="col-md-1 col-sm-2 col-2">
            <h1>3</h1>
        </div>
        <div class="col-md-11 col-sm-10 col-10">
            <p class="black-paragraph">
                Agree to include the following acknowledgement statement in publications: "The
                results published here are in whole or in part based on data obtained from the
                AMP-AD Knowledge Portal accessed at doi:10.7303/syn2580853."
            </p>
        </div>
        <div class="col-md-1 col-sm-2 col-2">
            <h1>4</h1>
        </div>
        <div class="col-md-11 col-sm-10 col-10">
            <p class="black-paragraph">
                Read and accept any 'Data Specific Conditions for Use' when prompted.
            </p>
        </div>
        <div class="col-md-1 col-sm-2 col-2">
            <h1>5</h1>
        </div>
        <div class="col-md-11 col-sm-10 col-10">
            <p class="black-paragraph">
                Complete Data Use Certificate (DUC) steps if neccessary.
            </p>
        </div>
        <div class="col-md-12 col-sm-12 col-12 reg-button-col">
            <p-button (click)="viewSynapseReg()"
                label="Create Synapse Account"
                [styleClass]="'synapse-reg-button'">
            </p-button>
        </div>
    </div>
</div>
