<div class="section-thin section-hero overview-header" tabindex="0">
    <div class="row no-gutters">
        <div class="col-md-12 col-sm-12 col-12 info-header">
            <h1>Create a Synapse Account</h1>
            <p>
                In order to access data used in Agora, you will need to create a Synapse account.
            </p>
        </div>
    </div>
</div>

<div class="section-thin synapse-desc" tabindex="0">
    <div class="row">
        <div class="col-md-12 synapse-img-col">
            <img class="synapse-img" src="/assets/img/synapse.png">
        </div>
    </div>
    <h2>
        What is Synapse?
    </h2>
    <p class="black-paragraph synapse-desc-paragraph">
        Data is stored in <a class="link-us" href="https://www.synapse.org/" target="_blank">Synapse</a>, an open source software platform used by data scientists to carry out,
        track, and communicate research in real time. <a class="link-us" href="http://sagebionetworks.org/" target="_blank">Sage Bionetworks</a> provides Synapse services free
        of charge to the scientific community through generous support from various funding sources. The content available through
        Agora would not be possible without the generous participation of research volunteers and collaborating research investigators.
    </p>
    <h2>
        How to Access the Data
    </h2>
    <div class="row">
        <div class="col-md-1 col-sm-2 col-2">
            <h1>1</h1>
        </div>
        <div class="col-md-11 col-sm-10 col-10">
            <p class="black-paragraph">
                Register for a <a class="link-us" href="https://www.synapse.org/#!RegisterAccount:0" target="_blank">Synapse account</a> and agree to the Synapse <a class="link-us" href="http://docs.synapse.org/articles/governance.html" target="_blank">terms of use</a>.
            </p>
        </div>
        <div class="col-md-1 col-sm-2 col-2">
            <h1>2</h1>
        </div>
        <div class="col-md-11 col-sm-10 col-10">
            <p class="black-paragraph">
                Agree to acknowledge the portal in publications with the following statement: "The results published here are in whole or in part based on data obtained from Agora, a platform that shares evidence in support of AD target discovery initially developed by the NIA-funded AMP-AD consortium."
            </p>
        </div>
        <div class="col-md-1 col-sm-2 col-2">
            <h1>3</h1>
        </div>
        <div class="col-md-11 col-sm-10 col-10">
            <p class="black-paragraph">
                Submit the required Data Use Certificate.
            </p>
        </div>
        <div class="col-md-12 col-sm-12 col-12 reg-button-col">
            <img class="synapse-button" src="/assets/img/synapse_button.png" (click)="viewSynapseReg()" tabindex="0">
        </div>
    </div>
</div>
