@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.info-header {
    padding-right: 5% !important;
}

.overview-header {
    .row {
        align-items: center;
    }
}

.amp-ad-desc {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    .brain-img {
        width: 90px;
    }

    .brain-img-col {
        padding-right: 0px;

        @include respond-to('ex-small') {
            margin-right: 0px;
        }
        @include respond-to('small') {
            margin-right: -30px;
        }
        @include respond-to('medium') {
            margin-right: -30px;
        }
        @include respond-to('large') {
            margin-right: -30px;
        }
        @include respond-to('ex-large') {
            margin-right: -30px;
        }
    }

    .brain-header-col {
        padding-left: 0px;

        h2 {
            @include respond-to('ex-small') {
                font-size: 22px;
            }
            @include respond-to('small') {
                font-size: 24px;
            }
            @include respond-to('medium') {
                font-size: 24px;
            }
            @include respond-to('large') {
                font-size: 24px;
            }
            @include respond-to('ex-large') {
                font-size: 24px;
            }
        }
    }
}

.synapse-desc {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    .synapse-img {
        width: 243px;
    }

    h1 {
        font-size: 42px;
        color: #BCC0CA;
    }

    .col-md-11, .col-sm-10, .col-10,
    .col-md-1, .col-sm-2, .col-2 {
        margin-bottom: auto;
        margin-top: auto;
    }

    .reg-button-col {
        height: 52px;
        line-height: 52px;
        margin-top: 2%;
        margin-bottom: 2%;

        p-button {
            width: 100%;
            height: 100%;

            button {
                height: 100%;
            }

            @include respond-to('ex-small') {
                width: 85%;
            }

            cursor: pointer;
        }
    }

    .synapse-img-col {
        margin-bottom: 25px;
    }

    .synapse-desc-paragraph {
        margin-bottom: 38px;

        span-vspacing {
            margin-bottom: 30px;
        }
    }
}

.synapse-reg-button {
    background: #FCCB6F !important;
    border: 0px !important;
    color: black !important;
    border-radius: 100px;

    span {
        font-weight: bold;
    }
}

.about-control-row {
    display: block;
    height: 52px;
    margin-top: 8%;
    margin-bottom: 2%;
}

.link-us {
  color: #5BB0B5;
}