<div class="row align-items-center fixed-top-nav hidden">
    <div class="col-md-2" (click)="goHome()">
        <a href="/dashboard/">
        <img id="logo" src="assets/img/sage-bionetworks-logo.png"/>
    </a>
    </div>
    <div class="col-md-8">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Search genes">
            <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
        </div>
    </div>
    <div class="col-md-2 user-info">
        <a href="#" class="pull-left"><img class="user-img" src="assets/img/user.jpg"></a>
        <!--<p-splitButton label={{user.username}} [model]="items" [styleClass]="'user-nav-actions'"></p-splitButton>-->
        <p-splitButton label='Test User' [model]="items" [styleClass]="'user-nav-actions'"></p-splitButton>
    </div>
</div>
