.back-home-wrapper {
    width: 100%;
    height: 63px;
    margin-right: 0px;
    margin-left: 0px;
    background: linear-gradient(89.93deg, #5171C0 0.06%, #5BB0B5 99.94%);
}

.back-home-row {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    background: rgba(0, 0, 0, 0.15);
    background-blend-mode: darken;
    position: relative;

    i {
        top: 25%;
        left: 2%;
        position: absolute;
    }

    i:hover {
        cursor: pointer !important;
    }
}

.plot-content {
    min-height: 450px;
    margin-top: 2%;

    row-chart {
        width: 100%;
    }
}

.section-overview-header {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 2em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: linear-gradient(89.93deg, #5171C0 0.06%, #5BB0B5 99.94%);

    p {
        text-align: left;
    }
}

.section-rna-seq-sel {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 2em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }

    select {
        width: 100%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        color: #1A1C29;
        padding-left: 3%;
    }

    .dc-select-option {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        color: #1A1C29;
        padding-left: 10%;
    }

    .dc-select-option::before {
        padding-left: 10%;
    }

    .dc-select-option::after {
        padding-left: 10%;
    }
}

.section-rna-seq-bplot {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 2em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    p {
        text-align: left;
    }

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }
}

.section-rna-seq-fplot {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 2em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    p {
        text-align: left;
    }

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }
}
