<h1 class="inner-section-divider"></h1>
<div class="section-thin rna-seq-me" *ngIf="dataLoaded">
    <h2 class="filters-header">
        Overall Expression of Selected Gene Across Tissues
        <span class="icon-spacing"></span>
        <span class="icon-spacing"></span>
        <download *ngIf="!isEmptyGene" [target]="stme" [name]="'overall_exp_ac_tissues'"></download>
    </h2>
    <more-info [name]="'me2'">
        <me-dialog [header]="'Brain Tissues'" [name]="'me2'"></me-dialog>
    </more-info>
    <p class="black-paragraph">
        This plot depicts the median expression of the selected gene across tissues (brain regions) in
the dataset, as measured by RNA-seq read counts per million (CPM) reads. Meaningful expression is considered to be
anything greater than 0.7 Log CPM, which is equivalent to 5 CPM. This threshold is depicted by the red line in the
plot.
    </p>
    <div #stme>
        <ng-container *ngIf="!isEmptyGene; else noDataMedian">
            <median-chart [geneinfo]="geneInfo"></median-chart>
        </ng-container>
    </div>
    <ng-template #noDataMedian>
        <div class="no-median-data">
            <h2 class="placeholder-text">No expression data is currently available.</h2>
        </div>
    </ng-template>
</div>

<div class="section-thin rna-seq-bplot" *ngIf="dataLoaded">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-12 col-fixer">
            <h2>
                Differential Expression of Selected Gene within Selected Tissue
                <span class="icon-spacing"></span>
                <download *ngIf="!isEmptyGene" [target]="stbp" [name]="'dif_exp_tissue'"></download>
            </h2>
            <p class="black-paragraph de-paragraph">
                After selecting a tissue and statistical model, you will be able to see whether the
                selected gene is differentially expressed between AD cases and controls The box
                plot depicts how the differential expression of the selected gene of interest
                (red dot) compares with expression of other genes in the tissue. Summary statistics
                can be viewed by hovering over the red dot.
            </p>
            <h2 class="filters-header">
                Filter by Tissue and Model
            </h2>
            <h2 class="vmi-wrapper">
                <more-info [name]="'bp'">
                    <bp-dialog [name]="'bp'"></bp-dialog>
                </more-info>
            </h2>
            <div class="row multi-sel-row">
                <div class="col-md-10 col-sm-12 col-12">
                    <p-multiSelect *ngIf="!isEmptyGene"
                        [options]="tissues"
                        [(ngModel)]="selectedTissues"
                        [showToggleAll]="false"
                        [showHeader]="false"
                        [panelStyle]="{minWidth:'12em'}"
                        [defaultLabel]="getDefaultLabel()"
                        [dropdownIcon]="getDropdownIcon()"
                        (onPanelShow)="openDropdown()"
                        (onPanelHide)="closeDropdown()"
                        (onChange)="toggleTissue($event)">
                    </p-multiSelect>
                    <p-multiSelect #egms *ngIf="isEmptyGene"
                        [options]="emptySelection"
                        [(ngModel)]="selectedTissues"
                        [showToggleAll]="false"
                        [showHeader]="false"
                        [panelStyle]="{minWidth:'12em'}"
                        [defaultLabel]="emptySelectionLabel"
                        [dropdownIcon]="getDropdownIcon()"
                        [disabled]="true">
                    </p-multiSelect>
                </div>
            </div>
            <div class="row sm-row">
                <div class="col-md-10 col-sm-12 col-12">
                    <select-menu *ngIf="!isEmptyGene"
                        [promptText]="'All'"
                        [label]="'select-model'"
                        [defaultValue]="getModel(1)">
                    </select-menu>
                    <p-multiSelect #egmsc *ngIf="isEmptyGene"
                        [options]="emptySelection"
                        [(ngModel)]="selectedTissues"
                        [showToggleAll]="false"
                        [showHeader]="false"
                        [panelStyle]="{minWidth:'12em'}"
                        [defaultLabel]="emptySelectionLabel"
                        [dropdownIcon]="getDropdownIcon()"
                        [disabled]="true">
                    </p-multiSelect>
                </div>
            </div>
        </div>
        <div *ngIf="!isEmptyGene" #stbp class="col-md-4 col-sm-12 col-12">
            <ng-container>
                <!-- BoxPlots component-->
                <ng-template *ngFor="let tissue of tissues; let i = index" #t>
                </ng-template>
            </ng-container>
        </div>
        <div *ngIf="isEmptyGene" class="col-md-4 col-sm-12 col-12 empty-bplot-col">
            <h2 class="placeholder-text">No expression data is currently available.</h2>
        </div>
    </div>
</div>

<div class="section-thin rna-seq-fplot" *ngIf="dataLoaded">
    <h2>
        Consistency of Change in Expression
        <span class="icon-spacing"></span>
        <download *ngIf="!isEmptyGene" [target]="stfp" [name]="'consistency_chg_in_exp'"></download>
    </h2>
    <p class="black-paragraph">
        This forest plot indicates the estimate of the log fold change with standard errors across the
        tissues in the chosen model. Genes that show consistent patterns of differential expression will
        have similar log-fold change value across tissues.
    </p>
    <div #stfp>
        <row-chart *ngIf="!isEmptyGene"></row-chart>
    </div>
    <div *ngIf="isEmptyGene" class="row rc-empty-plot-content">
        <h2 class="placeholder-text">No expression data is currently available.</h2>
    </div>
</div>
