<div class="section-thin rna-seq-me" *ngIf="dataLoaded">
    <h2 class="filters-header">
        Overall Expression of Selected Gene Across Tissues
        <span class="icon-spacing"></span>
        <i class="fa fa-info-circle" (click)="showDialog('displayBRDia2')"></i>
        <span class="icon-spacing"></span>
        <span class="icon-spacing"></span>
        <download *ngIf="!isEmptyGene" [target]="stme" [name]="'overall_exp_ac_tissues'"></download>
    </h2>
    <p class="black-paragraph">
        This plot depicts the median expression of the selected gene across tissues (brain regions) in
        the dataset, as measured by RNA-seq read counts per million (CPM) reads. Meaningful expression
        is considered to be anything greater than 5 CPM.
    </p>
    <div #stme>
        <ng-container *ngIf="!isEmptyGene; else noDataMedian">
            <median-chart [geneinfo]="geneInfo"></median-chart>
        </ng-container>
    </div>
    <ng-template #noDataMedian>
        <div class="no-median-data">
            <h2 class="placeholder-text">No expression data is currently available.</h2>
        </div>
    </ng-template>
</div>

<div class="section-thin rna-seq-bplot" *ngIf="dataLoaded">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-12 col-fixer">
            <h2>
                Differential Expression of Selected Gene within Selected Tissue
                <span class="icon-spacing"></span>
                <download *ngIf="!isEmptyGene" [target]="stbp" [name]="'dif_exp_tissue'"></download>
            </h2>
            <p class="black-paragraph de-paragraph">
                After selecting a tissue and statistical model, you will be able to see whether the
                selected gene is differentially expressed between AD cases and controls The box
                plot depicts how the differential expression of the selected gene of interest
                (red dot) compares with expression of other genes in the tissue. Summary statistics
                can be viewed by hovering over the red dot.
            </p>
            <h2 class="filters-header">
                Filter by Tissue and Model
                <span class="icon-spacing"></span>
                <i class="fa fa-info-circle" (click)="showDialog('displayBPDia')"></i>
            </h2>
            <div class="row multi-sel-row">
                <div class="col-md-10 col-sm-12 col-12">
                    <p-multiSelect *ngIf="!isEmptyGene"
                        [options]="tissues"
                        [(ngModel)]="selectedTissues"
                        [showToggleAll]="false"
                        [showHeader]="false"
                        [panelStyle]="{minWidth:'12em'}"
                        [defaultLabel]="getDefaultLabel()"
                        [dropdownIcon]="getDropdownIcon()"
                        (onPanelShow)="openDropdown()"
                        (onPanelHide)="closeDropdown()"
                        (onChange)="toggleTissue($event)">
                    </p-multiSelect>
                    <p-multiSelect #egms *ngIf="isEmptyGene"
                        [options]="emptySelection"
                        [(ngModel)]="selectedTissues"
                        [showToggleAll]="false"
                        [showHeader]="false"
                        [panelStyle]="{minWidth:'12em'}"
                        [defaultLabel]="emptySelectionLabel"
                        [dropdownIcon]="getDropdownIcon()"
                        [disabled]="true">
                    </p-multiSelect>
                </div>
            </div>
            <div class="row sm-row">
                <div class="col-md-10 col-sm-12 col-12">
                    <select-menu *ngIf="!isEmptyGene"
                        [promptText]="'All'"
                        [label]="'select-model'"
                        [defaultValue]="getModel(1)">
                    </select-menu>
                    <p-multiSelect #egmsc *ngIf="isEmptyGene"
                        [options]="emptySelection"
                        [(ngModel)]="selectedTissues"
                        [showToggleAll]="false"
                        [showHeader]="false"
                        [panelStyle]="{minWidth:'12em'}"
                        [defaultLabel]="emptySelectionLabel"
                        [dropdownIcon]="getDropdownIcon()"
                        [disabled]="true">
                    </p-multiSelect>
                </div>
            </div>
        </div>
        <div *ngIf="!isEmptyGene" #stbp class="col-md-4 col-sm-12 col-12">
            <ng-container>
                <!-- BoxPlots component-->
                <ng-template *ngFor="let tissue of tissues; let i = index" #t>
                </ng-template>
            </ng-container>
        </div>
        <div *ngIf="isEmptyGene" class="col-md-4 col-sm-12 col-12 empty-bplot-col">
            <h2 class="placeholder-text">No expression data is currently available.</h2>
        </div>
    </div>
</div>

<div class="section-thin rna-seq-fplot" *ngIf="dataLoaded">
    <h2>
        Consistency of Change in Expression
        <span class="icon-spacing"></span>
        <download *ngIf="!isEmptyGene" [target]="stfp" [name]="'consistency_chg_in_exp'"></download>
    </h2>
    <p class="black-paragraph">
        This forest plot indicates the estimate of the log fold change with standard errors across the
        tissues in the chosen model. Genes that show consistent patterns of differential expression will
        have similar log-fold change value across tissues.
    </p>
    <div #stfp>
        <row-chart *ngIf="!isEmptyGene"></row-chart>
    </div>
    <div *ngIf="isEmptyGene" class="row rc-empty-plot-content">
        <h2 class="placeholder-text">No expression data is currently available.</h2>
    </div>
</div>

<div class="ui-rtl" dir="rtl">
    <p-dialog header="" [(visible)]="displayBPDia" [modal]="true"
        [responsive]="true" [minWidth]="330" [minY]="256" [baseZIndex]="10000" [dismissableMask]="true"
        [styleClass]="'btm-dialog'">
        <div class="row content-row first-bp-dia-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Brain Tissues
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    DLPFC:
                </span>
                <span dir="ltr">
                    Dorsolateral Prefrontal Cortex
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    TCX:
                </span>
                <span dir="ltr">
                    Temporal Cortex
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    CBE:
                </span>
                <span dir="ltr">
                    Cerebellum
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    PHG:
                </span>
                <span dir="ltr">
                    Parahippocampal Gyrus
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    STG:
                </span>
                <span dir="ltr">
                    Superior Temporal Gyrus
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    FP:
                </span>
                <span dir="ltr">
                    Frontal Pole
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    IFG:
                </span>
                <span dir="ltr">
                    Inferior Frontal Gyrus
                </span>
            </div>
        </div>
        <div class="row content-vspacing" dir="ltr">
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span first-bp-dia-row" dir="ltr">
                    Models
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Diagnosis (males and females):
                </span>
                <span dir="ltr">
                    This is the base model which compares gene expression in AD patients with controls.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Diagnosis x AOD (males and females):
                </span>
                <span dir="ltr">
                    This model evaluates the difference between female AD patients and female controls.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Diagnosis x Sex (females only):
                </span>
                <span dir="ltr">
                    This model evaluates the difference between male AD patients and male controls.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Diagnosis x Sex (males only):
                </span>
                <span dir="ltr">
                    This model compares gene expression in AD patients and controls, and whether that association is influenced by Age of Death (AOD).
                </span>
            </div>
        </div>
    </p-dialog>
</div>
<div class="ui-rtl" dir="rtl">
    <p-dialog header="Brain Tissues" [(visible)]="displayBRDia2" [modal]="true" [responsive]="true"
        [minWidth]="330" [minY]="256" [baseZIndex]="10000" [dismissableMask]="true"
        [styleClass]="'btm-dialog2'">
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    DLPFC:
                </span>
                <span dir="ltr">
                    Dorsolateral Prefrontal Cortex
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    TCX:
                </span>
                <span dir="ltr">
                    Temporal Cortex
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    CBE:
                </span>
                <span dir="ltr">
                    Cerebellum
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    PHG:
                </span>
                <span dir="ltr">
                    Parahippocampal Gyrus
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    STG:
                </span>
                <span dir="ltr">
                    Superior Temporal Gyrus
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    FP:
                </span>
                <span dir="ltr">
                    Frontal Pole
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    IFG:
                </span>
                <span dir="ltr">
                    Inferior Frontal Gyrus
                </span>
            </div>
        </div>
    </p-dialog>
</div>
