.plot-content {
    min-height: 450px;
    margin-top: 2%;

    row-chart {
        width: 100%;
    }
}

.section-overview-header {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 2em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: linear-gradient(89.93deg, #5171C0 0.06%, #5BB0B5 99.94%);

    p {
        text-align: left;
    }
}

.rna-seq-sel {
    background: rgba(245, 245, 245, 0.5);

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }

    select {
        width: 100%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        color: #1A1C29;
        padding-left: 3%;
    }

    .dc-select-option {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        color: #1A1C29;
        padding-left: 10%;
    }

    .dc-select-option::before {
        padding-left: 10%;
    }

    .dc-select-option::after {
        padding-left: 10%;
    }
}

.rna-seq-bplot {
    p {
        text-align: left;
    }

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }
}

.rna-seq-fplot {
    p {
        text-align: left;
    }

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }
}
