@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.br-dialog {
    .ui-dialog {
        max-height: 90% !important;
    }

    .ui-dialog-content {
        padding-top: 0% !important;
        padding-bottom: 4.5% !important;
    }

    .ui-dialog-titlebar-icon {

        cursor: pointer;

        :hover {
            border-color: color(li, border-color-default);
            background-color: $tertiary-background;
            color: color(text, primary);
        }
    }
}
