@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.overview-header {
    .fa-star::before {
        color: $contrast-color;
    }

    .row {
        align-items: center;
    }

    p-button {
        @include respond-to('ex-small') {
            width: 70%;
        }
        width: 100%;
        height: 100%;

        button {
            width: 100%;
            height: 100%;
        }
    }
}

.nom-details-oh {
    padding-top: 36px;
    padding-bottom: 0px;
}

.teams-section {
    padding-top: 0px;

    .team-name {
        font-size: $font-size-large;
    }

    .custom-paragraph {
        margin-bottom: 36px;
    }

}

.members-row {
    padding-top: 20px;
    padding-bottom: 0px;
    text-align-last: center;

    .member-name {
        text-align: center;
    }
}

.member-img {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-table;
}
