<div *ngIf="dataLoaded">
    <div class="section-thin overview-header nom-details-oh" tabindex="0">
        <div class="row no-gutters">
            <div class="">
                <h2 *ngIf="dataLoaded">Evidence Supporting the Nomination of {{ gene.hgnc_symbol }}</h2>
                <p class="no-margin-bottom col-8 no-padding">
                    This gene has been nominated as a potential target for AD. Nominated targets are
                    obtained from several sources, including the National Institute on Aging's Accelerating
                    Medicines Partnership in Alzheimer's Disease (AMP-AD) consortium. Targets have been
                    identified using computational analyses of high-dimensional genomic, proteomic and/or
                    metabolomic data derived from human samples.
                </p>
            </div>
        </div>
        <h1 class="inner-section-divider"></h1>
    </div>
    <div class="section-thin teams-section">
        <div *ngFor="let team of teams; let i = index">
            <h3 class="team-name">
                {{getFullDisplayName(team.program, team.team_full)}}
            </h3>
            <p class="black-paragraph custom-paragraph col-8 no-padding">
                {{team.description}}
            </p>
            <h4>
                Why was the target selected?
            </h4>
            <p class="black-paragraph custom-paragraph col-8 no-padding">
                {{ntInfoArray[i].target_choice_justification}}
            </p>
            <h4>
                Predicted therapeutic direction
            </h4>
            <p class="black-paragraph custom-paragraph col-8 no-padding">
                {{ntInfoArray[i].predicted_therapeutic_direction}}
            </p>
            <h4>
                The type of data used and analyses done to identify target
            </h4>
            <p class="black-paragraph custom-paragraph col-8 no-padding">
                {{ntInfoArray[i].data_used_to_support_target_selection}}
            </p>
            <h4>
                <span class="link-heading custom-heading" (click)="this.viewNomProcess(i)">
                    Learn more about the target nomination process
                </span>
            </h4>
            <h1 *ngIf="i<teams.length-1" class="inner-section-divider"></h1>
        </div>
    </div>
</div>
