@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.fc-plot-content {
  min-height: 450px;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.fc {
  width: 100%;
  height: 100%;

  svg {
    height: 100%;
    width: 100%;
  }

  text {
    color: black;
    text-shadow: -1px 0 #fff, 1px -1px 0 #fff, -1.4px 1px 0 #fff, 1px 1px 0 #fff;
  }
}

.node:hover {
  fill: var(--color-quaternary);
  stroke-width: 1px;
  stroke: var(--color-quaternary);
  stroke-opacity: 0.5;
}

.darkest {
  .darkest {
    display: none;
  }
}

.darker {
  .darker {
    display: none;
  }
}

.medium {
  .meduim {
    display: none;
  }
}

.light {
  .light {
    display: none;
  }
}
