<ng-container>
    <div class="section-thin rna-seq-me no-padding-top">
        <h3 *ngIf="isEmptyGene" class="filters-header">
            Overall Expression of Selected Gene Across Tissues
        </h3>
        <h3 *ngIf="!isEmptyGene" class="filters-header">
            Overall Expression of {{gene.hgnc_symbol}} Across Tissues
            <span class="icon-spacing"></span>
            <span class="icon-spacing"></span>
            <download [target]="stme" [name]="getDownloadFileName('Overall Expression')"></download>
        </h3>
        <p class="black-paragraph text-max">
            This plot depicts the median expression of the selected gene across tissues (brain regions) in
            the dataset, as measured by RNA-seq read counts per million (CPM) reads. Meaningful expression is considered to be
            anything greater than 0.7 Log CPM, which is equivalent to 5 CPM. This threshold is depicted by the red line in the
            plot.
        </p>
        <div #stme>
            <ng-container *ngIf="!isEmptyGene; else noDataMedian">
                <median-chart *ngIf="dataLoaded" [geneinfo]="geneInfo"></median-chart>
                <loading-page *ngIf="!dataLoaded && !isEmptyGene"></loading-page>
            </ng-container>
        </div>
        <ng-template #noDataMedian>
            <div *ngIf="isEmptyGene" class="no-median-data">
                <h2 class="placeholder-text">No expression data is currently available.</h2>
            </div>
        </ng-template>
    </div>

    <div class="section-thin rna-seq-bplot no-vertical-padding">
        <div class="row bplot-filter-row">
            <div class="col-md-6 col-sm-12 col-12 col-fixer">
                <h4 class="filters-header">
                    Filter the following charts by statistical model
                </h4>
                <h2 class="vmi-wrapper">
                    <more-info [name]="'bp'">
                        <bp-dialog [name]="'bp'"></bp-dialog>
                    </more-info>
                </h2>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <select-menu *ngIf="dataLoaded && !isEmptyGene"
                            [promptText]="'All'"
                            [label]="'select-model'"
                            [columnName]="'select-column-model'">
                        </select-menu>
                        <p-multiSelect #egmsc2 *ngIf="isEmptyGene"
                            [options]="emptySelection"
                            [(ngModel)]="selectedTissues"
                            [showToggleAll]="false"
                            [showHeader]="false"
                            [panelStyle]="{minWidth:'12em'}"
                            [defaultLabel]="emptySelectionLabel"
                            [dropdownIcon]="getDropdownIcon()"
                            [disabled]="true">
                        </p-multiSelect>
                    </div>
                </div>
            </div>
            <loading-page *ngIf="!dataLoaded && !isEmptyGene" [ngStyle]="{'margin-top': '40px'}"></loading-page>
        </div>
        <h3 *ngIf="isEmptyGene">
            Differential Expression of Selected Gene
        </h3>
        <h3 *ngIf="!isEmptyGene">
            Differential Expression of {{gene.hgnc_symbol}}
            <span class="icon-spacing"></span>
            <download [target]="stbp" [name]="getDownloadFileName('Differential Expression')"></download>
        </h3>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 col-fixer">
                <p class="black-paragraph de-paragraph text-max">
                    After selecting a statistical model, you will be able to see whether the selected gene is differentially expressed
                    between AD cases and controls. The box plot depicts how the differential expression of the selected gene of interest
                    (red dot) compares with expression of other genes in a given tissue. Summary statistics for each tissue can be viewed
                    by hovering over the red dots.
                </p>
            </div>
        </div>
        <div #stbp>
            <box-plot *ngIf="dataLoaded && !isEmptyGene" [label]="'box-plot'"></box-plot>
            <loading-page *ngIf="!dataLoaded && !isEmptyGene"></loading-page>
        </div>
        <div class="row">
            <div *ngIf="isEmptyGene" class="col-md-12 col-sm-12 col-12 empty-bplot-col">
                <h2 class="placeholder-text">No expression data is currently available.</h2>
            </div>
        </div>
    </div>

    <div class="section-thin rna-seq-fplot no-padding-bottom">
        <h3>
            Consistency of Change in Expression
            <span class="icon-spacing"></span>
            <download *ngIf="!isEmptyGene" [target]="stfp" [name]="getDownloadFileName('Forest Plot')"></download>
        </h3>
        <p class="black-paragraph text-max">
            This forest plot indicates the estimate of the log fold change with standard errors across the
            tissues in the chosen model. Genes that show consistent patterns of differential expression will
            have similar log-fold change value across tissues.
        </p>
        <div #stfp>
            <row-chart *ngIf="dataLoaded && !isEmptyGene"></row-chart>
            <loading-page *ngIf="!dataLoaded && !isEmptyGene"></loading-page>
        </div>
        <div *ngIf="isEmptyGene" class="row rc-empty-plot-content">
            <h2 class="placeholder-text">No expression data is currently available.</h2>
        </div>
        <h1 class="inner-section-divider"></h1>
    </div>
</ng-container>
