@import "../../../../../../assets/css/helpers/variables";
@import "../../../../../../assets/css/helpers/mixins";

.rna-seq-me {
    padding-bottom: 4em;

    .fa-info-circle:before {
        color: $info-circle-color;
    }
}

.rna-seq-bplot {
    .bplot-filter-row {
        background: $faded-grey-background;
        border-top: 2px solid $secondary-grey-border-color;
    }

    @include respond-to('medium') {
        border-right-color: $faded-grey-background;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    @include respond-to('large') {
        border-right-color: $faded-grey-background;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    @include respond-to('ex-large') {
        border-right-color: $faded-grey-background;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .fa-info-circle:before {
        color: $info-circle-color;
    }

    select {
        @include lato-font('normal');

        width: 100%;
        line-height: normal;
        font-size: 18px;
        color: color(text, secondary);
        padding-left: 3%;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    // For older browsers like IE 10, 11
    select::-ms-expand{
        display: none;
    }

    p-multiselect {
        width: 100%;

        .ui-multiselect,
        .ui-multiselect-panel
        {
            width: 100%;
            color: color(text, fill);
        }

        .ui-multiselect-items {
            vertical-align: middle;

            >:hover {
                background: $faded-secondary-background !important;
                background-color: $faded-secondary-background !important;
            }
        }

        .ui-multiselect:not(.ui-state-disabled):hover {
            background: $background;
        }

        .ui-multiselect-item:not(.ui-state-highlight):hover {
            background-color: $faded-secondary-background;
        }

        .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
            background-color: $faded-secondary-background;
        }

        .ui-multiselect-label-container {
            padding-left: 10px;
            @include lato-font('normal');
            font-size: 18px;

            @include respond-to('ex-small') {
                font-size: 16px;
            }
            @include respond-to('small') {
                font-size: 16px;
            }
            @include respond-to('medium') {
                font-size: 18px;
            }
            @include respond-to('large') {
                font-size: 18px;
            }
            @include respond-to('ex-large') {
                font-size: 18px;
            }

            color: color(text, secondary);
            height: 52px;
            line-height: 52px;
            background: $background;
            box-shadow: 0px 0px 4px color(box-shadow);
        }

        .ui-chkbox {
            margin-right: 1.125em;
            height: 32px;
            width: 32px;
        }

        .ui-chkbox-box {
            height: 32px;
            width: 32px;
            vertical-align: middle;
            border-radius: 6px;

            .ui-chkbox-icon {
                color: $background;
            }

            span {
                position: relative;
                width: 32px;
                height: 32px;
                vertical-align: middle;
            }
        }

        ul {
            width: 100%;
            vertical-align: middle;
        }

        li {
            width: 100%;
            line-height: 52px;
            @include lato-font('normal');

            @include respond-to('ex-small') {
                font-size: 14px;
            }
            @include respond-to('small') {
                font-size: 14px;
            }
            @include respond-to('medium') {
                font-size: 16px;
            }
            @include respond-to('large') {
                font-size: 16px;
            }
            @include respond-to('ex-large') {
                font-size: 16px;
            }

            color: color(text, secondary);
            padding-left: 30px !important;
            border-bottom: 1px solid $grey-border-color !important;
            height: 51px;
            vertical-align: middle;

            .ui-state-default {
                background: $background;
                border: 2px solid color(box-shadow);
                box-sizing: border-box;
                box-shadow: inset 0px 0px 4px color(keyword, border-color);
                border-radius: 6px;
                border-color: color(li, border-color-default);
                background-color: $background;
            }

            .ui-state-active {
                background: color(li, background-active);
                border: 2px solid color(li, border-color-active);
                box-sizing: border-box;
                border-radius: 6px;
                color: $background;
            }

            label {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .ui-state-highlight {
            background: $background !important;
            background-color: $background !important;
            color: color(text, secondary);
        }

        .fa-check:before {
            z-index: 1000;
            position: absolute;
            left: 21.5%;
            top: 15%;
            margin: 0 auto;
            -moz-transform: scale(1.2,1); /* Firefox */
            -o-transform: scale(1.2,1); /* Opera */
            -webkit-transform: scale(1.2,1); /* Safari And Chrome */
            transform: scale(1.2,1); /* Standard Property */
        }

        .ui-multiselect-trigger {
            color: $secondary-background !important;
            width: 32px;
            border: none;
            padding-right: 5%;

            .ui-multiselect-trigger-icon {
                color: $secondary-background !important;
                top: 0%;
                width: 12px;
            }

            .pi-caret-down, .pi-caret-up, .fa-caret-down, .fa-caret-up {
                -moz-transform: scale(2.4, 2.4); /* Firefox */
                -o-transform: scale(2.4, 2.4); /* Opera */
                -webkit-transform: scale(2.4, 2.4); /* Safari And Chrome */
                transform: scale(2.4, 2.4); /* Standard Property */
            }

            .ui-clickable {
                margin-top: 1.2em;
            }
        }
    }

    .col-fixer {
        display: table-row;
    }

    .de-header, .de-paragraph, .multi-sel-row, .sm-row1, .sm-row2 {
        margin-bottom: 40px;
    }

    .vmi-wrapper {
        line-height: 20px;
    }

    .filters-header {
        .fa-info-circle:before {
            color: $info-circle-color;
        }

        h3 {
            margin-bottom: 0px;
        }

        i:hover {
            cursor: pointer;
        }
    }

    .bplot-col {
        background: $faded-grey-background;
    }

    .empty-bplot-col {
        background: $faded-grey-background;
        height: 450px;
    }
}

.rna-seq-fplot {
    .fa-info-circle:before {
        color: $info-circle-color;
    }

    .rc-empty-plot-content {
        height: 450px;
        position: relative;
        display: block;
        background: $faded-grey-background;
    }
}

.show-box-plot {
    display: inline;
}

.hide-box-plot {
    display: none;
}

.st-desc {
    padding-top: 0px;
}

.no-side-padding {
    background: $transparent-background;
    padding-left: 0px;
    padding-right: 0px;
}

.fa-info-circle {
  cursor: pointer
}

.no-median-data {
    position: relative;
    height: 350px;
    background: $faded-grey-background;
}
