<div class="section-thin" tabindex="0">
    <h2>
        Summary of Evidence
    </h2>
    <p>
        This tab shows an overview of how the selected gene is associated with AD.
    </p>
</div>
<p-table [ngClass]="'st-table'" [columns]="cols" [value]="summary">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
        <tr>
            <td *ngFor="let col of columns; let j = index;">
                <ng-container *ngIf="j !== 0">
                    <ng-container *ngIf="summary[i].extraText">
                        <span *ngIf="summary[i].hasLink" [ngClass]="'link-heading'" (click)="summary[i].command($event)">{{summary[i].extraText}}</span>
                        <span *ngIf="!summary[i].hasLink" [ngClass]="'italic-heading'">Coming soon</span>
                    </ng-container>
                    <ng-container *ngIf="!summary[i].extraText">
                        <span [ngClass]="getTextColorClass(summary[i].state, true)">{{getText(summary[i].state)}}</span>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="j === 0">
                    <soe-property [prop]="rowData[col.field]"></soe-property>

                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="section-thin" *ngIf="scoresDataLoaded">
    <h2>TREAT-AD Consortium Target Ranking Scores</h2>
    <p>
        The TREAT-AD Center at Emory-Sage-SGC has developed a target ranking score encompassing genomics, genetics, neuropathology, and literature evidence.
    </p>
    <div class="ranking-scores" *ngIf="chartData">
        <div *ngFor="let item of chartData">
            <h2>{{item.name}}</h2>
            <div *ngIf="item.data">
                <plotlywrapper
                        [data]="item.data"
                        [layout]="item.layout"
                        [config]="item.config"
                ></plotlywrapper>
            </div>
        </div>
    </div>
</div>
