@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.st-table {
    .ui-table {
        padding-bottom: 70px;
    }

    .ui-table .ui-table-tbody > tr {
        background-color: $table-row-even;
    }

    .ui-table .ui-table-tbody > tr:nth-child(even) {
        background-color: $table-row-odd;
    }

    .ui-table-thead {
        display: none;
    }

    .ui-table-tbody {
        height: 100%;

        >tr {
            height: 58px;
            line-height: 58px;
        }

        >tr>td {
            @include lato-font('normal');

            border: 0px;
            line-height: 40px;

            padding: .25em .5em;

            @include respond-to('ex-small') {
                font-size: $font-size-x-small;
            }
            @include respond-to('small') {
                span {
                    font-size: $font-size-regular;
                }
            }
            @include respond-to('medium') {
                span {
                    font-size: $font-size-x-regular;
                }
            }
            @include respond-to('large') {
                span {
                    font-size: $font-size-x-regular;
                }
            }
            @include respond-to('ex-large') {
                span {
                    font-size: $font-size-x-regular;
                }
            }

            color: color(text, secondary) !important;
            height: 40px;
        }

        @include respond-to('ex-small') {
            >tr>td {
                padding-left: 3.5%;
                padding-right: 3.5%;
                text-align: left;
            }
        }
        @include respond-to('small') {
            >tr>td {
                padding-left: 4.0%;
                padding-right: 4.0%;
                text-align: left;
            }
        }
        @include respond-to('medium') {
            >tr>td {
                padding-left: 4.5%;
                padding-right: 4.5%;
                text-align: left;
            }
        }
        @include respond-to('large') {
            >tr>td {
                padding-left: 5.5%;
                padding-right: 5.5%;
                text-align: left;
            }
        }
        @include respond-to('ex-large') {
            >tr>td {
                padding-left: 7.5%;
                padding-right: 7.5%;
                text-align: left;
            }
        }
    }
}

.ranking-scores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .no-data, .chart-nodata{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 280px;
    background: rgba(245, 245, 245, 0.5);
    padding: 10rem;
  }
}


