
<div class="row footer-row no-gutters">
    <div class="col-md-6 col-sm-12 col-12 links-col">
        <span class="footer-span" (click)="goToRoute('about')" tabindex="0">ABOUT</span>
        <span class="footer-span" (click)="goToRoute('help')" tabindex="0">HELP</span>
        <span class="footer-span last-footer-span" (click)="goToRoute('terms')" tabindex="0">TERMS & PRIVACY</span>
    </div>
    <div class="col-md-6 col-sm-12 col-12 version-col">
        <span class="dark-grey-span" tabindex="0">Site Version {{getVersion()}}</span>
        <span class="version-span dark-grey-span" tabindex="0">|</span>
        <span class="version-span dark-grey-span" tabindex="0">Data Version {{getVersion(true)}}</span>
    </div>
</div>