<div class="row footer-row vertical-align no-gutter">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-2">
                <span class="align-middle">About</span>
            </div>
            <div class="col-md-2">
                <span class="align-middle">Help</span>
            </div>
            <div class="col-md-3">
                <span class="align-middle">Terms & Privacy</span>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>