
<div class="row footer-row no-gutters">
    <div class="col-md-6 col-sm-12 col-12 links-col">
        <span class="footer-span" (click)="goToRoute('about')" tabindex="0">About</span>
        <a class="contact-us-footer" href="mailto:agora@sagebionetworks.org?Subject=Agora%20Help" target="_top">Help</a>
        <span (click)="goToRoute('terms')" tabindex="0">Terms & Privacy</span>
    </div>
    <div class="col-md-6 col-sm-12 col-12 version-col">
        <span class="dark-grey-span" tabindex="0">Site Version {{getVersion()}}</span>
        <span class="version-span dark-grey-span" tabindex="0">|</span>
        <span class="version-span dark-grey-span" tabindex="0">Data Version {{getVersion(true)}}</span>
    </div>
</div>