@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.footer-row {
    @include lato-font('normal');

    background: $background;
    height: $footer-height;
    margin-right: 0px;
    line-height: normal;
    font-size: $font-size-regular;
    color: $show-more-color$show-more-color;
    z-index: 2;
    align-items: center;
    border-top: 1px solid color(box-shadow);

    a.contact-us-footer {
        @include lato-font('normal');

        color: $show-more-color;
        line-height: normal;
        text-decoration: none;
        font-size: $font-size-regular;
        margin-right: 5%;

        :hover {
            text-decoration: underline !important;
        }
    }

    @include respond-to('ex-small') {
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
    @include respond-to('small') {
        padding-left: 4.0%;
        padding-right: 4.0%;
    }
    @include respond-to('medium') {
        padding-left: 4.5%;
        padding-right: 4.5%;
    }
    @include respond-to('large') {
        padding-left: 5.5%;
        padding-right: 5.5%;
    }
    @include respond-to('ex-large') {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    .links-col {
        @include respond-to('ex-small') {
            text-align: center;
            height: 100px;
            line-height: 100px;
            margin: auto;
            vertical-align: middle;
        }
        @include respond-to('small') {
            text-align: center;
            height: 100px;
            line-height: 100px;
            margin: auto;
            vertical-align: middle;
        }
        @include respond-to('medium') {
            text-align: left;
        }
        @include respond-to('large') {
            text-align: left;
        }
        @include respond-to('ex-large') {
            text-align: left;
        }
    }

    .version-col {
        @include respond-to('ex-small') {
            text-align: center;
            height: 100px;
            line-height: 100px;
            margin: auto;
            vertical-align: middle;
        }
        @include respond-to('small') {
            text-align: center;
            height: 100px;
            line-height: 100px;
            margin: auto;
            vertical-align: middle;
        }
        @include respond-to('medium') {
            text-align: right;
        }
        @include respond-to('large') {
            text-align: right;
        }
        @include respond-to('ex-large') {
            text-align: right;
        }
    }

    .version-col-left {
        @include respond-to('medium') {
            text-align: left;
        }
        @include respond-to('large') {
            text-align: left;
        }
        @include respond-to('ex-large') {
            text-align: left;
        }
    }
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.footer-span {
    @include lato-font('normal');

    margin-right: 5%;
    line-height: normal;
    font-size: $font-size-regular;
    color: $show-more-color;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


.last-footer-span {
    margin-right: 0px;
}

.version-span {
    @include respond-to('medium') {
        margin-left: 5%;
    }
    @include respond-to('large') {
        margin-left: 5%;
    }
    @include respond-to('ex-large') {
        margin-left: 5%;
    }
}

.dark-grey-span {
    @include lato-font('normal');

    line-height: normal;
    font-size: $font-size-x-small;
    text-align: right;
    color: color(text, span-grey);
}




