.footer-row {
    background: #EDEDED;
    height: 100px;
    margin-right: 0px;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #0D1C38;
    z-index: 2;

    span {
        cursor: pointer;
    }
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.footer-span {
    margin-left: 5%;
    margin-right: 5%;
}

.footer-span:hover {
    text-decoration: underline;
}

.contact-us {
    color: #0D1C38;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    font-size: 16px;
}
