<div class="ui-rtl" dir="rtl">
    <p-dialog header="About the Metabolomics Analysis" [(visible)]="display" [modal]="true" [blockScroll]="false" [responsive]="true" [minY]="256"
      [baseZIndex]="10000" [styleClass]="'mt-dialog'" [ngStyle]="{'minWidth': 330}">
        <div class="row content-row first-bp-dia-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12 container-col">
                <div class="row last-content-row">
                    Metabolic data for Agora was analyzed using a multi-step process. Metabolite data was obtained
                    from approximately 1,400 samples of the Alzheimer’s Disease Neuroimaging (ADNI) cohorts. Metabolite
                    concentrations from 157 metabolites were obtained in clinical lab tests performed by participating
                    ADNI centers. Sampled metabolites include: 140 from the Biocrates AbsoluteIDQ® P180 platform, 15
                    from the Biocrates® Bile Acids Kit, as well as concentrations of total triglycerides and total cholesterol.
                </div>
                <div class="row last-content-row">
                    Metabolite levels were then associated with individual genes by performing a genome- wide association
                    study using metabolite concentrations as phenotype (mGWAS). This mGWAS analysis yielded 15,401 significant
                    gene-metabolite pairs. For these pairs, we report the Ensembl GeneID, the Associated Gene Name, ID and full
                    name of the metabolite with the strongest genetic association, the P-value of the association, as well as the
                    gene-wide significance threshold derived from 1000 Genomes Project variants.
                </div>
                <div class="row last-content-row">
                    For all 157 metabolic readouts, we then used linear regression to compare medication- and covariate-adjusted,
                    centered, and scaled metabolite residuals from cognitively normal elderly controls (CN) with those of
                    participants with clinical Alzheimer’s disease (AD). In this analysis, 26 out of the 157 metabolites had an adjusted P-value <= 0.05.
                </div>
                <div class="row last-content-row">
                    <p>
                        This content has been provided by the Duke AMP-AD Team led by Rima Kaddurah-Daouk. Learn more about the
                        <span class="link auto-width no-bold" (click)="openWindow('https://agora.ampadportal.org/teams-contributing')">team</span>.
                    </p>
                </div>
            </div>
        </div>
    </p-dialog>
</div>
