@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

h4 {
  font-weight: 700;
  font-style: normal;
  text-align: left;
  line-height: normal;
  color: #24334f;
  font-size: 20px;
}
