<div class="section-thin section-hero overview-header" tabindex="0">
    <div class="row no-gutters">
        <div class="col-md-7">
            <h1>Tissue Specificity of Gene Connections</h1>
        </div>
    </div>
</div>

<div class="center-justified-last linkstable" tabindex="0">
    <table>
        <tr *ngFor="let link of selectedGeneData.links" class="pathbox">
            <td>
                <span class="genes" tabindex="0">
                    <span (click)="viewGene(link, 'source')" tabindex="0">{{link.hgnc_symbolA}}</span>
                    :
                    <span (click)="viewGene(link, 'target')" tabindex="0">{{link.hgnc_symbolB}}</span>
                </span>
                <span *ngFor="let region of link.brainregions; last as isLast" tabindex="0">
                    {{region}}{{isLast ? '' : ', '}}
                </span>
            </td>
        </tr>
    </table>
</div>
