<div class="section-thin overview-header">
  <div class="row no-gutters">
    <div class="col-md-7">
      <h1>Tissue Specificity of Gene Connections</h1>
    </div>
  </div>
</div>

<div class="center-justified linkstable">
<table>
    <tr *ngFor="let link of selectedGeneData.links" class="pathbox">
        <td>
            <span class="genes">
            <span (click)="viewGene(link, 'source')">{{link.hgnc_symbolA}}</span>
            <i class="fa fa-arrow-right"></i>&nbsp;
            <span (click)="viewGene(link, 'target')">{{link.hgnc_symbolB}}</span>
        </span>
        <span *ngFor="let region of link.brainregions; last as isLast">
            {{region}}{{isLast ? '' : ', '}}
        </span>
        </td>
    </tr>
</table>
</div>
