.pathbox{
    width: 100%;
    .genes {
      span {
        color: #86C4C7;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
        width: 100%;
      }
    }

    span {
      margin-right: 5px;
    }
}
.linkstable{
    table {
      border-collapse: collapse;
    }
    table{
        width: 100%;
        tr {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          line-height: 40px;
          color: #1A1C29;
          height: 40px;
        }

        tr:nth-child(even) {
          background: #fafafb;
        }

        tr:nth-child(odd) {
          background: #FFF
        }
    }
}