<div class="ui-rtl" dir="rtl">
    <p-dialog header="About the Association with Neuropathology and Cognition" [(visible)]="display" [modal]="true" [responsive]="true"
              [minY]="256" [baseZIndex]="10000"
              [styleClass]="'br-dialog'" [ngStyle]="{'minWidth': 330}">
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="row first-content-row">
                    <span>
                        <p class="content-row">Samples from the ROSMAP study were used for this analysis. RNA-seq levels from the DLPFC were regressed using an ordinal logistic regression model against three measures of AD pathology or cognitive phenotypes. BRAAK score, which measures neurofibrillary tangles; CERAD, which measures neuritic plaques, and COGDX, which measures the final clinical diagnosis and represents the clinical consensus diagnosis. The resulting plot shows the odds ratio and 95% confidence interval of the estimate. Positive associations are represented by an odds ratio > 1 and negative associations by an odds ratio < 1. Statistical significance of the estimate can be seen by hovering over the dots.</p>
                        <p>More information about the analysis can be found <a class="link no-bold dialog-link" href="https://adknowledgeportal.synapse.org/Explore/Studies/DetailsPage?Study=syn13363442" target="_blank">here</a>.</p>
                    </span>
                </div>
            </div>
        </div>
    </p-dialog>
</div>
