@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.test {
  background-color: #63676c;
}

.gct-tooltip {
  max-width: none;
  transform: translateY(-18px);
  background-color: #63676c;
  padding: 6px 12px !important;

  .p-tooltip-text {
    background: none;
    box-shadow: none;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
  }

  .p-tooltip-arrow {
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #63676c;
    margin-left: -10px;
  }

  &.gct-tooltip-right,
  &.gct-tooltip-left {
    max-width: 250px;

    .p-tooltip-text {
      white-space: unset;
    }

    .p-tooltip-arrow {
      bottom: 50%;
      top: unset;
      margin-left: 0;
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
    }
  }

  &.gct-tooltip-left {
    transform: translateX(-18px);

    .p-tooltip-arrow {
      transform: translate(100%, 50%);
      border-left: 10px solid #63676c;
    }
  }

  &.gct-tooltip-right {
    transform: translateX(18px);

    .p-tooltip-arrow {
      transform: translate(-100%, 50%);
      border-right: 10px solid #63676c;
    }
  }
}

.gct-tooltip-filter {
  max-width: 350px;

  .p-tooltip-text {
    white-space: normal;
  }
}

.gct {
  color: var(--color-primary);
  max-width: 1600px;
  margin: 0 auto 100px auto;
  border: 1px solid var(--color-light);

  button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    outline: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  .gct-inner {
    min-width: 1300px;
  }
}

@media (max-width: 1299px) {
  .gct {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.gct-header {
  border-bottom: 1px solid var(--color-light);

  .gct-header-inner {
    display: flex;
    padding: 28px 44px;

    > div {
      display: flex;
      align-items: center;
    }
  }

  .gct-header-middle {
    flex-grow: 1;
    justify-content: center;
  }

  .gct-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #1a1c29;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  }

  .gct-header-left {
    width: 150px;

    button {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      transition: $transition-duration;
      cursor: pointer;
      color: var(--color-secondary);

      svg {
        margin-right: 8px;
        transform: translateY(1px);

        path {
          transition: $transition-duration;
        }
      }

      &:hover {
        color: #000000;

        svg path {
          fill: #000000;
        }
      }
    }
  }

  .gct-header-right {
    width: 150px;
    justify-content: flex-end;

    button {
      background-color: var(--color-primary);
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 30px;
      transition: $transition-duration;
      cursor: pointer;
      font-size: var(--font-size-sm);

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.gct-body {
  .gct-body-inner {
    position: relative;
    overflow: hidden;
  }
}

.gct-controls {
  border-bottom: 1px solid var(--color-light);

  .gct-controls-inner {
    display: flex;
    padding-left: 44px;
    padding-right: 44px;
  }

  .gct-controls-left {
    width: 300px;
    border-right: 1px solid #eeeeee;
    padding: 28px 44px 28px 0px;
    box-sizing: border-box;
  }

  .gct-controls-right {
    flex-grow: 1;
    padding: 28px 0px 80px 44px;

    .gct-filter-label {
      display: block;
      font-size: 10px;
      font-weight: 900;
    }

    .p-dropdown {
      padding: 0;
      border: none;

      .p-dropdown-label {
        padding-left: 0;
        font-size: 14px;
        font-weight: 400;
        color: var(--color-primary);
      }

      .p-dropdown-trigger {
        margin-left: 8px;
      }

      .p-dropdown-trigger-icon {
        font-size: 14px;
        color: var(--color-primary);
      }

      .p-dropdown-panel {
        background-color: #ffffff;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 10px 0;

        ul {
          padding: 0;

          li {
            padding: 5px 15px;
            transition: $transition-duration;

            span {
              white-space: nowrap;
              color: var(--color-primary);
              font-size: 12px;
              font-weight: 900;
            }

            &.p-disabled {
              span {
                color: #a6a6a6;
              }
            }

            &.p-highlight {
              background-color: var(--color-primary);

              span {
                color: #ffffff;
              }
            }

            &:not(.p-disabled):hover {
              background-color: var(--color-primary);

              span {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .category-filter {
    .p-dropdown-label {
      text-transform: uppercase;
      font-weight: 700 !important;
    }

    .p-dropdown-panel {
      ul {
        li {
          span {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .category-filter-container {
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 8px;

    .p-dropdown-label {
      padding-bottom: 3px;
    }
  }

  .gene-label {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 7px;
  }

  .gene-count {
    font-size: var(--font-size-sm);
  }

  .gct-search {
    position: relative;
    margin-top: 42px;

    .gct-search-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      margin-top: -6px;
    }

    input {
      border: 1px solid var(--color-light);
      padding: 12px 40px 12px 34px;
      width: 100%;
      transition: $transition-duration;
      box-sizing: border-box;
      font-size: var(--font-size-xs);
      outline: none;

      &:focus {
        border-color: var(--color-primary);
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 100%;
      cursor: pointer;

      svg path {
        transition: $transition-duration;
      }

      &:hover {
        svg path {
          stroke: var(--color-primary);
        }
      }
    }
  }
}

.gct-tables {
  .gct-tables-inner {
    min-height: 600px;
    padding-left: 44px;
    padding-right: 44px;
  }

  .no-results {
    color: #a6a6a6;
    text-align: center;
    padding: 15px 20px 20px 20px;
  }

  .p-datatable-thead,
  .p-datatable-tbody {
    td,
    th {
      &:first-child {
        width: 298px;
        border-right: 1px solid #eeeeee;
        padding-left: 0;
        padding-right: 29px;
      }
    }

    th {
      &:first-child {
        border-right-color: transparent;
      }
    }
  }
  .p-datatable-thead {
    th {
      font-size: 16px;
    }

    .p-sortable-column-icon {
      font-size: 14px;
      transform: translateY(-2px);
    }
  }

  .p-datatable-tbody {
    td {
      position: relative;
      vertical-align: middle;
      height: 56px;
      padding-top: 4px !important;
      padding-bottom: 4px !important;

      &:not(:first-child) {
        &:before {
          content: " ";
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          border-top: 1px solid #eeeeee;
        }

        &:after {
          content: " ";
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          bottom: 0;
          border-left: 1px solid #eeeeee;
        }
      }
    }

    tr {
      &:first-child td {
        padding-top: 8px !important;
      }

      &:last-child td {
        padding-bottom: 8px !important;
      }
    }
  }

  .p-paginator-bottom {
    display: block;
    padding: 20px 44px;
    margin-left: -44px;
    margin-right: -44px;
    text-align: right;
    border-top: 1px solid #eeeeee;

    .p-paginator-pages {
      display: none;
    }

    .p-paginator-current {
      margin-right: 15px;
      font-size: 15px;
      cursor: default;
      color: var(--color-text);
    }

    .p-paginator-icon {
      color: var(--color-action-primary);
      cursor: pointer;
      transition: $transition-duration;

      &:hover {
        //color: darken(color(actionPrimary), 10%);
      }
    }

    .p-link.p-disabled {
      opacity: 0.5;
    }

    button {
      transform: translateY(3px);
    }
  }

  .gene-controls {
    display: flex;
    background-color: transparent;
    transition: $transition-duration;
    align-items: center;
    padding: 6px 15px 6px 7px;
    margin-right: 0px;
    font-size: var(--font-size-sm);

    .gene-control-icons {
      display: none;
    }

    > div:first-child {
      flex-grow: 1;
      text-align: right;
    }

    &:not(:hover) {
      > div:not(:first-child) {
        display: none;
      }
    }

    &:hover {
      background-color: var(--color-primary);
      color: #ffffff;

      .gene-control-icons {
        margin-left: 14px;
        display: flex;
      }

      > div:first-child {
        padding-right: 6px;
      }
    }

    button {
      display: flex;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .gene-indicator {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 100;
    border: 1px solid transparent;
    cursor: pointer;
    transition: $transition-duration;

    > span {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid transparent;
      opacity: 0;
      visibility: hidden;
      background-color: transparent;
      transition: $transition-duration;
    }

    &.plus {
      &,
      > span {
        border-color: #245299;
      }
    }

    &.minus {
      &,
      > span {
        border-color: #d72247;
      }
    }

    &:hover {
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

      > span {
        opacity: 1;
        visibility: visible;
      }
    }

    .gene-indicator-text {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 12px;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }
}

#table-header {
  position: absolute;
  margin-top: -52px;
  pointer-events: none;
  left: 44px;
  right: 44px;

  th:not(:first-child) {
    pointer-events: auto;
  }
}

.table-divider {
  background-color: #fbfbfc;
  margin-left: -44px;
  margin-right: -44px;
  font-size: var(--font-size-sm);

  .table-divider-inner {
    display: flex;
    padding: 17px 44px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    > div {
      display: flex;
      align-items: center;

      &:first-child {
        color: #1a1c29;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        flex-grow: 1;
      }
    }
  }

  button {
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
      transition: $transition-duration;
    }
  }
}

.p-paginator-bottom {
  &:before {
    content: " ";
  }
}

.csv-download-button {
  margin-right: 40px;

  svg {
    margin-right: 12px;
  }
}
