@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.overview-header {
    .fa-star::before {
        color: #FACFAF;
    }

    .row {
        align-items: center;
    }

    p-button {
        @include respond-to('ex-small') {
            width: 70%;
        }
        width: 100%;
        height: 100%;

        button {
            width: 100%;
            height: 100%;
        }
    }
}

.overview-desc {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
}

.members-row {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align-last: center;

    h3 {
        text-align: center;
    }
}

.member-img {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-table;
}
