#score-barchart {
    .negative-bars {
        &:hover {
            fill: transparent;
            cursor: pointer;
        }
    }

    .scorebars, .bar-labels {
        &:hover {
            cursor: pointer;
        }
    }
}