<div class="ui-rtl" dir="rtl">
    <p-dialog header="Druggability/Ligandability Information" [(visible)]="display" [modal]="true" [responsive]="true" [minY]="256"
    [baseZIndex]="10000" [styleClass]="'dg-dialog'" [ngStyle]="{'minWidth': 330}">
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span dir="ltr">
                    AMP-AD pharma partners have performed a druggability/ligandability analysis for nominated targets.
                    Targets have been scored for likely suitability for drug development in a multi-step process.
                </span>
            </div>
        </div>

        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span dir="ltr">
                    In brief, targets are placed into buckets that are ordered according to preference for small-molecule
                    (SM) drug development, therapeutic antibody feasibility, and safety with smaller bucket numbers being
                    generally accepted as easier or more likely to result in successful drug development than larger
                    numbered buckets.
                </span>
            </div>
        </div>

        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span dir="ltr">
                    These buckets are not intended as fixed criteria as new information can emerge from screening or
                    structural biology, or technological developments which facilitate the identification of ligands
                    such as biophysical methods. Consequently, this information will be regularly updated to take
                    account of new developments.
                </span>
            </div>
        </div>

        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span dir="ltr">
                    <a class="link no-bold" href="https://www.synapse.org/#!Synapse:syn13363443" target="_blank">Read more on Synapse</a>
                </span>
            </div>
        </div>
    </p-dialog>
</div>