<div class="ui-rtl" dir="rtl">
    <p-dialog header="About the Nominated Targets" [(visible)]="display" [modal]="true" [responsive]="true" [minY]="256"
        [baseZIndex]="10000" [styleClass]="'nt-dialog'" [ngStyle]="{'minWidth': 330}">
        <div class="row content-row first-bp-dia-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                More than 500 targets have been contributed to Agora. These nominations have been provided by researchers from the National
                Institute on Aging&#39;s <a class="link" href="https://www.nia.nih.gov/research/amp-ad" target="_blank">Accelerating Medicines
                Partnership in Alzheimer&#39;s Disease (AMP-AD) consortium</a> as well as other <span class="link" (click)="getNavService().goToRouteRelative('/teams-contributing')">research
                teams</span>. The focus of Agora is to host targets that have been identified using computational analyses of high-dimensional
                genomic, proteomic and/or metabolomic data derived from human samples. These nominations have been released early in the
                research discovery cycle in order to facilitate evaluation by the broader research community.
            </div>
        </div>
        <div class="row content-row first-bp-dia-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <a class="link" href="https://www.synapse.org/#!Synapse:syn12540368" target="_blank">Download the full target list from Synapse</a>
            </div>
        </div>
    </p-dialog>
</div>
