@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.nt-dialog {
    .ui-dialog {
        max-height: 90% !important;
    }

    .ui-dialog-content {
        padding-top: 0% !important;
        padding-bottom: 132px !important;
        padding-left: 6% !important;
        padding-right: 6% !important;
    }

    .first-bp-dia-row {
        padding-bottom: 25px !important;
    }

    .content-vspacing {
        padding-bottom: 215px;
    }

    .ui-dialog-titlebar-icon {
        cursor: pointer;

        :hover {
            border-color: color(li, border-color-default);
            background-color: $tertiary-background;
            color: color(text, primary);
        }
    }
}
