<div class="ui-rtl" dir="rtl">
    <p-dialog header="" [(visible)]="display" [modal]="true" [responsive]="true" [minWidth]="330" [minY]="256"
        [baseZIndex]="10000" [styleClass]="'nt-dialog'">
        <div>This initial list of nominated targets was contributed by researchers from the National Institute on Aging\'s
            <a class="link" href="https://www.nia.nih.gov/research/amp-ad" target="_blank">Accelerating Medicines Partnership in Alzheimer\'s
                Disease (AMP-AD) consortium
            </a>. The <span class="link" click="goToRoute('/teams-contributing')">contributing teams</span> used
            computational analyses of high-dimensional genomic, proteomic and/or metabolomic data derived from human samples to
            identify genes that might be good targets for AD treatment or prevention. These nominations have been released early
            in the research discovery cycle in order to collect feedback from the broader research community.
            Select any gene from the nominated target list to view the evidence that led to its nomination.
        </div>
    </p-dialog>
</div>
