@import "../assets/css/helpers/variables";
@import "../assets/css/helpers/mixins";

h1 {
    @include lato-font('medium');

    line-height: normal;
    font-size: 40px;
    text-align: left;
    color: #5171C0;
}

h2 {
    @include lato-font('bold');

    text-align: left;
    line-height: normal;
    color: #1A1C29;
    font-size: 24px;
}

h3 {
    @include lato-font('bold');

    text-align: left;
    line-height: normal;
    color: #1A1C29;
    font-size: 18px;
}

.normal-heading {
    font-weight: normal;
    font-size: 18px;
}

.italic-heading {
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
    color: #8D919E !important;
}

.link-heading {
    color: #5BB0B5;
    text-decoration: underline;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.modal-heading {
    @include lato-font('bold');

    line-height: normal;
    font-size: 24px;
    text-align: center;

    color: #1A1C29;
}

.inner-section-divider {
    border-bottom: 2px solid #E0E0E0;
    margin-top: 45px;
    margin-bottom: 45px;
}
