@import "../assets/css/helpers/variables";
@import "../assets/css/helpers/mixins";

h1 {
    @include lato-font('bold');

    line-height: normal;
    font-size: 30px;
    text-align: left;
    color: #FFFFFF;
}

h2 {
    @include lato-font('bold');

    text-align: left;
    line-height: normal;
    color: #1A1C29;
    font-size: 24px;
}

h3 {
    @include lato-font('bold');

    text-align: left;
    line-height: normal;
    color: #1A1C29;
    font-size: 18px;
}

.normal-heading {
    font-weight: normal;
    font-size: 18px;
}

.italic-heading {
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
    color: #8D919E;
}

.link-heading {
    color: #86C4C7;
    text-decoration: underline;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}
