@import "../assets/css/helpers/variables";
@import "../assets/css/helpers/mixins";

h1 {
    @include lato-font('medium');

    text-align: left;
    line-height: normal;
    color: color(text, title);
    font-size: $font-size-x-large;
}

h2 {
    @include lato-font('medium');

    text-align: left;
    line-height: normal;
    color: color(text, title);
    font-size: $font-size-large;
}

h3 {
    @include lato-font('medium');

    text-align: left;
    line-height: normal;
    color: color(text, title);
    font-size: $font-size-xxxx-regular;
}

h4 {
    @include lato-font('bold');

    text-align: left;
    line-height: normal;
    color: color(text, secondary);
    font-size: $font-size-xx-regular;
}

.normal-heading {
    font-weight: normal;
    font-size: $font-size-x-regular;
}

.italic-heading {
    font-weight: normal;
    font-size: $font-size-x-regular;
    font-style: italic;
    color: color(italic-text, base) !important;
}

.link-heading {
    text-decoration: underline;
    font-weight: normal;
    font-size: $font-size-x-regular;
    color: $secondary-background;
    cursor: pointer;
}

.modal-heading {
    @include lato-font('bold');

    line-height: normal;
    font-size: $font-size-xxxx-regular;
    text-align: center;

    color: color(text, secondary);
}

.inner-section-divider {
    border-bottom: 2px solid $grey-border-color;
    margin-top: 45px;
    margin-bottom: 45px;
}
