/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

// 1. Vendor files
@import "~font-awesome/css/font-awesome.min.css";
@import "~lato-font/css/lato-font.min.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities/flex";
@import "~dc/style/dc.scss";
// 2. Helpers (variables, mixins, functions, ...)
@import "../assets/css/helpers/variables";
@import "../assets/css/helpers/mixins";
// 3. Base stuff (common settings for all components and pages)
@import "../assets/css/common/viewport-workaround";
@import "../assets/css/common/global";
@import "../assets/css/common/components";

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

*:focus {
    outline: none;
}

// 5. Custom Global Styles
html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.small-padding-top {
    padding-top: 2%;
}

.light-blue {
    background: #2AB7E6;
}
