/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

// 1. Vendor files
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities/flex";
@import "~dc/style/dc.scss";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~font-awesome/css/font-awesome.min.css";

// 2. Helpers (variables, mixins, functions, ...)
@import "../assets/css/helpers/variables";
@import "../assets/css/helpers/mixins";
// 3. Base stuff (common settings for all components and pages)
@import "../assets/css/common/viewport-workaround";
@import "../assets/css/common/global";
@import "../assets/css/common/components";
// 4. Sanitizer library to fix things
@import "~sanitize.css";

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-icon {
    float: none!important;
}

// Let the OS add the default outline to tabbable elements
:focus {
   outline: -webkit-focus-ring-color auto 5px;
}
*:focus {
    outline: none;
}

.fullscreen-table {
    .p-datatable {
        width: 100%;
        height: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

// 5. Custom Global Styles
html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}

html, body{
    min-width: 360px;
    padding: 0;
    margin: 0;
}

.page-wrap {
    min-height: calc(100vh - #{$footer-height});
}

body {
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
}

footer {
    width: 100%;
    line-height: $footer-height;
    height: $footer-height;
}

a {
    color: $background;
}

a:hover {
    text-decoration: underline;
}

p {
    @include lato-font('normal');

    line-height: normal;
    text-align: left;
    font-size: $font-size-x-regular;
    color: color(text, secondary);
}

span {
    @include lato-font('normal');
    @include respond-to('ex-small') {
        font-size: $font-size-x-regular;
    }

    line-height: normal;
    font-size: $font-size-x-regular;
    text-align: center;
    color: $span-color;
}

input::-ms-clear {
    display: none;
}

input[placeholder] {
    overflow: auto;
    text-overflow: ellipsis;
}

textarea::-ms-clear {
    display: none;
}

.p-checkbox {
    .p-state-focus.p-highlight {
        background: #2F8E94 !important;
        border: 2px solid #73C8CC !important;
    }
}

.p-progressSpinner {
    z-index: 2;
    color: color(text, title);

    .p-progress-spinner {
        width: 10px;
        height: 10px;
        position: static;
    }
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: color(text, title);
    }
    40% {
        stroke: color(text, title);
    }
    66% {
        stroke: color(text, title);
    }
    80%,
    90% {
        stroke: color(text, title);
    }
}

.p-panel {
    .pi-minus:before {
        content: url("/assets/icon/minus_icon.png") !important;
    }

    .pi-plus:before {
        content: url("/assets/icon/plus_icon.png") !important;
    }

    .p-panel-titlebar {
        line-height: 45px !important;
    }
}

.p-dialog {
    position: relative;
    width: 65%;
    max-height: 62%;
    overflow: auto;
    background: white;

    p {
        color: #000000;
        margin: 0px;
    }

    .no-bold {
        font-weight: normal;
    }

    .p-dialog-header {
        padding-bottom: 39px !important;
        @include lato-font('bold');

        padding-top: 59px !important;;
        text-align-last: center;
        background: white;
        line-height: normal;
        font-size: 24px !important;
        color: color(text, secondary);
        text-align: center;
        padding-top: 10% ;

        .p-dialog-header-close {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .pi-times:before {
            color: #5BB0B5;
            content: url("/assets/icon/close-modal-icon.svg");
        }
    }

    .p-dialog-title {
        @include lato-font('semi-bold');
        width: 100%;
        font-weight: 500;
        font-size: 28px !important;
        line-height: 34px;
        color: color(text, title);
    }

    .p-dialog-header-icon {
        padding: .525em !important;

        > span {
            width: 18px;
            height: 18px;
        }
    }

    .p-dialog-content {
        @include lato-font('normal');

        padding-bottom: 45px;
        padding-left: 20%;
        padding-right: 20%;
        line-height: normal;
        font-size: $font-size-x-regular;
        text-align: left;
        text-align-last: left;
        color: #000000;
        height: 100% ;
        padding-bottom: 10%;

        p {
            text-align: left !important;
        }

        .content-row {
            margin-bottom: $font-size-xx-regular;

            a {
                display: inline-block;
                width: auto;
            }

            span {
                display: contents;
                width: auto;
            }

            .content-vspacing {
                margin-bottom: 40px;
            }
        }

        .header-span {
            font-weight: bold;
            @include lato-font('bold');
        }
    }

    .fa-close:before {
        color: #5BB0B5;
    }

    a.dialog-link {
        position: static;
    }
}

.p-multiselectitem {
    span, .multiselect-option {
        @include lato-font('normal');

        font-size: $font-size-x-small;
        line-height: 29px;
        margin-top: 4px;
    }
}

.p-menu {
    background-color: $background;

    .p-menuitem {
        margin: .125em 0;
    }

    .p-menuitem-link {
        padding: .25em;
    }
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
    top: 0px;
}

.pointer {
    cursor: pointer;
}

.nomlist-list {
    margin-top: -0.1em;
    background-color: transparent !important;
    width: auto; /* Scale the div to the parent width */

    #keywords:focus {
        box-shadow: 0px 0px 4px 2px $secondary-background;
        border-radius: 6px;
        outline-offset: -2px;
        outline: 0;
    }

    p-table {
        /* width */
        ::-webkit-scrollbar {
            width: 8.75px;
            height: 8.75px;
        }

        /* Track */
        ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
            background: $quaternary-background;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $tertiary-background;
            border-radius: 14px;
            height: 40.46px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $tertiary-background;
        }

        .p-datatable {
            background: white;
            padding-left: 10%;
            padding-right: 10%;
        }

        .header-row {
            padding-top: 0px;
            // padding-bottom: 49px;
            margin: 0px;
        }

        .header-col {
            padding: 0px;
            padding-top: 44px;
        }

        .p-datatable-thead {
            >tr>th {
                background: $table-rol-filter !important;
                color: color(text, secondary) !important;
            }
        }

        .table-icon {
            color: $background;
            cursor: pointer;
            padding-left: 0px;
            font-size: 1.5em;
        }

        .icon-row {
            height: 58px;
            line-height: 58px;
            background: $menu-dark;
            margin-right: 0;
            margin-left: 0;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.85);

            .title-col {
                @include lato-font('bold');

                height: 100%;
                text-align: left;
                text-align-last: left;
                padding-left: 5%;
                font-size: $font-size-x-regular;
                color: white;
            }

            .icon-col {
                height: 100%;

                p-multiselect {
                    width: 100%;
                    color: $background;

                    p-multiselectitem {
                        li:hover {
                            background: $menu-dark !important;
                            color: $background;

                            .pi-check::before {
                                color: $background !important;
                            }
                        }
                    }

                    .custom-bars {
                        content: url("/assets/icon/columns.svg");
                    }

                    .p-multiselect-items-wrapper {
                        padding: 0px;
                        background: white;
                    }

                    .p-multiselect-items {
                        background: white;
                    }

                    .p-multiselect-panel {
                        padding: 0px;
                        background: transparent;
                        min-width: 234px !important;
                        left: -190px !important;
                        top: 20px !important;
                        color: color(text, secondary);

                        .pi-check::before {
                            color: $checkmark-color;
                        }
                    }

                    .p-multiselect-trigger {
                        height: 0px;
                    }

                    .p-multiselect-trigger-icon {
                        font-size: 1.5em;
                        color: white;
                    }

                    .p-multiselect-item {
                        line-height: 30px;
                        text-align: left;
                        padding-left: 15px;
                        padding-right: 15px;
                        display: flex !important;

                        .p-chkbox {
                            margin-right: 6.8px;
                        }

                        .p-chkbox-box {
                            line-height: 23px;
                        }
                    }
                }

                .absolute-icon {
                    position: absolute;
                    top: 16px;
                    right: 65%;
                }

                .absolute-icon-left {
                    position: absolute;
                    top: 16px;
                    right: 100%;
                }
            }
        }
    }

    tr:hover {
        background: rgba(63, 94, 171, 0.25) !important;
        color: $background;
    }

    .p-datatable-scrollable-wrapper {
        padding-bottom: 60px;
    }

    .p-datatable-scrollable-view {
        background-color: $background;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    }

    .p-datatable-scrollable-body {
        min-height: 300px;
    }

    .section {
        h1 {
            text-align: center;
        }
        p{
            text-align: center;
        }
    }

    .info-icon {
        content: url("/assets/icon/info-icon.svg");
    }

    .top-section {
        padding-bottom: 0px;

        background-size: cover;
        background-position: top; /* Position the image to the top center of the div */

        > h1, p {
            text-align: left !important;
            text-align-last: left !important;
        }

        .link-heading {
            float: none;
            margin: 0px;
            transform: none;
        }

        @include respond-to('ex-small') {
            padding-top: 2em;
            padding-left: 9%;
            padding-bottom: 2em;
            padding-right: 9%;
        }
        @include respond-to('small') {
            padding-top: 2em;
            padding-left: 9%;
            padding-bottom: 2em;
            padding-right: 9%;
        }
        @include respond-to('medium') {
            padding-top: 2em;
            padding-left: 10%;
            padding-bottom: 2em;
            padding-right: 10%;
        }
        @include respond-to('large') {
            padding-top: 2em;
            padding-left: 10%;
            padding-bottom: 2em;
            padding-right: 10%;
        }
        @include respond-to('ex-large') {
            padding-top: 2em;
            padding-left: 10%;
            padding-bottom: 2em;
            padding-right: 10%;
        }
    }

    .p-datatable-tbody {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: unset !important;
    }

    .p-datatable-scrollable-header-box {
        margin-right: 0px !important;

        @include respond-to('ex-small') {
            border-right: 0px!important;
        }
    }

    .p-datatable-caption {
        background-color: transparent;
        background: none;
        border: none;
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative;

        .search-row {
            display: block;
            height: 63px;
            width: 100%;
        }

        .filter-wrapper {
            display: flex;        /* IE < 10, Opera *Presto* Desktop (Now dead) */
            justify-content: center;
            text-align: left;
            height: 63px;
            flex-flow: column wrap;
            position: relative;
            width: 100%;
            margin-right: 20px;

            @include respond-to('ex-small') {
                margin-left: 0px;
            }
            @include respond-to('small') {
                margin-left: 0px;
            }
            @include respond-to('medium') {
                margin-left: 10px;
            }
            @include respond-to('large') {
                margin-left: 10px;
            }
            @include respond-to('ex-large') {
                margin-left: 10px;
            }

            .italic-result {
                > p {
                    @include lato-font('normal', italic);
                    color: color(italic-text, base) !important;
                }

                cursor: context-menu;
            }

            .italic-result:hover {
                background: $background;
            }

            .input-text {
                font-size: $font-size-xx-regular;
                color: color(text, primary);
            }
        }

        #keyword {
            @include lato-font('normal');

            resize: none;
            width: 85%;
            background: transparent;
            line-height: 18px;
            border-color: color(keyword, border-color);
            border: 2px;

            text-align: left;
            text-align-last: left;
            font-size: $font-size-x-small-odd;
            overflow: auto;

            // Opera Mini workaround
            outline-offset:-2px;
            outline: none;

            // Input placehold for search
            ::placeholder {
                white-space:pre-line;
                position:relative;
                color: color(input-placeholder);
            }
        }

        .keyword-wrapper:focus-within {
            box-shadow: 0px 0px 4px 2px $secondary-background;
            border-radius: 6px;

            // Opera Mini workaround
            outline-offset:-2px;
            outline: none;
        }

        p {
            margin-top: 22px;
            margin-bottom: 20px;
            text-align: center;
        }

        .span-add-this {
            @include lato-font('bold');

            color: color(text, secondary);

            @include respond-to('ex-small') {
                margin-left: 0px;
            }
            @include respond-to('small') {
                margin-left: 0px;
            }
            @include respond-to('medium') {
                margin-left: 10px;
            }
            @include respond-to('large') {
                margin-left: 10px;
            }
            @include respond-to('ex-large') {
                margin-left: 10px;
            }
            margin-right: 20px;
        }

        .span-add-this-left {
            width: 100%;
            text-align: left;
            text-align-last: left;
        }

        .span-add-this-right {
            width: 100%;
            text-align: right;
            text-align-last: right;
        }

        .img-right {
            text-align: right;
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .p-datatable-thead {
        .p-state-highlight {
            color: $menu-dark;
        }

        .p-sortable-column {
            outline: 0;
        }

        >tr>th {
            @include lato-font('bold');

            background: $menu-dark !important;
            border: none;
            height: 58px;
            line-height: 40px;
            font-size: $font-size-x-regular;
            color: $background !important;
        }

        .nomlist-first-col {
            vertical-align: middle;
            margin: auto;
        }

        .nomlist-flex-header {
            display: flex;
            width: 100%;
            height: 58px !important;
            line-height: 58px !important;
            align-items: center;



            >th {
                padding: 0px;

                @include respond-to('ex-small') {
                    display: -webkit-box;
                }
                @include respond-to('small') {
                    display: -webkit-box;
                }
            }

            > [class*="col-"] {
                > input {
                    width: 100%;
                    border-radius: 6px;
                    padding-left: 10%;

                    height: 40px;
                    line-height: 40px;
                    box-shadow: inset 0px 0px 4px color(box-shadow);
                    text-align-last: left;
                    font-size: $font-size-regular;
                    border: 0px;

                    ::placeholder {
                        color: color(input-placeholder);
                    }
                }

                > input:focus {
                    box-shadow: 0px 0px 4px 2px $secondary-background;
                    border-radius: 6px;
                    outline-offset: -2px;
                    outline: 0;
                }
            }
        }

        .sort-icon {
            max-width: 22px;
        }

        >tr>th {
            text-align: center;
        }

        .p-sortable-column {
            font-size: $font-size-x-regular;
        }
    }

    .p-datatable-tbody {
        height: 100%;

        .p-selectable-row {
            outline: 0;
            cursor: pointer;
        }

        >tr.p-state-highlight,
        >tr:focus {
            background-color: color(tr-focus, bg-color) !important;
        }

        >tr>td {
            @include lato-font('normal');

            outline: 0;
            border: 0px;
            line-height: 40px;
            padding: .25em .5em;
            font-size: $font-size-x-regular;
            color: color(text, secondary) !important;
            height: 40px;
            text-align: center;

            &:first-letter {
                text-transform: capitalize;
            }
        }
    }

    .p-sortable-column-icon {
        color: $menu-dark !important;
    }

    .btn-nom{
        cursor: pointer;
    }
}

.full-width {
    width: 100%;
}

.no-margin {
    margin: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
    margin-block-end: 0px;
}

.no-margin-top {
    margin-top: 0px;
    margin-block-start: 0px;
}

.synapse-button {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.black-paragraph {
    color: color(text, secondary);
}

.italic-paragraph {
    @include lato-font('normal', italic);

    line-height: normal;
    font-size: $font-size-x-regular;
    color: color(italic-text, base);
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.no-padding {
    padding: 0 !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-vertical-padding {
    padding-bottom: 0 !important;
    padding-top: 0px !important;
}

.center-justified-last {
    text-align: justify;
    text-align-last: center;
}

.center-text {
    text-align: center;
}

.text-center {
    text-align: center;
}

.vertical-align {
    align-items: center;
}

.vertical-align-middle {
    vertical-align: middle;
}

.full-height {
    height: 100%;
}

.small-padding-top {
    padding-top: 2%;
}

.light-blue {
    background: #2AB7E6;
}

.row-shadow {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.section {
    @include lato-font('normal');

    @include respond-to('ex-small') {
        padding-top: 2em;
        padding-left: 9%;
        padding-bottom: 2em;
        padding-right: 9%;
        color: #000000;
        //background-color: #ffffff;
    }
    @include respond-to('small') {
        padding-top: 2em;
        padding-left: 9%;
        padding-bottom: 2em;
        padding-right: 9%;
        color: #000000;
        //background-color: #ffffff;
    }
    @include respond-to('medium') {
        padding-top: 2em;
        padding-left: 15%;
        padding-bottom: 2em;
        padding-right: 15%;
        color: #000000;
        //background-color: #ffffff;
    }
    @include respond-to('large') {
        padding-top: 2em;
        padding-left: 17%;
        padding-bottom: 2em;
        padding-right: 17%;
        color: #000000;
        //background-color: #ffffff;
    }
    @include respond-to('ex-large') {
        padding-top: 2em;
        padding-left: 22%;
        padding-bottom: 2em;
        padding-right: 22%;
        color: #000000;
       //background-color: #ffffff;
    }
}

.section-thin {
    @include lato-font('normal');

    @include respond-to('ex-small') {
        padding-top: 2em;
        padding-left: 3.5%;
        padding-bottom: 2em;
        padding-right: 3.5%;
        color: #000000;
        background-color: #ffffff;
    }
    @include respond-to('small') {
        padding-top: 2em;
        padding-left: 4.0%;
        padding-bottom: 2em;
        padding-right: 4.0%;
        color: #000000;
        background-color: #ffffff;
    }
    @include respond-to('medium') {
        padding-top: 2em;
        padding-left: 4.5%;
        padding-bottom: 2em;
        padding-right: 4.5%;
        color: #000000;
        background-color: #ffffff;
    }
    @include respond-to('large') {
        padding-top: 2em;
        padding-left: 5.5%;
        padding-bottom: 2em;
        padding-right: 5.5%;
        color: #000000;
        background-color: #ffffff;
    }
    @include respond-to('ex-large') {
        padding-top: 2em;
        padding-left: 7.5%;
        padding-bottom: 2em;
        padding-right: 7.5%;
        color: #000000;
        background-color: #ffffff;
    }
}

.section-hero {
    background-image: url('/assets/img/hero-background.svg');
    background-size: cover !important;

    > h1 {
        text-align-last: center;
    }
}

.overview-header {
    .row {
        align-items: center;
    }
}

.overview-desc {
    margin-bottom: 2%;
}

.beta-underline {
    text-decoration: underline;
    cursor: pointer;
}

.pathbox {
    width: 100%;
    margin-bottom: 10px;

    .genes {
        span {
            @include lato-font('bold');

            color: #5BB0B5;
            text-decoration: underline;
            cursor: pointer;
            line-height: normal;
            font-size: $font-size-x-regular;
            width: 100%;
        }
    }

    span {
        margin-right: 5px;
    }
}

.keyword-wrapper {
    display: flex;        /* IE < 10, Opera *Presto* Desktop (Now dead) */
    // justify-content: center;
    text-align: left;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    background: $background;
    border: 1px solid #000000;
    box-shadow: inset 0px 0px 4px color(keyword, box-shadow);
    border-radius: 6px;

    .row {
        height: 100%;
    }

    .input-search-col {
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }

    .input-search-icon {
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
        text-align: right;

        i {
            width: 24px;
            height: 24px;
            z-index: 2;
            vertical-align: middle;
            color: $search-icon-color;
            content: url("/assets/icon/search_icon.png") !important;
        }
    }
}

.linkstable {

    table {
        border-collapse: collapse;
    }

    table {
        width: 100%;

        tr {
            @include lato-font('normal');

            line-height: 40px;
            color: color(text, secondary);
            height: 40px;
        }

        tr:nth-child(even) {
            background: $table-row-even;
        }

        tr:nth-child(odd) {
            background: $table-row-odd;
        }
    }

    .caption-section {
        @include respond-to('ex-small') {
            padding-left: 9%;
            padding-right: 9%;
        }
        @include respond-to('small') {
            padding-left: 9%;
            padding-right: 9%;
        }
        @include respond-to('medium') {
            padding-left: 10%;
            padding-right: 10%;
        }
        @include respond-to('large') {
            padding-left: 10%;
            padding-right: 10%;
        }
        @include respond-to('ex-large') {
            padding-left: 10%;
            padding-right: 10%;
        }

        background-color: transparent;
        background: none;
        border: none;
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative;

        .row {
            .header-row {
                padding-top: 0px;
                // padding-bottom: 49px;
                margin: 0px;
            }

            .header-col {
                padding: 0px;
                padding-top: 44px;
            }

            .search-row {
                display: block;
                height: 63px;
                width: 100%;
                padding-bottom: 135px;
            }

            .filter-wrapper {
                display: flex;        /* IE < 10, Opera *Presto* Desktop (Now dead) */
                justify-content: center;
                text-align: left;
                height: 63px;
                flex-flow: column wrap;
                position: relative;
                width: 100%;
                margin-right: 20px;

                @include respond-to('ex-small') {
                    margin-left: 0px;
                }
                @include respond-to('small') {
                    margin-left: 0px;
                }
                @include respond-to('medium') {
                    margin-left: 15px;
                }
                @include respond-to('large') {
                    margin-left: 15px;
                }
                @include respond-to('ex-large') {
                    margin-left: 15px;
                }

                .italic-result {
                    > p {
                        @include lato-font('normal', italic);
                        color: color(italic-text, base) !important;
                    }

                    cursor: context-menu;
                }

                .italic-result:hover {
                    background: $background;
                }

                .input-text {
                    font-size: $font-size-xx-regular;
                    color: color(text, primary);
                }
            }

            #keyword {
                @include lato-font('normal');

                resize: none;
                width: 85%;
                background: transparent;
                line-height: 18px;
                border-color: color(keyword, border-color);
                border: 2px;

                text-align: left;
                text-align-last: left;
                font-size: $font-size-x-small-odd;
                overflow: auto;

                // Opera Mini workaround
                outline-offset:-2px;
                outline: none;

                // Input placehold for search
                ::placeholder {
                    white-space:pre-line;
                    position:relative;
                    color: color(input-placeholder);
                }
            }

            .keyword-wrapper:focus-within {
                box-shadow: 0px 0px 4px 2px $secondary-background;
                border-radius: 6px;

                // Opera Mini workaround
                outline-offset:-2px;
                outline: none;
            }

            p {
                margin-top: 22px;
                margin-bottom: 20px;
                text-align: center;
            }

            .span-add-this {
                @include lato-font('bold');

                color: color(text, secondary);

                @include respond-to('ex-small') {
                    margin-left: 0px;
                }
                @include respond-to('small') {
                    margin-left: 0px;
                }
                @include respond-to('medium') {
                    margin-left: 15px;
                }
                @include respond-to('large') {
                    margin-left: 15px;
                }
                @include respond-to('ex-large') {
                    margin-left: 15px;
                }
                margin-right: 25px;
            }

            .span-add-this-left {
                width: 100%;
                text-align: left;
                text-align-last: left;
            }

            .span-add-this-right {
                width: 100%;
                text-align: right;
                text-align-last: right;
            }

            .img-right {
                text-align: right;
                width: 100%;
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }
}

[hidden] { display: none !important; }

.green-text {
    color: #6DB56D !important;
}

.red-text {
    color: #E0585D !important;
}

.placeholder-img {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
}

.placeholder-text {
    @include lato-font('normal', italic);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: normal;
    font-size: $font-size-x-regular;
    text-align: center;
    color: #9DA3B3;
}

.icon-spacing {
    margin-right: 5px;
}

.info-icon {
    float: left;
    margin-right: 8px;
}

.download-img {
    cursor: pointer;
}

.loading-video {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    pointer-events: none;
}

.link {
  @include link
}


.custom-toast {
    @include respond-to('ex-small') {
        width: 80%;
    }
    @include respond-to('small') {
        width: 60%;
    }
    @include respond-to('medium') {
        width: 50%;
    }

    .p-toast-message {
        @include lato-font('normal');

        color: color(text, secondary);
        line-height: normal;
        font-size: $font-size-x-regular;
    }

    .p-toast-message-content {
        padding: 10px;
    }

    .p-toast-message-text {
        padding-left: 8px;
    }

    .p-toast-message-icon {
        transform: translateY(2px);
    }

    .p-toast-summary {
        @include lato-font('bold');

        color: color(text, secondary);
        line-height: normal;
        font-size: $font-size-xx-regular;
    }

    .p-toast-close-icon {
        color: color(text, secondary);
        font-size: $font-size-xxxx-regular;
        border: none;
        text-decoration: none;
    }

    .p-toast-message-error {
        background: #f33847;
    }

    .p-toast-message-warn {
        background: #ffe399;
    }
}

// A charts only  section. Added these rules here instead of the
// respective components so we don't have to download
// the fonts again when viewing the evidence tab. The force
// chart doesn't need this, no dc.js class to override there

// Median chart

.mc-tooltip {
    @include lato-font('regular');

    position: absolute;
    padding: 14px;
    text-align: center;
    line-height: normal;
    border: 0px;
    background: $background;
    box-shadow: 0px 0px 4px color(box-shadow);
    border-radius: 2px;
    color: black;
}

.median-content {
    height: 350px;

    .dc-chart {
        width: 100%;

        svg {
            height: 100%;

            rect.bar, text {
                cursor: default;
            }

            rect.bar:hover {
                fill-opacity: 1;
              }
        }
    }
}

.no-float{
    float:none!important;
}

.mc {
    width: 100%;
    height: 100%;

    g > text.y-axis-label {
        @include lato-font('bold');
        font-size: $font-size-regular;
        color: $chart-grey;
    }

    g.axis.y, g.axis.x {
        text {
            @include lato-font('bold');
            @include respond-to('ex-small') {
                font-size: $font-size-tiny;
            }

            pointer-events: auto;

            font-size: $font-size-x-regular;
            color: color(text, primary);
        }
    }

    g.stack {
        text.barLabel {
            @include lato-font('normal');
            font-size: $font-size-regular;
            color: $chart-grey;
        }
    }

    path.domain {
        stroke: $grey-border-color;
        stroke-width: 4px;
    }

    .axis line {
        stroke: $background;
    }

    min-height: 350px;
    max-height: 350px;
}

// Row chart

.rc-plot-heading {
    h2, h3 {
        text-align: center !important;
    }
}

.rc-tooltip {
    @include lato-font('regular');

    position: absolute;
    padding: 14px;
    text-align: center;
    line-height: normal;
    border: 0px;
    background: $background;
    box-shadow: 0px 0px 4px color(box-shadow);
    border-radius: 2px;
    color: color(text, fill);
}

.rc-plot-content {
    min-height: 450px;

    .dc-chart {
        width: 100%;

        svg {

            rect, text {
                cursor: default;
            }
        }
    }
}

.row-chart-row {
    height: 100%;
    width: 100%;
}

g.textGroup text {
    @include lato-font('bold');

    line-height: normal;
    font-size: $font-size-x-regular;
    color: color(text, secondary);
}

.rc {
    width: 100%;
    height: 100%;

    path.domain {
        stroke: $grey-border-color;
        stroke-width: 4px;
    }

    .axis line {
        stroke: $background;
    }

    svg g, g.row g.confidence-text-left text, g.row g.confidence-text-right text {
        @include lato-font('normal');

        pointer-events: auto;

        line-height: normal;
        font-size: $font-size-regular;
        color: $chart-grey;
        fill: $chart-grey;
    }

    g.axis text {
        @include lato-font('bold');

        pointer-events: auto;

        line-height: normal;
        font-size: $font-size-regular;
        color: color(text, secondary);
        fill: color(text, secondary);
    }

    g.row rect {
        fill-opacity: 1 !important;
    }

    .confidence-text text {
        display: none;
    }

    .x-axis-label {
        @include lato-font('bold');

        line-height: normal;
        font-size: $font-size-regular;
        text-align: center;
        color: $chart-grey;
    }

    min-height: 450px;
    max-height: 450px;
}

.sc {
    svg {
        width: 100%;
        height: 400px;
    }

    min-height: 450px;
    max-height: 450px;
}

// Select-menu chart

.select-column-tissue, .select-column-model {
    width: 100%;
    background: $background;
    position: relative;

    select {
        cursor: pointer;
        background: url(/assets/icon/arrow_down.png) no-repeat 97.5% center;
        box-shadow: 0px 0px 4px color(box-shadow);
        border: 0;

        @include respond-to('ex-small') {
            font-size: $font-size-regular;
        }
        @include respond-to('small') {
            font-size: $font-size-regular;
        }
        @include respond-to('medium') {
            font-size: $font-size-x-regular;
        }
        @include respond-to('large') {
            font-size: $font-size-x-regular;
        }
        @include respond-to('ex-large') {
            font-size: $font-size-x-regular;
        }
    }

    select-menu {
        height: 100%;
    }

    .select-selected {
        color: color(text, secondary);
        height: 52px;
        line-height: 52px;
        padding-left: 15px;
        background: $background;
        box-shadow: 0px 0px 4px color(box-shadow);
        cursor: pointer;
        @include respond-to('ex-small') {
            font-size: $font-size-regular;
        }
        @include respond-to('small') {
            font-size: $font-size-regular;
        }
        @include respond-to('medium') {
            font-size: $font-size-x-regular;
        }
        @include respond-to('large') {
            font-size: $font-size-x-regular;
        }
        @include respond-to('ex-large') {
            font-size: $font-size-x-regular;
        }
        margin-bottom: 40px;
    }

    /*style the arrow inside the select element:*/
    .select-selected:after {
        width: 24px;
        position: absolute;
        content: "";
        top: 40%;
        right: 10px;
        height: 24px;
        border: 12px solid transparent;
        border-color: $secondary-background transparent transparent transparent;
    }

    // Point the arrow upwards when the select box is open (active):
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent $secondary-background transparent;
        top: 7px;
    }

    // Style the items (options)
    .select-items div {
        @include lato-font('normal');

        color: color(text, secondary);
        cursor: pointer;
        @include respond-to('ex-small') {
            font-size: $font-size-x-small;
        }
        @include respond-to('small') {
            font-size: $font-size-regular;
        }
        @include respond-to('medium') {
            font-size: $font-size-regular;
        }
        @include respond-to('large') {
            font-size: $font-size-regular;
        }
        @include respond-to('ex-large') {
            font-size: $font-size-regular;
        }
        padding-left: 30px;
        height: 52px;
        line-height: 52px;
        border-bottom: 1px solid $grey-border-color !important;
    }

    /*style items (options):*/
    .select-items {
        position: absolute;
        background-color: $background;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        box-shadow: inset 0px 0px 4px color(keyword, border-color);
    }

    /*hide the items when the select box is closed:*/
    .select-hide {
        display: none;
    }

    .select-items div:hover, .same-as-selected {
        background-color: color(black-box-shadow, a10);
    }
}

.ori-sel-chart {
    display: none; /*hide original SELECT element:*/
}

.dc-select-menu {
    box-shadow: 0px 0px 4px color(box-shadow);
    min-height: 52px;
}

.select-inactive {
    pointer-events: none;

    /* for "disabled" effect */
    opacity: 0.5;
}

.controls-row {
    align-items: center;

    disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    p-progressSpinner {
        top: -26px;
        left: 0%;
    }
}

// Box-plot chart

.bp-axis-tooltip, .pbp-axis-tooltip, .cc-axis-tooltip {
    @include lato-font('regular');
    position: absolute;
    padding: 14px;
    text-align: center;
    line-height: normal;
    border: 0px;
    background: $background;
    box-shadow: 0px 0px 4px color(box-shadow);
    border-radius: 2px;
    color: color(text, fill);
    pointer-events: none;
}

.bplot-content {
    height: 450px;

    .dc-chart {
        width: 100%;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}

.x-axis-row {
    .x-axis-heading {
        @include lato-font('bold');
        line-height: normal;
        font-size: $font-size-regular;
        width: 100%;
        padding-left: 60px;

        color: $chart-grey;
    }
}

.bplot-heading {
    h2, h3 {
        text-align: center !important;
    }
}

.bp-tooltip, .pbp-tooltip {
    @include lato-font('normal');

    position: absolute;
    padding: 14px;
    text-align: center;
    line-height: normal;
    color: $background;
    font-size: $font-size-regular;
    background: $quinary-background;
    border: 0px;
    border-radius: 8px;
}

.bp {
    width: 100%;
    height: 100%;

    g.row text {
        fill: color(text, fill);
    }

    path.domain {
        stroke: $grey-border-color;
        stroke-width: 4px;
    }

    .axis line {
        stroke: $background;
    }

    g.axis text {
        @include lato-font('normal');

        line-height: normal;
        font-size: $font-size-regular;
        color: $chart-grey;
        fill: $chart-grey;
    }

    g.axis.x {
        text {
            @include lato-font('bold');
            @include respond-to('ex-small') {
                font-size: $font-size-tiny;
            }

            pointer-events: auto;

            font-size: $font-size-x-regular;
            color: color(text, primary);
            fill: color(text, primary);
        }
    }

    .y-axis-label {
        @include lato-font('bold');

        line-height: 19px;
        font-size: $font-size-regular;
        text-align: center;
        color: $chart-grey;
    }

    width: 100%;
    height: 100%;

    .box > line, rect {
        stroke: color(rect, stroke) !important;
        stroke-width: 3px !important;
    }

    min-height: 450px;
    max-height: 450px;
}

