@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.overview-header {
  .fa-star::before {
    color: var(--color-secondary);
  }

  p-button {
    @include respond-to("ex-small") {
      width: 70%;
    }
    width: 100%;
    height: 100%;

    button {
      width: 100%;
      height: 100%;
    }
  }
}

.nomination-list {
}
