<div class="overview-link">
    <p-panel header="RNA-Seq Differential Expression" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="section-thin st-desc">
            <p class="black-paragraph">
                These differential expression results are based on harmonized RNA-seq data
                from three independent studies, which include post-mortem samples from over
                1100 individuals and seven distinct brain regions. Note that only genes with
                significant differential expression in at least one tissue and model are visible.
            </p>
            <p class="black-paragraph">
                <span class="link-heading" (click)="goToRoute('/about')">Learn more about the analysis</span>
                <img class="info-icon" src="/assets/icon/info_icon.png">
            </p>
        </div>
        <gene-rnaseq-de></gene-rnaseq-de>
    </p-panel>
</div>

<div class="overview-link">
    <p-panel header="Similarly Expressed Genes" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <div class="section-thin st-desc" tabindex="0">
            <p class="black-paragraph">
                Here we show results of a coexpression network analysis based on the RNA-seq
                data. The network analysis uses an ensemble methodology to identify networks
                of genes that show similar coexpression across patients. In the network
                diagram below, the color of the edge and nodes indicates how frequently
                significant coexpression was identified across brain regions. Darker edges
                indicate significant coexpression in more brain regions.
            </p>
            <p class="black-paragraph">
                <span class="link-heading" (click)="goToRoute('/about')">Learn more about the analysis</span>
                <img class="info-icon" src="/assets/icon/info_icon.png">
            </p>
        </div>
        <gene-network [noData]="getInfoState()"></gene-network>
    </p-panel>
</div>
