<div class="rna-wrapper">
    <div class="section-thin overview-header nom-rna-oh" tabindex="0">
        <div class="row no-gutters">
            <h2 class="full-width no-margin-bottom">RNA Expression</h2>
            <p class="black-paragraph">
                The results shown on this page are derived from a harmonized RNA-seq analysis
                of post-mortem brains from AD cases and controls. The samples were obtained
                from three human cohort studies across a total of seven different brain regions.
            </p>
            <h2 class="vmi-wrapper full-width no-margin-top">
                <more-info [name]="'rna'" [text]="'Data and Methods for this study'">
                    <rna-dialog [header]="'RNA Expression Analysis'"></rna-dialog>
                </more-info>
            </h2>
        </div>
        <h1 class="inner-section-divider"></h1>
    </div>
    <gene-rnaseq-de></gene-rnaseq-de>

    <div class="section-thin overview-header nom-rna-oh no-vertical-padding" tabindex="0">
        <div class="row no-gutters">
            <div class="col-md-12 col-sm-12 col-12">
                <h3>Similarly Expressed Genes</h3>
                <p class="black-paragraph">
                    The network diagram below is based on a coexpression network analysis of
                    RNA-seq data from AD cases and controls. The network analysis uses an
                    ensemble methodology to identify genes that show similar coexpression
                    across individuals.
                </p>
                <p class="black-paragraph">
                    The color of the edges and nodes indicates how frequently significant
                    coexpression was identified. Each node represents a different gene and
                    the amount of edges within the network. Darker edges represent coexpression
                    in more brain regions.
                </p>
            </div>
        </div>
        <h1 class="inner-section-divider"></h1>
    </div>

    <div class="section-thin overview-header nom-rna-oh no-padding-top" tabindex="0">
        <gene-network [noData]="getNoInfoState()"></gene-network>
    </div>
</div>
