<div class="gct-filter-list">
  <div *ngIf="hasSelectedFilters()" class="gct-filter-list-inner">
    <div>
      <button class="gct-filter-list-clear-all" (click)="clear()">
        <svg
          width="10"
          height="12"
          viewBox="0 0 10 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.04102 1.33333L6.45768 0.75H3.54102L2.95768 1.33333H0.916016V2.5H9.08268V1.33333H7.04102ZM1.49935 10.0833C1.49935 10.725 2.02435 11.25 2.66602 11.25H7.33268C7.97435 11.25 8.49935 10.725 8.49935 10.0833V3.08333H1.49935V10.0833ZM2.66602 4.25H7.33268V10.0833H2.66602V4.25Z"
            fill="#878E95"
          />
        </svg>
        Clear all
      </button>
    </div>
    <div>
      <ng-container *ngFor="let filter of filters; index as i">
        <ng-container *ngFor="let option of filter.options; index as j">
          <div *ngIf="option.selected" class="gct-filter-list-item">
            <div>
              <button class="gct-filter-list-item-handle">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="gct-filter-list-item-text">
              <b>{{ filter.short }}:</b>&nbsp;<span>{{ option.label }}</span>
            </div>
            <div>
              <button
                class="gct-filter-list-item-clear"
                (click)="clear(option)"
              >
                <svg
                  width="10"
                  height="10"
                  viewBox="0 0 10 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 9L9 1M1 1L9 9"
                    stroke="currentColor"
                    stroke-width="2"
                  />
                </svg>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
