<div class="ui-rtl" dir="rtl">
    <p-dialog header="" [(visible)]="display" [modal]="true"
        [responsive]="true" [minY]="256" [baseZIndex]="10000"
        [styleClass]="'btm-dialog'" [ngStyle]="{'minWidth': 330}">
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span first-bp-dia-row" dir="ltr">
                    Statistical Models
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Diagnosis (males and females):
                </span>
                <span dir="ltr">
                    This is the base model which compares gene expression in AD patients with controls.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Diagnosis x AOD (males and females):
                </span>
                <span dir="ltr">
                    This model evaluates the difference between female AD patients and female controls.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Diagnosis x Sex (females only):
                </span>
                <span dir="ltr">
                    This model evaluates the difference between male AD patients and male controls.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Diagnosis x Sex (males only):
                </span>
                <span dir="ltr">
                    This model compares gene expression in AD patients and controls, and whether that association is influenced by Age of Death (AOD).
                </span>
            </div>
        </div>
    </p-dialog>
</div>
