@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.rc-plot-heading {
    h2, h3 {
        text-align: center !important;
    }
}

.rc-tooltip {
    @include lato-font('regular');

    position: absolute;
    padding: 14px;
    text-align: center;
    line-height: normal;
    border: 0px;
    background: $background;
    box-shadow: 0px 0px 4px color(box-shadow);
    border-radius: 2px;
    color: color(text, fill);
}

.rc-plot-content {
    min-height: 450px;

    .dc-chart {
        width: 100%;
    }
}

.row-chart-row {
    height: 100%;
    width: 100%;
}

g.textGroup text {
    @include lato-font('bold');

    line-height: normal;
    font-size: $font-size-x-regular;
    color: color(text, secondary);
}

.rc {
    width: 100%;
    height: 100%;

    path.domain {
        stroke: $grey-border-color;
        stroke-width: 4px;
    }

    .axis line {
        stroke: $background;
    }

    svg g, g.row g.confidence-text-left text, g.row g.confidence-text-right text {
        @include lato-font('normal');

        pointer-events: auto;

        line-height: normal;
        font-size: $font-size-regular;
        color: $chart-grey;
        fill: $chart-grey;
    }

    g.axis text {
        @include lato-font('bold');

        pointer-events: auto;

        line-height: normal;
        font-size: $font-size-regular;
        color: color(text, secondary);
        fill: color(text, secondary);
    }

    g.row rect {
        fill-opacity: 1 !important;
    }

    .confidence-text text {
        display: none;
    }

    .x-axis-label {
        @include lato-font('bold');

        line-height: normal;
        font-size: $font-size-regular;
        text-align: center;
        color: $chart-grey;
    }

    min-height: 450px;
    max-height: 450px;
}

.sc {
    svg {
        width: 100%;
        height: 400px;
    }

    min-height: 450px;
    max-height: 450px;
}
