<div class="ui-rtl" dir="rtl">
    <p-dialog header="Similar Genes" [(visible)]="display" [modal]="true" [responsive]="true" [minY]="256"
    [baseZIndex]="10000" [styleClass]="'sp-dialog'" [ngStyle]="{'minWidth': 330}">
        <div class="row content-row top-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    This table shows a list of genes that show similarity to the selected gene based on coexpression network analysis. The other fields in the table are as follows:
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">
                        Nominated Target:
                    </span>
                    True indicates that this gene has been submitted as a nominated target to Agora.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">
                        Genetic Association with LOAD:
                    </span>
                    True indicates a significant genetic association with Late Onset AD (LOAD) based on the International Genomics of Alzheimer's Project (IGAP)
                    <a class="link no-bold" href="https://doi.org/10.1038/s41588-019-0358-2" target="_blank">genome-wide association study</a>.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">
                        RNA Expression Change in AD Brain:
                    </span>
                    True indicates that this gene show significant differential expression in at least one brain region based on AMP-AD consortium work detailed on Agora under RNA Evidence.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">
                        Brain eQTL:
                    </span>
                    True indicates that this gene has a significant expression Quantitative Trait Locus (eQTL) based on an
                    <a class="link no-bold" href="https://doi.org/10.1101/638544" target="_blank">AMP-AD consortium study</a>.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">
                        Pharos Class:
                    </span>
                    This indicates the “Development Level” of the selected target as classified by
                    <a class="link no-bold" href="https://pharos.nih.gov/targets" target="_blank">Pharos</a>.
                    Targets are assigned a classification related to the amount of knowledge about the target, where Tclin > Tchem > Tbio > Tdark. Targets
                    categorized as Tclin have approved drugs with known mechanisms of action, whereas targets categorized as Tdark have virtually nothing
                    known about them.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">
                        Small Molecule Druggability:
                    </span>
                    Rating of feasibility for development of small molecule drugs based on AMP-AD pharma partner analysis. Smaller bucket numbers being
                    generally accepted as more likely to result in successful drug development than larger numbered buckets.
                    <a class="link no-bold" href="https://www.synapse.org/#!Synapse:syn13363443" target="_blank">Learn more</a>.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">
                        Safety Rating:
                    </span>
                    Rating of safety for therapeutic intervention based on AMP-AD pharma partner analysis. Smaller bucket numbers being generally accepted
                    as more likely to result in successful drug development than larger numbered buckets.
                    <a class="link no-bold" href="https://www.synapse.org/#!Synapse:syn13363443" target="_blank">Learn more</a>.
                </p>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <p>
                    <span class="header-span" dir="ltr">
                        Antibody Modality:
                    </span>
                    Rating of feasibility for development of a therapeutic antibody based on AMP-AD pharma partner analysis. Smaller bucket numbers being
                    generally accepted as more likely to result in successful drug development than larger numbered buckets.
                    <a class="link no-bold" href="https://www.synapse.org/#!Synapse:syn13363443" target="_blank">Learn more</a>.
                </p>
            </div>
        </div>
    </p-dialog>
</div>
