<div class="ui-rtl" dir="rtl">
  <p-dialog header="" [(visible)]="display" [modal]="true" [responsive]="true" [minWidth]="330" [minY]="256"
    [baseZIndex]="10000" [styleClass]="'sp-dialog'">
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Nominated:
                </span>
                <span dir="ltr">
                    Indicates whether this gene has been nominated by the AMP-AD consortium as a nascent target for AD
                    treatment.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Brain eQTL:
                </span>
                <span dir="ltr">
                    Significant expression Quantitative Trait Locus (eQTL) based on AMP-AD consortium unpublished work.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    AD Genetic Association:
                </span>
                <span dir="ltr">
                    Significant genetic association with based on the International Genomics of Alzheimer's Project (IGAP) genome-wide association study.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Druggability:
                </span>
                <span dir="ltr">
                    Targets have been scored for likely suitability for small-molecule drugs (SM ligandability) in a multi-step process. In brief, targets are placed into buckets that are ordered according to preference for small-molecule (SM) drug development, with smaller bucket numbers being generally accepted as easier or more likely to result in successful drug development than larger numbered buckets.
                </span>
            </div>
        </div>
        <div class="row content-row" dir="ltr">
            <div class="col-md-12 col-sm-12 col-12">
                <span class="header-span" dir="ltr">
                    Pharos Class:
                </span>
                <span dir="ltr">
                    This indicates the “Development Level” of the selected target as classified by Pharos Targets are assigned a classification related to the amount of knowledge about the target, where Tclin > Tchem > Tbio > Tdark. Targets categorized as Tclin have approved drugs with known mechanisms of action, whereas targets categorized as Tdark have virtually nothing is known about them.
                </span>
            </div>
        </div>
    </p-dialog>
</div>
