<div class="section">
  <div class="section-inner">
    <div>
      <h2>Proteomics</h2>
      <p>
        The results shown on this page are derived from proteomics analysis of
        post-mortem brains from AD cases and controls. The samples were obtained
        from four human cohort studies across a total of four different brain
        regions.
      </p>
      <modal-link
        text="Data and Methods for this study"
        header="About the Proteomics Analysis"
        wikiId="612871"
      >
      </modal-link>
    </div>

    <hr class="separator separator-lg" />

    <div class="mb-lg">
      <h4>Filter the following chart by protein</h4>
      <p>
        Multiple proteins map to a single gene. Please select a protein of
        interest from the dropdown.
      </p>
      <gene-protein-selector
        [options]="uniProtIds"
        (onChange)="onProteinChange($event)"
      ></gene-protein-selector>
    </div>

    <hr class="separator separator-lg" />

    <div>
      <h3>
        Differential Expression of
        {{ _gene?.hgnc_symbol || _gene?.ensembl_gene_id }} and Selected Protein
        <download-dom-image
          [target]="pdeChart"
          [filename]="_gene?.ensembl_gene_id + '_proteomics'"
        ></download-dom-image>
      </h3>
      <p>
        After selecting a protein from the dropdown menu, you will be able to
        see whether the selected protein product is differentially expressed
        between AD cases and controls. The box plot depicts how the differential
        expression of the selected protein of interest (red dot) compares with
        expression of other proteins in a given brain region. Summary statistics
        for each tissue can be viewed by hovering over the red dots.
      </p>
      <p class="mb-xl">
        Note that proteins may not be detected in all four brain regions; for
        these proteins, the plot will show fewer than four brain regions.
      </p>
      <div #pdeChart>
        <box-plot
          xAxisLabel="Brain tissue"
          [yAxisMin]="differentialExpressionYAxisMin"
          [yAxisMax]="differentialExpressionYAxisMax"
          [data]="differentialExpressionChartData"
        ></box-plot>
      </div>
    </div>
  </div>
</div>
