<div class="row nav-row vertical-align" (window:resize)="onResize()">
    <div class="col-md-12 col-sm-12 col-12 logo-bg" #menuCol>
        <img src="/assets/img/agora-logo.svg" (click)="goHome()">
        <div class="desktop-menu" *ngIf="showDesktopMenu">
            <p-tabMenu #navMenu [model]="items" [activeItem]="activeItem" (click)="activateMenu()">
            </p-tabMenu>
        </div>
        <p-splitButton label="MENU" icon="" #mobileMenu *ngIf="showMobileMenu" [model]="mobileItems" [ngClass]="'mobile-menu'" [appendTo]="menuCol" dir="rtl"></p-splitButton>
    </div>
</div>
