.nav-row {
    //background: black;
    height: 87px;
    max-height: 87px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 0px;

    span {
        color: white;
    }

    .ui-menubar {
        background: #000000 !important;
        border: 0px;

        span.ui-menuitem-text {
            color: black !important;
        }
    }
}

.my-icon {
    content: url('/assets/img/user_icon_32x32.jpg');
}

.logo-bg {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    color: #C4C4C4;
    text-align: center;
    min-width: 180px;
    height: 58px;
    cursor: pointer;
    background: url('/assets/img/AgoraLogo-R.png');
    background-image: url('/assets/img/AgoraLogo-R.svg'),none;
    background-repeat: no-repeat;
}
