@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.nav-row {
    height: $navbar-height;
    max-height: 87px;
    margin-left: 0px;
    margin-right: 0px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: $background;
    z-index: 1000;

    .p-highlight {
        a > span {
            @include lato-font('bold');

        }
        a > span:after{
            content: '';
            background-repeat: repeat-x;
            background-image: url('/assets/img/active-page.svg') !important;
            background-position: 0 2.67em !important;
            opacity: 0.5;
                top: 0;
                left: 15px;
                bottom: 0;
                right: 15px;
                position: absolute;
        }
    }

    .p-menu.p-menu-overlay {
        padding: 12px;
    }

    p-splitButton {
        position: absolute;
        right: 10px;
        top: 27px;
    }

    span {
        @include lato-font('normal');
        font-size: $font-size-xx-regular;
        color: $span-color;
    }
}

.my-icon {
    content: url('/assets/img/user_icon_32x32.jpg');
}

.logo-bg {
    background: $background;
    height: 87px;

    > img {
        position: absolute;
        float: left;
        height: 87px;
        width: 169px;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        left: 6%;
        cursor: pointer;
    }
}



.desktop-menu {
    .footer-span {
        display: none;
    }

    .middle-line{
        display: none;
    }

    .p-tabmenu {
        position: absolute;
        top: 0px;
        height: 100%;
        // Comment this block and uncomment the block below if
        // "Watch the Video" gets added back to the navbar
        right: 5.5vw;

        @include respond-to('small') {
            right: 0.2vw;
        }
        @include respond-to('medium') {
            right: 5.5vw;
        }
        /*
        right: calc(200px + 5.5vw);

        @include respond-to('small') {
            right: calc(200px + 0.2vw);
        }
        @include respond-to('medium') {
            right: calc(200px + 5.5vw);
        }*/
    }

    .p-tabmenu-nav {
        float: right;
        padding: 0px;
        height: $navbar-height;
        line-height: $navbar-height;

        li {
            top: 0px !important;
            height: $navbar-height;
            line-height: $navbar-height;
            margin: 0px !important;

            a {
                height: $navbar-height;
                line-height: $navbar-height;

                span {
                    height: $navbar-height;
                    line-height: $navbar-height;
                }
            }
        }
    }

    .p-tabmenuitem {
        background-color: $background !important;
        border: none;
        height: 80px;

        a {
            padding: 0 1em !important;
            height: 80px;

            span {
                display: block;
                line-height: 80px;
                height: 80px;
            }
        }
    }
}

.mobile-menu {
    display: flex;
    float: right;
    height: 100%;
    align-items: center;

    .p-button {
        @include reset-button();
    }

    .p-button-icon {
        margin-right: 6px;
    }

    &.mobile-menu-open-btn {
        .p-button-icon-left:before {
            content: '';
            background: url('/assets/icon/close-modal-icon.svg') center center no-repeat;
            vertical-align: middle;
            background-size: 16px auto;
            padding-left: 20px;
            padding-top: 5px;
        }
    }

    &.mobile-menu-closed-btn {
        .p-button-icon-left:before {
            content: url('/assets/icon/bars-icon.svg');
        }
    }

    .p-menu {
        right: 15px;
        left: auto !important;
        margin-top: 6px;

        &.p-menu-overlay {
            -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
            -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
        }

        .p-menuitem {
            margin: 6px 0;
        }
    }
}