@import "variables";

/**
* Mixin to center any content
*/
@mixin center($axis: "both") {
    position: absolute;
    @if $axis == "y" {
        top: 50%;
        -moz-transform: translateY(-50%); /* Firefox */
        -o-transform: translateY(-50%); /* Opera */
        -webkit-transform: translateY(-50%); /* Safari And Chrome */
        transform: translateY(-50%); /* Standard Property */
    }
    @if $axis == "x" {
        left: 50%;
        -moz-transform: translateY(-50%); /* Firefox */
        -o-transform: translateY(-50%); /* Opera */
        -webkit-transform: translateY(-50%); /* Safari And Chrome */
        transform: translateY(-50%); /* Standard Property */
    }
    @if $axis == "both" {
        top: 50%;
        left: 50%;
        -moz-transform: translateY(-50%, -50%); /* Firefox */
        -o-transform: translateY(-50%, -50%); /* Opera */
        -webkit-transform: translateY(-50%, -50%); /* Safari And Chrome */
        transform: translateY(-50%, -50%); /* Standard Property */
    }
}

/**
* Responsive breakpoint manager
* S. https://sass-guidelin.es/#architecture
*/
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
        );

        @media #{$query} {
        @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`. '
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
}

@mixin font-size($sizeValue: 12) {
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 20) {
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}
