@import "variables";

/**
* Mixin to center any content
*/
@mixin center($axis: "both") {
    position: absolute;
    // Autoprefixer adds prefixes to the transforms
    @if $axis == "y" {
        top: 50%;
        transform: translateY(-50%);
    }
    @if $axis == "x" {
        left: 50%;
        transform: translateY(-50%);
    }
    @if $axis == "both" {
        top: 50%;
        left: 50%;
        transform: translateY(-50%, -50%);
    }
}

/**
* Responsive breakpoint manager
* S. https://sass-guidelin.es/#architecture
*/
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
        );

        @media #{$query} {
        @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`. '
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
}

@mixin font-size($sizeValue: 12) {
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 20) {
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}

@mixin link {
  @include lato-font('normal');
  cursor: pointer;
  width: 100%;
  line-height: normal;
  font-size: $font-size-x-regular;
  text-decoration: underline;
  color: #5BB0B5 !important;
  position: relative;
  top: inherit;
  left: inherit;
}


@mixin hover-underline {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@mixin reset-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
