@import '~lato-font/scss/_public-api.scss';

$lato-font-path: '~lato-font/fonts';

@include lato-include-font('bold');
@include lato-include-font('medium');
@include lato-include-font('normal');

$navbar-height: 87px;
$footer-height: 100px;
$video-height: 262px;
$video-width: 471px;

$font-size-tiny: 10px;
$font-size-small: 12px;
$font-size-x-small: 14px;
$font-size-regular: 16px;
$font-size-x-regular: 18px;
$font-size-xx-regular: 20px;
$font-size-xxx-regular: 22px;
$font-size-xxxx-regular: 24px;
$font-size-xl-regular: 26px;
$font-size-large: 28px;
$font-size-x-large: 40px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 60px;
$font-size-xxxx-large: 64px;
$font-size-huge: 96px;

$font-size-tiny-odd: 11px;
$font-size-small-odd: 13px;
$font-size-x-small-odd: 15px;
$font-size-regular-odd: 17px;
$font-size-x-regular-odd: 19px;
$font-size-xx-regular-odd: 21px;
$font-size-xxx-regular-odd: 23px;
$font-size-xxxx-regular-odd: 25px;
$font-size-large-odd: 29px;
$font-size-x-large-odd: 31px;
$font-size-xx-large-odd: 49px;
$font-size-xxx-large-odd: 61px;
$font-size-xxxx-large-odd: 65px;
$font-size-huge-odd: 97px;

$colors: (
    black-box-shadow: (
        a10: rgba(0, 0, 0, 0.1),
        a35: rgba(0, 0, 0, 0.35),
        a50: rgba(0, 0, 0, 0.5),
        a70: rgba(0, 0, 0, 0.7)
    ),
    box-shadow: #C7C5C5,
    dot: (
        background-color: #BBBBBB,
        background-color-current: #F47E6C,
        background-color-selected: #FCCB6F,
        background-color-first: #73C8CC,
        background-color-second: #5BB0B5,
        background-color-third: #0C656B
    ),
    input-placeholder: #6C7489,
    italic-text: (
        base: #8D919E
    ),
    li: (
        border-color-default: #C0C0C0,
        border-color-active: #73C8CC,
        background-active: #2F8E94
    ),
    keyword: (
        box-shadow: #C7C5C5,
        border-color: rgba(197, 199, 196, 0.5)
    ),

    rect: (
        stroke: #BCC0CA
    ),
    text: (
        primary: #1A1C29,
        secondary: #24334F,
        fill: #000000,
        title: #3F5EAB,
        span-title: #3F5EAB,
        span-grey: #A6A6A6
    ),
    tr-focus: (
        bg-color: rgba(63, 94, 171, 0.25)
    )
);

$chart-grey: #6D7078;
$network-chart-hover-color: #074bf3;
$background: #FFFFFF;
$half-faded-background: rgba(255, 255, 255, 0.5);
$faded-background: rgba(255, 255, 255, 0.35);
$secondary-background: #5BB0B5;
$faded-secondary-background: rgba(91, 176, 181, 0.25);
$tertiary-background: #A6DDE0;
$quaternary-background: #E1F4F5;
$quinary-background: #2F8E94;
$transparent-background: rgba(245, 245, 245, 0);
$faded-grey-background: rgba(245, 245, 245, 0.5);
$contrast-color: #FCCB6F;
$green-border-color: #73C8CC;
$grey-border-color: #EDEDED;
$secondary-grey-border-color: #E0E0E0;
$show-more-color: #0D1C38;
$list-highlight-color: #373737;
$info-circle-color: #9DA3B3;
$span-color: #3C4A63;
$menu-dark: #3C4A63;
$menu-inactive: rgba(255, 255, 255, 0.05);
$table-row-odd: $background;
$table-row-even: #FAFAFA;

$breakpoints: (
    'ex-small': (max-width: 600px),
    'small': (min-width: 600px),
    'medium': (min-width: 768px),
    'large': (min-width: 992px),
    'ex-large': (min-width: 1200px)
);

$brand-color-background: transparent;
$brand-color-content: black;
$brand-color-lighter: lighten($brand-color-content, 50%);

// retrieve color from map ie. `color(primary, base)`
@function color($color-name, $color-variant:null) {
    // color variant is optional
    @if ($color-variant != null) {
        // map inception
        @return map-get(map-get($colors, $color-name), $color-variant);
    } @else {
        @return map-get($colors, $color-name);
    }
}
