@import '~lato-font/scss/_public-api.scss';

$lato-font-path: '~lato-font/fonts';

@include lato-include-font('bold');
@include lato-include-font('medium');
@include lato-include-font('normal');

$navbar-height: 87px;
$footer-height: 100px;
$video-height: 262px;
$video-width: 471px;

$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-x-regular: 18px;
$font-size-xx-regular: 20px;
$font-size-xxx-regular: 22px;
$font-size-xxxx-regular: 24px;
$font-size-large: 28px;
$font-size-x-large: 30px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;

$font-size-small-odd: 13px;
$font-size-regular-odd: 17px;
$font-size-x-regular-odd: 19px;
$font-size-xx-regular-odd: 21px;
$font-size-xxx-regular-odd: 23px;
$font-size-xxxx-regular-odd: 25px;
$font-size-large-odd: 29px;
$font-size-x-large-odd: 31px;
$font-size-xx-large-odd: 49px;
$font-size-xxx-large-odd: 65px;
$font-size-xxxx-large-odd: 97px;

$text-color-axis: #6D7078;
$text-color-chart-label: #6D7078;
$text-color-normal: #24334F;
$text-color-title: #3F5EAB;

$menu-dark: #3C4A63;
$menu-inactive: rgba(255, 255, 255, 0.05);;

$breakpoints: (
    'ex-small': (max-width: 600px),
    'small': (min-width: 600px),
    'medium': (min-width: 768px),
    'large': (min-width: 992px),
    'ex-large': (min-width: 1200px)
);

$brand-color-background: transparent;

$brand-color-content: black;

$brand-color-lighter: lighten($brand-color-content, 50%);
