<div *ngIf="dataLoaded">
    <div class="section-thin overview-header section-hero" tabindex="0">
        <div class="row no-gutters">
            <div class="col-md-7">
                <h1 *ngIf="dataLoaded">AMP-AD Evidence in Support of {{ gene.hgnc_symbol }}</h1>
                <p>
                    The AMP-AD consortia perform computational analysis of human genomic data to predict new potential
                    AD targets. For selected targets, teams have performed further experimental model system validation.
                    Because these target hypotheses are not yet fully validated, we are seeking input from the community
                    to help in their evalutation.
                </p>
            </div>
        </div>
    </div>
    <div *ngFor="let team of teams; let i = index" class="section-thin overview-desc" tabindex="0">
        <h2>
            {{team.team}}
        </h2>
        <p class="black-paragraph">
            {{team.description}}
        </p>
        <h3>
            Why was the target selected?
        </h3>
        <p class="black-paragraph">
            {{ntInfoArray[i].target_choice_justification}}
        </p>
        <h3>
            Predicted therapeutic direction
        </h3>
        <p class="black-paragraph">
            {{ntInfoArray[i].predicted_therapeutic_direction}}
        </p>
        <h3>
            The type of data used and analyses done to identify target
        </h3>
        <p class="black-paragraph">
            {{ntInfoArray[i].data_used_to_support_target_selection}}
        </p>
        <div class="row members-row">
            <div *ngFor="let member of team.members" class="col-md-2 col-sm-3 col-4">
                <div class="member-img" [style.background-image]="getMemberImg(member.name)"></div>
                <h3>{{member.name}}</h3>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!dataLoaded" class="container-fluid small-padding-top">
    <loading></loading>
</div>
