<div *ngIf="dataLoaded">
    <div class="section-thin overview-header nom-details-oh" tabindex="0">
        <div class="row no-gutters">
            <div class="">
                <h2>Proteomics</h2>
            </div>
        </div>
    </div>
    <div class="section-thin rna-seq-bplot no-vertical-padding">
        <div class="row bplot-filter-row">
            <div class="col-md-6 col-sm-12 col-12 col-fixer">
                <h4 class="filters-header">
                    Filter the following charts by protein
                </h4>
                <h2 class="vmi-wrapper">
                    <more-info [name]="'bp'">
                        <bp-dialog [name]="'bp'"></bp-dialog>
                    </more-info>
                </h2>
                <!--<div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <select-menu *ngIf="dataLoaded && !isEmptyGene"
                            [promptText]="'All'"
                            [label]="'select-protein'"
                            [columnName]="'select-column-model'"
                            [type]="'Proteomics'">
                        </select-menu>
                        <p-multiSelect #egmsc2 *ngIf="isEmptyGene"
                            [options]="emptySelection"
                            [(ngModel)]="selectedProteins"
                            [showToggleAll]="false"
                            [showHeader]="false"
                            [panelStyle]="{minWidth:'12em'}"
                            [defaultLabel]="emptySelectionLabel"
                            [dropdownIcon]="getDropdownIcon()"
                            [disabled]="true">
                        </p-multiSelect>
                    </div>
                </div>-->
            </div>
            <loading-page *ngIf="!dataLoaded && !isEmptyGene" [ngStyle]="{'margin-top': '40px'}"></loading-page>
        </div>
        <h3 *ngIf="isEmptyGene">
            Differential Expression of Selected Gene
        </h3>
        <h3 *ngIf="!isEmptyGene">
            Differential Expression of {{gene.hgnc_symbol}} and Selected Protein
            <span class="icon-spacing"></span>
            <!-- Hide for now -->
            <!--<download [target]="stbp" [name]="getDownloadFileName('Differential Expression')"></download>-->
        </h3>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 col-fixer">
                <p class="black-paragraph de-paragraph text-max">
                    After selecting a statistical model, you will be able to see whether the selected gene is differentially expressed
                    between AD cases and controls. The box plot depicts how the differential expression of the selected gene of interest
                    (red dot) compares with expression of other genes in a given tissue. Summary statistics for each tissue can be viewed
                    by hovering over the red dots.
                </p>
            </div>
        </div>
        <div #stbp>
            <pbox-plot *ngIf="dataLoaded && !isEmptyGene" [label]="'pbox-plot'"></pbox-plot>
            <loading-page *ngIf="!dataLoaded && !isEmptyGene"></loading-page>
        </div>
        <div class="row">
            <div *ngIf="isEmptyGene" class="col-md-12 col-sm-12 col-12 empty-bplot-col">
                <h2 class="placeholder-text">No expression data is currently available.</h2>
            </div>
        </div>
    </div>
</div>
