@import "../../../../../assets/css/helpers/variables";
@import "../../../../../assets/css/helpers/mixins";

.nom-details-pt {
    padding-top: 36px;
    padding-bottom: 0px;

    .header-row {
        padding-top: 17px;
        padding-bottom: 60px;

        @include lato-font('normal');
        font-size: $font-size-x-regular;
    }
}

.rna-seq-bplot {
    .pt-filter-row {
        background: $faded-grey-background;
        border-top: 2px solid $secondary-grey-border-color;

        .filter-description {
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 10px;
            width: 80%;

            @include lato-font('normal');
            font-size: $font-size-x-regular;
        }
    }

    .filters-header {
        margin-bottom: 11px;
    }

    .select-row {
        width: 50%;
    }
}
