<div class="row no-gutters small-padding-top" [ngStyle]="style">
    <p-panel [ngClass]="styleClass">
        <p-header>
            <div class="ui-helper-clearfix test">
                <span class="ui-panel-title small-margin-right" style="font-size:16px;display:inline-block;margin-top:2px">Nomination Video</span>
                <i class="fa fa-question-circle" rel="tooltip" title="Add description"></i>
            </div>
        </p-header>
        <!--<gene-nomination-video></gene-nomination-video>-->
    </p-panel>
</div>
