.chart-view-container {
    margin: 20px;
    height: 100%;
}

.chart-container {
    margin: 20px;
    width: 100%;
    height: 80%;
}

.chart-header-row {
    height: 10%;
}

.schart-row {
    height: 80%;
}

.sp {
    height: 100%;

    canvas {
        left: 57px !important;
    }
}
