body {
  margin: 0px;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(121deg, #fdfdfd, #e4e4e4, #ffffff, #deeef2);
}

body pe-steps .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
  width: 35px;
}

body pe-steps .ui-steps {
  margin-top: -12px;
}

.pageloader {
  margin: 200px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
