<div class="section-thin section-hero overview-header" tabindex="0">
    <div class="row no-gutters">
        <div class="col-md-5 col-sm-12 col-12 info-header">
            <h1>Similar Genes</h1>
        </div>
    </div>
</div>

<div class="center-justified linkstable">
    <table>
        <tr *ngFor="let node of selectedGeneData.nodes" class="pathbox">
            <td>
                <span class="genes">
                <span (click)="viewGene(node.ensembl_gene_id)">{{node.hgnc_symbol}}</span>
            </span>
            </td>
        </tr>
    </table>
</div>