#container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    #left-hand-pane {
        min-width: 470px;
        border: 1px solid lightgray;
        padding: 15px;

        h3 {
            text-align: center;
        }
    }

    #right-hand-pane {
        min-width: 400px;
        background-color: lightgray;
        padding: 15px;
    }
}

h3 {
    font-size: 14px;
    font-weight: bold;
}