#biodomains-chart {
  width: 500px;
  height: 560px;
}
    
$tooltip-color: #63676C;

.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  background-color: $tooltip-color;
  color: white;
  display: none;
  z-index: 200;
  opacity: 0.9;
}

.tooltip-arrow {
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    border: 10px solid transparent;
    transform: translateX(-50%);
  }
  
  &.arrow-below {
    transform: translate(calc(-50%), calc(-100% - 20px));

    &::before {
        bottom: -10px;
        border-bottom: 0;
        border-top-color: $tooltip-color;
    }
  }
}

#negative-bars rect {
    &:hover {
        fill: transparent;
        cursor: pointer;
    }
}

#bars {
    &:hover {
        cursor: pointer;
    }
}

#bar-label text {
    fill: black;
    
    &:hover {
        cursor: pointer;
    }
}

#bar-value text {
    &:hover {
        cursor: pointer;
    }
}