<div *ngIf="dataLoaded">
    <div class="row back-home-wrapper no-gutter">
        <div class="row back-home-row no-gutter">
            <i class="fa-inverse fa fa-arrow-left fa-2x" (click)="goBack()"></i>
        </div>
    </div>
    <div class="section-thin overview-header">
        <h1>{{gene.hgnc_symbol}}</h1>
        <p>
            Longer name
        </p>
    </div>

    <div class="section-thin overview-desc">
        <h2>
            Description
        </h2>
        <p class="black-paragraph">
            Description
        </p>
    </div>

    <div class="section-thin overview-rel">
        <h2>
            Relevance
            <span class="icon-spacing"></span>
            <i class="fa fa-info-circle"></i>
        </h2>
        <!-- TODO: Improve this part -->
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Network &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
            <div class="col-md-6">
                <h3>AD Relevance &nbsp;&nbsp;&nbsp; Lorem Ipsum</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Gene in Normal Brain &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColor(true, true)">On</span>
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    Clinical Outcomes &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Gene in AD Brain &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColor(false, true)">Off</span>
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    Distribution in Body &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Reactome Pathways &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    Cell Types &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Gene Ontology &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    Consistency among cohorts from <br>
                    differential expresion analyses &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColor(false, true)">No</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="overview-link">
        <p-panel header="RNA-Seq Differential Expression" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            <gene-rnaseq-de></gene-rnaseq-de>
        </p-panel>
    </div>

    <div class="overview-link">
        <p-panel header="Gene Co-Expression Network" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            <gene-network></gene-network>
        </p-panel>
    </div>

    <div class="section-thin overview-actions">
        <h2>
            Actions
            <span class="icon-spacing"></span>
            <i class="fa fa-info-circle"></i>
        </h2>
        <!-- TODO: Improve this part -->
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Tractable &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColor(true, true)">Yes</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Studiable Models &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Drugability &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColor(true, true)">Yes</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Drug categories &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    ODDI &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="section-thin overview-sdata">
        <h2>
            Source Data
            <span class="icon-spacing"></span>
            <i class="fa fa-info-circle"></i>
        </h2>
        <!-- TODO: Improve this part -->
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Data Generation &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Population &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    ROSMAP &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Brain Sources &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Other Sources &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    MSBB &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    MayoRNAseq &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="section-thin overview-sgenes">
        <h2>
            Similar Genes
        </h2>
        <!-- TODO: Improve this part -->
        <div class="row">
            <div class="col-md-12">
                <a href="#">Gene</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!dataLoaded" class="container-fluid">
    <div class="row small-padding-top">
        <div class="col-md-12">
            <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
    </div>
</div>

