@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.info-header {
    padding-right: 5% !important;
}

.overview-header {
    background-color: transparent;

    .fa-star::before {
        color: #FACFAF;
    }
    .row {
        align-items: center;
    }
    p-button {
        @include respond-to('ex-small') {
            width: 70%;
        }
        width: 100%;
        height: 100%;
        button {
            width: 100%;
            height: 100%;
        }
    }
    .nom-button-col {
        @include respond-to('ex-small') {
            margin-top: 20px;
        }
        @include respond-to('small') {
            margin-top: 20px;
        }
        @include respond-to('medium') {
            text-align: right;
        }
        @include respond-to('large') {
            text-align: right;
        }
        @include respond-to('ex-large') {
            text-align: right;
        }
    }
}

.nominated-button {
    @include respond-to('ex-small') {
        width: 346px;
    }
    @include respond-to('small') {
        width: 366px;
    }
    @include respond-to('medium') {
        width: 366px;
    }
    @include respond-to('large') {
        width: 366px;
    }
    @include respond-to('ex-large') {
        width: 366px;
    }

    cursor: pointer;
}

.nom-button {
    @include lato-font('bold');

    background: #F89C55 !important;
    border: 0px !important;
    border-radius: 100px;
    line-height: normal;
    white-space: nowrap;
    padding: 10px;

    span {
        @include lato-font('bold');

        margin-left: 4%;
        margin-right: 4%;
        vertical-align: middle;
        &.fixIOS {
            vertical-align: top;
        }

        @include respond-to('ex-small') {
            font-size: 20px;
        }
        @include respond-to('small') {
            font-size: 20px;
        }
        @include respond-to('medium') {
            font-size: 24px;
        }
        @include respond-to('large') {
            font-size: 24px;
        }
        @include respond-to('ex-large') {
            font-size: 24px;
        }

        color: #0D1C38;
    }

    @include respond-to('ex-small') {
        height: 48px;
        width: 292px;
        .fa-star {
            font-size: 31px;
        }
        .fa-angle-right {
            font-size: 31px;
        }
    }
    @include respond-to('small') {
        height: 48px;
        width: 292px;
        .fa-star {
            font-size: 31px;
        }
        .fa-angle-right {
            font-size: 31px;
        }
    }
    @include respond-to('medium') {
        height: 68px;
        width: 366px;
        .fa-star {
            font-size: 43px;
        }
        .fa-angle-right {
            font-size: 43px;
        }
    }
    @include respond-to('large') {
        height: 68px;
        width: 366px;
        .fa-star {
            font-size: 43px;
        }
        .fa-angle-right {
            font-size: 43px;
        }
    }
    @include respond-to('ex-large') {
        height: 68px;
        width: 366px;
        .fa-star {
            font-size: 43px;
        }
        .fa-angle-right {
            font-size: 43px;
        }
    }

    color: #0D1C38 !important;
    vertical-align: middle;
    cursor: pointer;

    .fa-angle-right {
        -webkit-text-stroke: 1.25px;
        vertical-align: -12%;
    }
}

.show-more-col {
    margin-bottom: auto;
    margin-top: auto;
}

.show-more-button {
    @include lato-font('bold');

    @include respond-to('ex-small') {
        width: 70%;
        font-size: 22px;
    }
    @include respond-to('small') {
        width: 100%;
        font-size: 22px;
    }
    @include respond-to('medium') {
        width: 85%;
        font-size: 24px;
    }
    @include respond-to('large') {
        width: 70%;
        font-size: 24px;
    }
    @include respond-to('ex-large') {
        width: 70%;
        font-size: 24px;
    }

    background: #FCCB6F !important;
    border: 0px !important;
    border-radius: 100px;
    height: 52px;
    line-height: normal;
    color: #0D1C38 !important;
    vertical-align: middle;

    cursor: pointer;

    span {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.overview-desc {
    background-color: transparent;
    background: rgba(255, 255, 255, 0.35);
}

.overview-tab-menu {
    padding: 0px !important;

    .ui-tabmenu-nav {
        padding: 0px !important;
        background: white;
        background-color: white !important;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
        position: relative;

        @include respond-to('ex-small') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 3.5% !important;
            }
            >li:last-child {
                text-align: right;
                text-align-last: right;
                padding-right: 3.5% !important;
            }
        }
        @include respond-to('small') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 4.0% !important;
            }
            >li:last-child {
                text-align: right;
                text-align-last: right;
                padding-right: 4.0% !important;
            }
        }
        @include respond-to('medium') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 4.5% !important;
            }
            >li:last-child {
                text-align: right;
                text-align-last: right;
                padding-right: 4.5% !important;
            }
        }
        @include respond-to('large') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 5.5% !important;
            }
            >li:last-child {
                text-align: right;
                text-align-last: right;
                padding-right: 5.5% !important;
            }
        }
        @include respond-to('ex-large') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 7.5% !important;
            }
            >li:last-child {
                text-align: right;
                text-align-last: right;
                padding-right: 7.5% !important;
            }
        }
    }

    li {
        background: white;
        background-color: white !important;
        height: 70px;
        line-height: 70px;
        margin: 0px !important;
        width: 25%;
        border: none;
        color: #3C4A63;
        opacity: 0.5;


        a {
            padding: 0px !important;
            width: 100%;
            text-align: center;
        }
    }

    .ui-state-active {
        a > span {
            @include lato-font('bold');
            font-size: 20px;
            opacity: 1;
        }
    }
}

.overview-rel {
    padding-bottom: 4em;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    .fa-info-circle:before {
        color: #9DA3B3;
    }
    h3 {
        margin-bottom: 0px;
    }
    i:hover {
        cursor: pointer;
    }
}

.overview-link {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    .fa-angle-right:before {
        -moz-transform: scale(1.6,1); /* Firefox */
        -o-transform: scale(1.6,1); /* Opera */
        -webkit-transform: scale(1.6,1); /* Safari And Chrome */
        transform: scale(1.6,1); /* Standard Property */
        color: #FCCB6F;
    }

    .ui-panel.ui-widget .ui-panel-titlebar.ui-corner-all {
        @include lato-font('bold');

        @include respond-to('ex-small') {
            padding-top: 2em;
            padding-left: 3.5%;
            padding-bottom: 2em;
            padding-right: 3.5%;
            color: #000000;
            background-color: #ffffff;
        }
        @include respond-to('small') {
            padding-top: 2em;
            padding-left: 4.0%;
            padding-bottom: 2em;
            padding-right: 4.0%;
            color: #000000;
            background-color: #ffffff;
        }
        @include respond-to('medium') {
            padding-top: 2em;
            padding-left: 4.5%;
            padding-bottom: 2em;
            padding-right: 4.5%;
            color: #000000;
            background-color: #ffffff;
        }
        @include respond-to('large') {
            padding-top: 2em;
            padding-left: 5.5%;
            padding-bottom: 2em;
            padding-right: 5.5%;
            color: #000000;
            background-color: #ffffff;
        }
        @include respond-to('ex-large') {
            padding-top: 2em;
            padding-left: 7.5%;
            padding-bottom: 2em;
            padding-right: 7.5%;
            color: #000000;
            background-color: #ffffff;
        }

        text-align: left;
        line-height: normal;
        color: #1A1C29;
        font-size: 24px;
    }

    .ui-widget-header {
        background: white;
        border: none;
    }

    .ui-widget-content {
        padding: 0px;
        border: none;
    }

    .ui-state-default {
        border: none;
        background-color: white;
        color: #FCCB6F;
    }

    .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover {
        background-color: white;
        color: #FCCB6F;
    }

    .ui-panel-title {
        @include lato-font('bold');

        text-align: left;
        line-height: normal;
        color: #1A1C29;
        font-size: 24px;
    }

    .druggability-span {
        color: #5BB0B5;
        text-decoration: underline;
        font-size: 18px;
        cursor: pointer;
    }
}
.st-desc {
    .ns-paragraph {
        margin-bottom: 40px;
    }
    padding-top: 0px;
}
.overview-actions {
    padding-bottom: 4em;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
    .fa-info-circle:before {
        color: #9DA3B3;
    }
    h3 {
        margin-bottom: 0px;
    }
    i:hover {
        cursor: pointer;
    }
}
.overview-sdata {
    padding-bottom: 4em;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
    .fa-info-circle:before {
        color: #9DA3B3;
    }
    h3 {
        margin-bottom: 0px;
    }
    i:hover {
        cursor: pointer;
    }
}
.overview-sgenes {
    padding-bottom: 4em;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
    .fa-info-circle:before {
        color: #9DA3B3;
    }
    h3 {
        margin-bottom: 0px;
    }
    a {
        @include lato-font('bold');

        line-height: normal;
        font-size: 18px;
        text-decoration-line: underline;
        color: #5BB0B5;
    }
    .nodes-col {
        margin-bottom: 40px;
    }
}

.panel-gene-druggability {
    .dgb-header-row {
        margin-bottom: auto;
        margin-top: auto;
        position: absolute;
    }
}
