.back-home-wrapper {
    width: 100%;
    height: 63px;
    margin-right: 0px;
    margin-left: 0px;
    background: linear-gradient(89.93deg, #5171C0 0.06%, #5BB0B5 99.94%);
}

.back-home-row {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    background: rgba(0, 0, 0, 0.15);
    background-blend-mode: darken;
    position: relative;

    i {
        top: 25%;
        left: 2%;
        position: absolute;
    }

    i:hover {
        cursor: pointer !important;
    }
}

.section-overview-header {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 2em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: linear-gradient(89.93deg, #5171C0 0.06%, #5BB0B5 99.94%);

    p {
        text-align: left;
    }
}

.section-overview-desc {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 2em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    p {
        text-align: left;
    }
}

.section-overview-rel {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 4em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }

    h3 {
        margin-bottom: 0px;
    }
}

.section-overview-link {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 2em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    h2 {
        position: relative;
        cursor: pointer;
    }

    i {
        position: absolute;
        transform: scale(1.6,1);
        left: 100%;
    }

    .fa-angle-right:before {
        transform: scale(1.6,1);
        color: #FCCB6F;
    }
}

.section-overview-actions {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 4em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }

    h3 {
        margin-bottom: 0px;
    }
}

.section-overview-sdata {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 4em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }

    h3 {
        margin-bottom: 0px;
    }
}

.section-overview-sgenes {
    padding-top: 2em;
    padding-left: 10%;
    padding-bottom: 4em;
    padding-right: 10%;
    color: #000000;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;

    .fa-info-circle:before {
        color: #9DA3B3;
    }

    .icon-spacing {
        margin-right: 5px;
    }

    h3 {
        margin-bottom: 0px;
    }

    a {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 18px;
        text-decoration-line: underline;
        color: #5BB0B5;
    }
}

.green-text {
    color: #78B87A;
}

.red-text {
    color: #E06672;
}
