.light-blue-anchor {
    text-decoration: none;
    color: #2AB7E6 !important;
}

.light-blue-anchor:hover {
    text-decoration: none;
    cursor: pointer;
}

.ui-card-shadow .ui-card-header {
    padding: 1em 1em 0em;
    font-weight: bold;

}

.overview-panel {
    width: 100%;
    height: 100%;

    .ui-panel-titlebar {
        background: #2AB7E6;
        color: white;
    }

    .ui-panel-content-wrapper {
        height: 90%;
    }

    .ui-panel-content {
        height: 100%;

        > .full-height {
            height: 100%;
        }

        > .row {
            height: 100%;

            > [class*="col-"] {
                height: 100%;
            }
        }
    }

    > .ui-panel.ui-widget {
        height: 100%;
    }
}

.small-margin-right {
    margin-right: 1%;
}

.summary-panel {
    width: 100%;

    > .ui-card {
        height: 70%;
    }
}


