<div *ngIf="dataLoaded">
    <div class="row back-home-wrapper no-gutters">
        <div class="row back-home-row no-gutters">
        </div>
    </div>
    <div class="section-thin overview-header">
        <div class="row no-gutters">
            <div *ngIf="geneInfo" class="col-md-7 col-sm-7 col-6 info-header">
                <h1>{{gene.hgnc_symbol}}</h1>
                <p>
                    {{geneInfo.name}}
                </p>
            </div>
            <div *ngIf="geneInfo && geneInfo.nominations" class="col-md-5 col-sm-5 col-6">
                <button class="btn nom-button"
                    (click)="goToRoute('/genes', { outlets: {'genes-router': [ 'teams-page', gene.ensembl_gene_id ]} })">
                    <i class="fa fa-star fa-lg"></i>
                    <span>AMP-AD Nominated</span>
                    <i class="fa fa-angle-right fa-lg"></i>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="geneInfo" class="section-thin overview-desc">
        <h2>
            Description
        </h2>
        <p class="black-paragraph">
            {{getSummary(true)}}
        </p>
        <p class="italic-paragraph">
            {{getSummary()}}
        </p>
        <h3>Also known as</h3>
        <p class="black-paragraph">
            {{getAlias()}}
        </p>
    </div>

    <div class="section-thin overview-rel">
        <h2>
            Relevance
            <span class="icon-spacing"></span>
            <i class="fa fa-info-circle" (click)="showDialog('displayRelDia')"></i>
        </h2>
        <!-- TODO: Improve this part -->
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Network &nbsp;&nbsp;&nbsp;
                    <span class="italic-heading">Coming soon</span>
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    Clinical Outcomes &nbsp;&nbsp;&nbsp;
                    <span class="italic-heading">Coming soon</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Gene in AD Brain &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColor(false, true)">Off</span>
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    Distribution in Body &nbsp;&nbsp;&nbsp;
                    <span class="italic-heading">Coming soon</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Reactome Pathways &nbsp;&nbsp;&nbsp;
                    <span class="link-heading" (click)="viewPathaways()">View pathaways</span>
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    Cell Types &nbsp;&nbsp;&nbsp;
                    <span class="italic-heading">Coming soon</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Gene Ontology &nbsp;&nbsp;&nbsp;
                    <span class="link-heading" (click)="viewGeneOntology()">View gene ontology</span>
                </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    Consistency among cohorts from differential expression analyses &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColor(false, true)">No</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>
                    AD Relevance &nbsp;&nbsp;&nbsp;
                    <span class="italic-heading">Coming soon</span>
                </h3>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>

    <div class="overview-link">
        <p-panel header="RNA-Seq Differential Expression" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            <div class="section-thin st-desc">
                <p class="black-paragraph">
                    The top plot shows overall expression of the selected gene across all sampled tissues.
                </p>
                <p class="black-paragraph">
                    After selecting a tissue and statistical model, users can view differential expression of
                    the selected gene between AD cases and controls, harmonized across multiple studies. <br><br>
                </p>
                <p class="black-paragraph">
                    <span class="link-heading">Where does the data come from?</span>
                </p>
            </div>
            <gene-rnaseq-de></gene-rnaseq-de>
        </p-panel>
    </div>

    <div class="overview-link">
        <p-panel header="Gene Co-Expression Network" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            <div class="section-thin st-desc">
                <p class="black-paragraph">
                    RNA-Seq data was generated on over 2100 post-mortem brains from over 1100 individuals for seven distinct
                    brain regions (DLPFC, TCX, CBE, PHG, IFG, STG, FP) from three studies (ROSMAP, Mayo, and MSBB). Here we show
                    results of a coexpression network analysis that uses an ensemble methodology to identify networks of genes
                    that show similar coexpression across patients.  The more frequent an edge (coexpression association) was
                    identified with the selected gene, the darker the edge and node in the graph.
                </p>
            </div>
            <gene-network></gene-network>
        </p-panel>
    </div>

    <div class="overview-link">
        <p-panel header="Next Steps" [toggleable]="false" [style]="{'margin-bottom':'20px'}">
            <div class="section-thin st-desc">
                <p class="italic-paragraph">
                    Coming soon
                </p>
            </div>
        </p-panel>
    </div>

    <div class="section-thin overview-sdata">
        <h2>
            AMP-AD Analysis Source Data
            <span class="icon-spacing"></span>
            <i class="fa fa-info-circle" (click)="showDialog('displaySDDia')"></i>
        </h2>
        <!-- TODO: Improve this part -->
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Data Generation &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Population &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    ROSMAP &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Brain Sources &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Other Sources &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    MSBB &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    MayoRNAseq &nbsp;&nbsp;&nbsp;
                    <span class="normal-heading">Lorem Ipsum</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="section-thin overview-sgenes">
        <h2>
            Similar Genes
        </h2>
        <div class="row">
            <div class="col-md-7">
            <div *ngFor="let node of currentGeneData | slice:0:6 | myArraySort: 'brainregions' : true;" class="pathbox">
                <div (click)="viewGene(node.id)" class="genelink">{{node.hgnc_symbol}}</div>
            </div>
        </div>
        <div class="col-md-5">
            <button class="btn nom-button"
            (click)="goToRoute('/genes', { outlets: {'genes-router': [ 'gene-similar', gene.ensembl_gene_id ]} })">
                <span>Show more</span>
            </button>
        </div>
        </div>
    </div>
</div>
<div *ngIf="!dataLoaded" class="container-fluid">
    <div class="row small-padding-top">
        <div class="col-md-12">
            <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
    </div>
</div>

<!-- Dialogs section -->
<div class="ui-rtl" dir="rtl">
    <p-dialog header="Relevance" [(visible)]="displayRelDia" [modal]="true" [responsive]="true"
        [minWidth]="330" [minY]="256" [baseZIndex]="10000" [dismissableMask]="true">
        <span dir="ltr">
            A summary of evidence for a gene's association with Alzheimer's disease and related
            information concerning gene function and activity.
        </span>
    </p-dialog>
</div>

<div class="ui-rtl" dir="rtl">
    <p-dialog header="Actions" [(visible)]="displayActDia" [modal]="true" [responsive]="true"
        [minWidth]="330" [minY]="256" [baseZIndex]="10000" [dismissableMask]="true">
        <span dir="ltr">
            External resources for understanding the biology of the gene, target validation
            resources, and further information for users interested in studying this particular
            gene. Things you might take into account to do preclinical evaluations or drug
            discovery.
        </span>
    </p-dialog>
</div>

<div class="ui-rtl" dir="rtl">
    <p-dialog header="AMP-AD Analysis Source Data" [(visible)]="displaySDDia" [modal]="true"
        [responsive]="true" [minWidth]="330" [minY]="256" [baseZIndex]="10000" [dismissableMask]="true">
        <span dir="ltr">
            Data used from the AMP-AD consortia.  This includes the Religious Order Study/
            Memory Aging Project (ROSMAP), Mount Sinai Brain Bank (MSBB), and Mayo RNAseq
            study (MayoRNAseq).
        </span>
    </p-dialog>
</div>
