<div class="nomlist-list section-hero center-justified-last">
    <div class="section center-justified-last top-section">
        <h1>Nominated Target List</h1>
        <p>
            AD researchers have nominated genes that may be good targets for new AD therapies. Select a gene from the list
            of nominated targets to view details and evidence.
        </p>
    </div>
    <p-table #gl
        [columns]="cols" [value]="genesInfo" selectionMode="single"
        [(selection)]="selectedInfo"
        [paginator]="false"
        [rows]="14"
        scrollHeight="270px"
        [scrollable]="true"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (sortFunction)="customSort($event)"
        (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)"
        [customSort]="true">
        <ng-template pTemplate="caption">
            <input type="text" pInputText size="50" placeholder="Search by gene symbol"
                (input)="gl.filterGlobal($event.target.value, 'contains')">
            <i class="fa fa-search fa-lg"></i>
            <p>
                <span class="span-add-this">
                    Would you like to add to this list?
                </span>
                <img src="/assets/img/nominate_a_target.png">
            </p>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of cols; let i = index;"
                    [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    {{rowData[columns[0].field]}}
                </td>
                <td>
                    {{rowData[columns[1].field]}}
                </td>
                <td>
                    {{getTeams(rowData[columns[2].field])}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
