@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.nomlist-list {
    margin-top: -0.1em;
    background-color: transparent !important;
    width: auto; /* Scale the div to the parent width */

    #keywords:focus {
      box-shadow: 0px 0px 4px 2px $secondary-background;
      border-radius: 6px;
      outline-offset: -2px;
      outline: 0;
    }

    p-table {
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: $quaternary-background;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $tertiary-background;
            border-radius: 14px;
            height: 47px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $tertiary-background;
        }
    }

    tr:hover {
        background: rgba(63, 94, 171, 0.25) !important;
        color: $background;
    }

    th:last-child{
        display: none;
    }

    .ui-table-scrollable-view {
        background-color: #FFF;
    }

    .ui-table-scrollable-body {
        min-height: 300px;
    }

    .section {
        margin-bottom: 43px;
        h1 {
            text-align: center;
        }
        p{
            text-align: center;
        }
    }

    .link-heading {
        color: color(text, secondary);
        float: left;
        margin-left: 50%;
        transform: translate(-50%);
        margin-bottom: 20px;
    }

    .info-icon {
        content:url("/assets/icon/info-icon2.svg");
    }

    background-size: cover;
    background-position: top; /* Position the image to the top center of the div */

    .top-section {
        padding-bottom: 0px;
    }

    .ui-table-tbody {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: unset !important;
    }

    .ui-table-scrollable-header-box {
        margin-right: 0px !important;
        border-right: solid 17px rgb(60, 74, 99) !important;
        @include respond-to('ex-small') {
            border-right: 0px!important;
        }
    }

    .ui-table-caption {
        background-color: transparent;
        background: none;
        border: none;
        padding-top: 1%;
        padding-bottom: 1%;
        position: relative;

        > input {
            @include lato-font('normal');

            @include respond-to('ex-small') {
                width: 100%;
                padding-left: 2.5em;
            }
            @include respond-to('small') {
                width: 100%;
                padding-left: 4%;
            }
            @include respond-to('medium') {
                width: 42%;
                border-radius: 6px;
                padding-left: 2%;
            }
            @include respond-to('large') {
                width: 42%;
                border-radius: 6px;
                padding-left: 2%;
            }
            @include respond-to('ex-large') {
                width: 42%;
                border-radius: 6px;
                padding-left: 2%;
            }

            height: 63px;
            line-height: 63px;
            box-shadow: inset 0px 0px 4px color(box-shadow);
            text-align-last: left;
            font-size: 16px;
            border: 0px;

            ::-moz-placeholder,
            ::-ms-input-placeholder,
            ::-webkit-input-placeholder {
                color: color(input-placeholder);
            }
        }

        i {
            position: absolute;
            z-index: 2;
            color: $contrast-color;
            width: 32px;

            @include respond-to('ex-small') {
                left: 84%;
                top: 17%;
            }
            @include respond-to('small') {
                left: 90.4%;
                top: 18.0%;
            }
            @include respond-to('medium') {
                left: 65.4%;
                top: 17.0%;
            }
            @include respond-to('large') {
                left: 66.4%;
                top: 15.5%;
            }
            @include respond-to('ex-large') {
                left: 67.2%;
                top: 16.0%;
            }

            content: url("/assets/icon/search_icon.png") !important;
        }

        p {
            margin-top: 35px;
            text-align: center;
        }

        .span-add-this {
            @include lato-font('bold');

            color: color(text, secondary);
            margin-right: 20px;
        }
    }

    .ui-table-thead {
        .ui-state-highlight {
            color: #FFFFFF;
        }

        .ui-sortable-column {
            outline: 0;
        }

        >tr>th {
            @include lato-font('bold');

            background: $span-color !important;
            border: none;
            height: 58px;
            line-height: 40px;
            font-size: 18px;
            color: $background !important;

        }

        @include respond-to('ex-small') {
            >tr>th:first-child {
                text-align: center;
            }
            >tr>th:not(:first-child) {
                text-align: center;
            }

            .ui-sortable-column {
                font-size: 14px;
            }
        }
        @include respond-to('small') {
            >tr>th:first-child {
                padding-left: 4%;
                text-align: center;
            }
            >tr>th:not(:first-child) {
                text-align: center;
            }

            .ui-sortable-column {
                font-size: 16px;
            }
        }
        @include respond-to('medium') {
            >tr>th:first-child {
                text-align: center;
            }
            >tr>th:not(:first-child) {
                text-align: center;
            }

            .ui-sortable-column {
                font-size: 18px;
            }
        }
        @include respond-to('large') {
            >tr>th:first-child {
                text-align: center;
            }
            >tr>th:not(:first-child) {
                text-align: center;
            }

            .ui-sortable-column {
                font-size: 18px;
            }
        }
        @include respond-to('ex-large') {
            >tr>th:first-child {
                text-align: center;
            }
            >tr>th:not(:first-child) {
                text-align: center;
            }

            .ui-sortable-column {
                font-size: 18px;
            }
        }
    }

    .ui-table-tbody {
        height: 100%;

        .ui-selectable-row {
            outline: 0;
            cursor: pointer;
        }

        >tr.ui-state-highlight,
        >tr:focus {
            background-color: color(tr-focus, bg-color) !important;
        }

        >tr>td {
            @include lato-font('normal');

            outline: 0;
            border: 0px;
            line-height: 40px;

            padding: .25em .5em;

            @include respond-to('ex-small') {
                font-size: 12px;
            }
            @include respond-to('small') {
                font-size: 16px;
            }
            @include respond-to('medium') {
                font-size: 18px;
            }
            @include respond-to('large') {
                font-size: 18px;
            }
            @include respond-to('ex-large') {
                font-size: 18px;
            }

            color: color(text, secondary) !important;
            height: 40px;
        }
        @include respond-to('ex-small') {
            >tr>td:first-child {
                padding-left: 4%;
                text-align: center;
            }
            >tr>td:not(:first-child) {
                text-align: center;
            }
            >tr>td:last-child {
                padding-right: calc(4% - 17px);
            }
        }
        @include respond-to('small') {
            >tr>td:first-child {
                padding-left: 4%;
                text-align: center;
            }
            >tr>td:not(:first-child) {
                text-align: center;
            }
            >tr>td:last-child {
                padding-right: calc(4% - 17px);
            }
        }
        @include respond-to('medium') {
            >tr>td:first-child {
                text-align: center;
            }
            >tr>td:not(:first-child) {
                text-align: center;
            }
            >tr>td:last-child {
                padding-right: calc(4% - 17px);
            }
        }
        @include respond-to('large') {
            >tr>td:first-child {
                text-align: center;
            }
            >tr>td:not(:first-child) {
                text-align: center;
            }
            >tr>td:last-child {
                padding-right: calc(4% - 17px);
            }
        }
        @include respond-to('ex-large') {
            >tr>td:first-child {
                text-align: center;
            }
            >tr>td:not(:first-child) {
                text-align: center;
            }
            >tr>td:last-child {
                padding-right: calc(4% - 17px);
            }
        }
    }

    .ui-sortable-column-icon {
        color: $secondary-background !important;
    }
    .btn-nom{
        cursor: pointer;
    }
}
