@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.beta-button {
    background: #FFFFFF !important;
    border-radius: 100px !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: bold !important;
    line-height: normal !important;
    font-size: 18px !important;
    color: #73C8CC !important;
    border: 1px solid #73C8CC !important;
    margin-right: 10px !important;
}

.nomlist-intro {
    background: linear-gradient(89.93deg, #5171C0 0.06%, #5BB0B5 99.94%);
}

.nomlist-list {
    margin-top: -0.1em;

    .ui-table-caption {
        background: linear-gradient(89.93deg, #5171C0 0.06%, #5BB0B5 99.94%);
        border: none;
        padding-bottom: 4%;
        position: relative;

        @include respond-to('ex-small') {
            padding-left: 0px;
            padding-right: 0px;
        }
        @include respond-to('small') {
            padding-left: 0px;
            padding-right: 0px;
        }

        >input {
            height: 50px;
            line-height: 50px;

            @include respond-to('ex-small') {
                width: 100%;
                padding-left: 4%;
            }
            @include respond-to('small') {
                width: 100%;
                padding-left: 4%;
            }
            @include respond-to('medium') {
                width: 42%;
                border-radius: 6px;
                padding-left: 2%;
            }
            @include respond-to('large') {
                width: 42%;
                border-radius: 6px;
                padding-left: 2%;
            }
            @include respond-to('ex-large') {
                width: 42%;
                border-radius: 6px;
                padding-left: 2%;
            }

            box-shadow: inset 0px 0px 4px #C7C5C5;
            text-align-last: left;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            border: 0px;

            ::-moz-placeholder,
            ::-ms-input-placeholder,
            ::-webkit-input-placeholder {
                color: #6C7489;
            }
        }

        i {
            position: absolute;
            z-index: 2;
            color: #FCCB6F;
            @include respond-to('ex-small') {
                left: 90%;
                top: 30%;
            }
            @include respond-to('small') {
                left: 92%;
                top: 27%;
            }
            @include respond-to('medium') {
                left: 66%;
                top: 24%;
            }
            @include respond-to('large') {
                left: 67%;
                top: 21%;
            }
            @include respond-to('ex-large') {
                left: 67.5%;
                top: 18%;
            }
        }
    }

    .ui-table-thead {
        .ui-state-highlight {
            color: #0D1C38;
        }

        >tr>th {
            background: #E1F4F5 !important;
            border: none;
            height: 63px;
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            line-height: 40px;
            font-size: 18px;
            color: #0D1C38;
        }

        @include respond-to('ex-small') {
            >tr>th:first-child {
                padding-left: 4%;
                text-align-last: left;
            }

            .ui-sortable-column {
                font-size: 14px;
            }
        }
        @include respond-to('small') {
            >tr>th:first-child {
                padding-left: 4%;
                text-align-last: left;
            }

            .ui-sortable-column {
                font-size: 16px;
            }
        }
        @include respond-to('medium') {
            >tr>th:first-child {
                text-align-last: center;
            }

            .ui-sortable-column {
                font-size: 18px;
            }
        }
        @include respond-to('large') {
            >tr>th:first-child {
                text-align-last: center;
            }

            .ui-sortable-column {
                font-size: 18px;
            }
        }
        @include respond-to('ex-large') {
            >tr>th:first-child {
                text-align-last: center;
            }

            .ui-sortable-column {
                font-size: 18px;
            }
        }
    }

    .ui-table-tbody {
        >tr.ui-state-highlight {
            background-color: rgba(91, 176, 181, 0.25) !important;
        }

        >tr>td {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: 40px;

            @include respond-to('ex-small') {
                font-size: 14px;
            }
            @include respond-to('small') {
                font-size: 16px;
            }
            @include respond-to('medium') {
                font-size: 18px;
            }
            @include respond-to('large') {
                font-size: 18px;
            }
            @include respond-to('ex-large') {
                font-size: 18px;
            }

            color: #1A1C29;
            height: 40px;
        }
        @include respond-to('ex-small') {
            >tr>td:first-child {
                padding-left: 3.8%;
                text-align-last: left;
            }
        }
        @include respond-to('small') {
            >tr>td:first-child {
                padding-left: 3.8%;
                text-align-last: left;
            }
        }
        @include respond-to('medium') {
            >tr>td:first-child {
                text-align-last: center;
            }
        }
        @include respond-to('large') {
            >tr>td:first-child {
                text-align-last: center;
            }
        }
        @include respond-to('ex-large') {
            >tr>td:first-child {
                text-align-last: center;
            }
        }
    }
}