<div class="row back-home-wrapper no-gutters">
    <div class="row back-home-row no-gutters">
    </div>
</div>
<div class="section nomlist-intro center-justified">
    <h1>Nominated Target List</h1>
    <p>
        Please select a gene from the list to view details and evidence. You can find a gene by
        name by typing in a gene symbol (e.g. “WGF”).
    </p>
</div>
<div class="nomlist-list center-justified">
    <p-table #gl
        [columns]="cols" [value]="genes" selectionMode="single"
        [(selection)]="selectedGene" dataKey="ensembl_gene_id"
        [paginator]="true"
        [rows]="14"
        [lazy]="true"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (sortFunction)="customSort($event)"
        (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowUnselect($event)"
        (onLazyLoad)="loadGenesLazy($event)">
        <ng-template pTemplate="caption">
            <input type="text" pInputText size="50" placeholder="Gene Filter"
                (input)="gl.filterGlobal($event.target.value, 'contains')">
            <i class="fa fa-search fa-lg"></i>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of cols; let i = index;"
                    [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns; let i = index;">
                    {{isNaN(rowData[col.field]) ? rowData[col.field] : (rowData[col.field] | number:'1.2-5')}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
