<div class="section section-hero">
  <div class="section-inner">
    <h1>Similar Genes</h1>
    <p *ngIf="gene?.ensembl_gene_id">
      Genes that are similar to
      <a class="link" [routerLink]="'/genes/' + gene?.ensembl_gene_id">{{
        gene.hgnc_symbol || gene.ensembl_gene_id
      }}</a>
      based on network coexpression.
    </p>
    <p *ngIf="!gene?.ensembl_gene_id">
      Genes that are similar based on network coexpression.
    </p>
    <dialog-link
      label="Learn more about this table"
      header="Similar genes"
      wikiId="612974"
    >
    </dialog-link>
  </div>
</div>

<div class="section">
  <div class="section-inner">
    <div class="mb-lg">
      <gene-table
        className="similar-gene-table"
        [exportFilename]="'genes-similar-' + gene?.ensembl_gene_id"
        [genes]="data"
        [columns]="tableColumns"
        sortField="hgnc_symbol"
        heading="Similar Genes"
        [comparisonToolQuery]="true"
      ></gene-table>
    </div>
    <div>
      <i class="fa-circle-info fa-solid text-secondary"></i>
      Use
      <a class="link" (click)="navigateToGeneComparisonTool()"
        >Agora's Gene Comparison Tool</a
      >
      to compare similar genes in this list.
    </div>
  </div>
</div>
