@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.team-list {
  .team {
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-light);
      padding-bottom: var(--spacing-xl);
      margin-bottom: var(--spacing-xl);
    }
  }

  .team-summary {
    max-width: 80ch;
    margin-bottom: var(--spacing-lg);
  }

  .team-member-list {
    max-width: 80ch;
  }
}
