<div *ngIf="geneInfo" class="section-thin" tabindex="0">
    <h2>
        Druggability of {{geneInfo.hgnc_symbol}}
    </h2>
    <p class="druggability-description">
        AMP-AD pharmaceutical partners scored the tractability of targets using publicly-available resources
        and have generated ratings of small-molecule druggability, therapeutic antibody feasibility, and safety.
    </p>
    <more-info [name]="'dg'">
        <dg-dialog [name]="'dg'"></dg-dialog>
    </more-info>
</div>

<p-accordion *ngIf="geneInfo" [multiple]="true" [ngClass]="'gd-accordion'" [expandIcon]="'pi pi-fw pi-plus'" [collapseIcon]="'pi pi-fw pi-minus'" (onOpen)="resetBucket($event)">
    <p-accordionTab>
        <p-header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-8 col-8 header-title">
                        Small Molecule Modality
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 text-center header-score">
                        <div [ngStyle]="getBucketIconStyle(false)" [style.background-color]="getBucketBGColor(geneInfo.druggability[0].sm_druggability_bucket, 'sm')" [style.color]="getBucketTextColor(geneInfo.druggability[0].sm_druggability_bucket, 'sm')">
                            <div class="icon-description">{{geneInfo.druggability[0].sm_druggability_bucket}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 header-description">
                        {{geneInfo.druggability[0].classification}}
                    </div>
                </div>
            </div>
        </p-header>
        <div class="row grey-background content-row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="row inner-row">
                    <div class="col-md-12 col-sm-12 col-12 header-title vertical-auto">
                        Small Molecule Modality Scale
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12">
                <div class="row inner-row">
                    <div class="col-md-12 col-sm-12 col-12 content-header-description vertical-auto">
                        Choose a bucket to display criteria for each level of the Small Molecule Modality Scale
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12">
                <div class="row inner-row bucket-inner-row">
                    <div class="col-md-1 col-sm-2 col-3 content-title vertical-auto">
                        Bucket
                    </div>
                    <div class="col-md-11 col-sm-10 col-9 vertical-auto">
                        <div class="icon-wrapper" *ngFor="let bucket of bucketsSM">
                            <div class="icon-class caret-wrapper">
                                <div *ngIf="bucket === currentBucketSM" class="custom-caret-down" [style.border-top]="getIconStyle(bucket, 'sm')"></div>
                            </div>
                            <div [ngStyle]="getBucketIconStyle(bucket === currentBucketSM)" [style.background-color]="getBucketBGColor(bucket, 'sm')" [style.color]="getBucketTextColor(bucket, 'sm')" (click)="setCurrentBucket(bucket, 'sm')">
                                <div class="icon-description">{{bucket}}</div>
                            </div>
                            <div class="icon-class" [style.margin-top]="getClassTextMargin(bucket === currentBucketSM)">
                                {{getClassText(bucket)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12 class-col">
                <div class="row inner-row">
                    <div class="col-md-1 col-sm-2 col-3 content-title">
                        Criteria
                    </div>
                    <div class="col-md-5 col-sm-7 col-9 class-description-title">
                        <div class="container no-gutters class-description" [style.background-color]="getBucketBGColor(currentBucketSM, 'sm')">
                            <div class="row criteria-row">
                                <span class="criteria-title full-width" [style.color]="getBucketTextColor(currentBucketSM, 'sm')">{{getDruggabilitySMTitle(currentBucketSM)}}</span>
                            </div>
                            <div class="row criteria-row">
                                <span class="criteria-description full-width" [style.color]="getBucketTextColor(currentBucketSM, 'sm')">{{getDruggabilitySMText(currentBucketSM)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-3 d-none d-sm-block"></div>
                </div>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab>
        <p-header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-8 col-8 header-title">
                        Antibody Modality
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 text-center header-score">
                        <div [ngStyle]="getBucketIconStyle(false)" [style.background-color]="getBucketBGColor(geneInfo.druggability[0].abability_bucket, 'ab')" [style.color]="getBucketTextColor(geneInfo.druggability[0].abability_bucket, 'ab')">
                            <div class="icon-description">{{geneInfo.druggability[0].abability_bucket}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 header-description">
                        {{geneInfo.druggability[0].abability_bucket_definition}}
                    </div>
                </div>
            </div>
        </p-header>
        <div class="row grey-background content-row">
            <div class="col-md-12 col-sm-12 col-12 inner-row-header">
                <div class="row inner-row">
                    <div class="col-md-12 col-sm-12 col-12 header-title vertical-auto">
                        Antibody Modality Scale
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12">
                <div class="row inner-row">
                    <div class="col-md-12 col-sm-12 col-12 content-header-description vertical-auto">
                        Choose a bucket to display criteria for each level of the Antibody Modality Scale
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12">
                <div class="row inner-row bucket-inner-row">
                    <div class="col-md-1 col-sm-2 col-3 content-title vertical-auto">
                        Bucket
                    </div>
                    <div class="col-md-11 col-sm-10 col-9 vertical-auto">
                        <div class="icon-wrapper" *ngFor="let bucket of bucketsAB">
                            <div class="icon-class caret-wrapper">
                                <div *ngIf="bucket === currentBucketAB" class="custom-caret-down" [style.border-top]="getIconStyle(bucket, 'ab')"></div>
                            </div>
                            <div [ngStyle]="getBucketIconStyle(bucket === currentBucketAB)" [style.background-color]="getBucketBGColor(bucket, 'ab')" [style.color]="getBucketTextColor(bucket, 'ab')" (click)="setCurrentBucket(bucket, 'ab')">
                                <div class="icon-description">{{bucket}}</div>
                            </div>
                            <div class="icon-class">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12 class-col">
                <div class="row inner-row">
                    <div class="col-md-1 col-sm-2 col-3 content-title">
                        Criteria
                    </div>
                    <div class="col-md-5 col-sm-7 col-9 class-description-title">
                        <div class="container no-gutters class-description" [style.background-color]="getBucketBGColor(currentBucketAB, 'ab')">
                            <div class="row criteria-row">
                                <span class="criteria-title full-width" [style.color]="getBucketTextColor(currentBucketAB, 'ab')">{{getDruggabilityABTitle(currentBucketAB)}}</span>
                            </div>
                            <div class="row criteria-row">
                                <span class="criteria-description full-width" [style.color]="getBucketTextColor(currentBucketAB, 'ab')">{{getDruggabilityABText(currentBucketAB)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-3 d-none d-sm-block"></div>
                </div>
            </div>
        </div>
   </p-accordionTab>
    <p-accordionTab>
        <p-header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-8 col-8 header-title">
                        Safety
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 text-center header-score">
                        <div [ngStyle]="getBucketIconStyle(false)" [style.background-color]="getBucketBGColor(geneInfo.druggability[0].safety_bucket, 'sf')" [style.color]="getBucketTextColor(geneInfo.druggability[0].safety_bucket, 'sf')">
                            <div class="icon-description">{{geneInfo.druggability[0].safety_bucket}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 header-description">
                        {{geneInfo.druggability[0].safety_bucket_definition}}
                    </div>
                </div>
            </div>
        </p-header>
        <div class="row grey-background content-row">
            <div class="col-md-12 col-sm-12 col-12 inner-row-header">
                <div class="row inner-row">
                    <div class="col-md-12 col-sm-12 col-12 header-title vertical-auto">
                        Safety Scale
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12">
                <div class="row inner-row">
                    <div class="col-md-12 col-sm-12 col-12 content-header-description vertical-auto">
                        Choose a bucket to display criteria for each level of the Safety Scale
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12">
                <div class="row inner-row bucket-inner-row">
                    <div class="col-md-1 col-sm-2 col-3 content-title vertical-auto">
                        Bucket
                    </div>
                    <div class="col-md-11 col-sm-10 col-9 vertical-auto">
                        <div class="icon-wrapper" *ngFor="let bucket of bucketsSF">
                            <div class="icon-class caret-wrapper">
                                <div *ngIf="bucket === currentBucketSF" class="custom-caret-down" [style.border-top]="getIconStyle(bucket, 'sf')"></div>
                            </div>
                            <div [ngStyle]="getBucketIconStyle(bucket === currentBucketSF)" [style.background-color]="getBucketBGColor(bucket, 'sf')" [style.color]="getBucketTextColor(bucket, 'sf')" (click)="setCurrentBucket(bucket, 'sf')">
                                <div class="icon-description">{{bucket}}</div>
                            </div>
                            <div class="icon-class">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-12 class-col">
                <div class="row inner-row">
                    <div class="col-md-1 col-sm-2 col-3 content-title">
                        Criteria
                    </div>
                    <div class="col-md-5 col-sm-7 col-9 class-description-title">
                        <div class="container no-gutters class-description" [style.background-color]="getBucketBGColor(currentBucketSF, 'sf')">
                            <div class="row criteria-row">
                                <span class="criteria-title full-width" [style.color]="getBucketTextColor(currentBucketSF, 'sf')">{{getDruggabilitySFTitle(currentBucketSF)}}</span>
                            </div>
                            <div class="row criteria-row">
                                <span class="criteria-description full-width" [style.color]="getBucketTextColor(currentBucketSF, 'sf')">{{getDruggabilitySFText(currentBucketSF)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-3 d-none d-sm-block"></div>
                </div>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>

<div *ngIf="geneInfo" class="section-thin" tabindex="0">
    <h2>
        Additional Resources
    </h2>
    <div class="row tab-row">
        <div class="col-md-3 col-sm-8 col-8 header-title">
            Open Targets
        </div>
        <div class="col-md-3 col-sm-4 col-4 text-center header-link">
            <a class="link no-bold" href="https://www.targetvalidation.org/target/{{gene.ensembl_gene_id}}" target="_blank">Visit Open Targets</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 header-description">
            View this gene on Open Targets, a resource that provides evidence on the validity of therapeutic
            targets based on genome-scale experiments and analysis.
        </div>
    </div>
    <div class="row tab-row last-row">
        <div class="col-md-3 col-sm-8 col-8 header-title">
            Pharos
        </div>
        <div class="col-md-3 col-sm-4 col-4 text-center header-link">
            <a class="link no-bold" href="https://pharos.nih.gov/idg/targets/{{gene.hgnc_symbol}}" target="_blank">Visit Pharos</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 header-description">
            View this gene on Pharos, a resource that provides access to the integrated knowledge-base from the
            Illuminating the Druggable Genome program.
        </div>
    </div>
</div>
