@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.gene-druggability {
    .dgb-first-h3 {
        margin-top: 30px;
    }

    h3 {
        margin-bottom: 0px;
    }
}

.no-data{
    min-height: 120px;
}

.druggability-description {
    width: 75%;
}

.gd-accordion {
    .ui-accordion-header {
        min-height: 99px;
        padding: 15px;
        border: 2px solid #DDDDDF;
        margin-top: 0px;
        margin-bottom: 0px;

        a {
            min-height: 99px;
            display: flex;
            vertical-align: middle;
            margin-top: auto;
            margin-bottom: auto;
            padding: 0px;
        }

        p-header {
            min-height: 99px;
            width: 100%;
        }
    }

    .grey-background {
        .ui-accordion-header {
            background: $table-row-even;
        }

        background: $table-row-even;
        border: 1px solid #DDDDDF;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .inner-row-header {
        height: 46px;
    }

    span {
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }

    .content-row {
        padding-top: 30px;
        padding-bottom: 30px;

        .inner-row {
            .header-title {
                line-height: $font-size-x-regular-odd;
                font-size: $font-size-regular;
                text-align: center;
                margin-bottom: 15px;
                margin-top: 12px;
            }
        }

        .bucket-inner-row {
            padding-bottom: 30px;
        }

        .content-header-description {
            @include lato-font('normal', italic);
            text-align: center;
            margin-bottom: 25px;
            line-height: $font-size-x-small;
            font-size: $font-size-small;
            height: 46px;
        }

        .content-title {
            @include lato-font('normal');
            line-height: $font-size-x-small;
            font-size: $font-size-small;
            vertical-align: middle;
            padding-left: 30px;
        }

        .vertical-auto {
            margin-top: auto;
            margin-bottom: auto;
        }

        .bottom-auto {
            margin-bottom: auto;
        }
    }

    .header-title {
        @include lato-font('bold');
        line-height: $font-size-xxxx-regular;
        font-size: $font-size-xx-regular;
    }

    .container {
        display: inline-block;
        color: color(text, secondary);
        min-height: 99px;
        width: 100%;
        max-width: 100%;
        padding-left: 0px;

        .header-title, .header-score, .header-description {
            @include respond-to('ex-small') {
                min-height: 43px;
                margin-top: 25.5px !important;
                line-height: $font-size-large;
            }
            @include respond-to('small') {
                min-height: 43px;
                margin-top: 25.5px !important;
                line-height: $font-size-large;
            }
            @include respond-to('medium') {
                margin-top: auto !important;
                min-height: 0px;
            }
            @include respond-to('large') {
                margin-top: auto !important;
                min-height: 0px;
            }
            @include respond-to('ex-large') {
                margin-top: auto !important;
                min-height: 0px;
            }
        }

        .header-description {
            @include lato-font('normal');
            line-height: $font-size-xxx-regular;
            font-size: $font-size-x-regular;
        }

        .row {
            min-height: 99px;

            > [class*="col-"] {
                vertical-align: middle;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    .icon-wrapper {
        width: 81px !important;
        display: inline-table;
    }

    .icon-description {
        @include lato-font('normal');
        position: relative;
        height: 0;
        padding: 50% 0;
        top: -12px;
        left: -0.5px;
        font-size: $font-size-xxx-regular;
        line-height: $font-size-xl-regular;
        text-align: center;
    }

    .icon-class {
        width: 81px;
        @include lato-font('normal');
        line-height: $font-size-x-small;
        font-size: $font-size-small;
        text-align: center;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .custom-caret-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .caret-wrapper {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: calc(50% - 10px);
    }

    .class-description-title {
        @include lato-font('normal');
        line-height: $font-size-x-small;
        font-size: $font-size-small;
    }

    .class-description {
        padding: 15px;

        span {
            text-align: left;
        }
    }

    .criteria-row {
        padding-left: 15px;
        padding-right: 15px;
        min-height: 0px !important;
    }

    .criteria-description {
        @include lato-font('normal');
        line-height: $font-size-x-regular-odd;
        font-size: $font-size-regular;
        margin-top: 0px;

    }

    .criteria-title {
        margin-top: 0px;
        margin-bottom: 9px;
        @include lato-font('bold');
        line-height: $font-size-xxx-regular;
        font-size: $font-size-x-regular;
    }

    .ui-accordion {
        .content-row, .ui-accordion-header {
            @include respond-to('ex-small') {
                margin-left: 3.5%;
                margin-right: 3.5%;
            }
            @include respond-to('small') {
                margin-left: 4.0%;
                margin-right: 4.0%;
            }
            @include respond-to('medium') {
                margin-left: 4.5%;
                margin-right: 4.5%;
            }
            @include respond-to('large') {
                margin-left: 5.5%;
                margin-right: 5.5%;
            }
            @include respond-to('ex-large') {
                margin-left: 7.5%;
                margin-right: 7.5%;
            }
        }

        .ui-accordion-toggle-icon {
            position: absolute;
            right: 60px;
            top: calc(50% - 14px);
            font-size: 24px;
        }

        a {
            padding-left: 15px;
            padding-right: 144px;
        }

        .ui-accordion-content {
            padding: 0px;
        }

        @include respond-to('ex-small') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
        @include respond-to('small') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
        @include respond-to('medium') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
        @include respond-to('large') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
        @include respond-to('ex-large') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
    }
}

.tab-row {
    min-height: 99px;
    padding: 15px;
    padding-right: 144px;
    border: 2px solid #DDDDDF;
    margin: 0px;
    margin-bottom: 15px;

    .last-row {
        margin-top: 15px;
    }

    a {
        display: flex;
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0px;
    }

    .header-title {
        @include lato-font('bold');
        line-height: $font-size-xxxx-regular;
        font-size: $font-size-xx-regular;
    }

    .header-title, .header-link, .header-description {
        @include respond-to('ex-small') {
            min-height: 43px;
            margin-top: 25.5px !important;
            line-height: $font-size-large;
        }
        @include respond-to('small') {
            min-height: 43px;
            margin-top: 25.5px !important;
            line-height: $font-size-large;
        }
        @include respond-to('medium') {
            margin-top: auto !important;
            min-height: 0px;
        }
        @include respond-to('large') {
            margin-top: auto !important;
            min-height: 0px;
        }
        @include respond-to('ex-large') {
            margin-top: auto !important;
            min-height: 0px;
        }
    }

    .header-link {
        text-align: center;

        a {
            display: block;
        }
    }

    .header-description {
        @include lato-font('normal');
        line-height: $font-size-xxx-regular;
        font-size: $font-size-x-regular;
    }

    > [class*="col-"] {
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }
}
