@import "../../../../assets/css/helpers/variables";
@import "../../../../assets/css/helpers/mixins";

.gene-druggability {
    .dgb-first-h3 {
        margin-top: 30px;
    }

    h3 {
        margin-bottom: 0px;
    }
}

.no-data{
    min-height: 120px;
}

.gd-accordion {
    .ui-accordion-header {
        height: 81px;

        a {
            height: 81px;
            display: flex;
            vertical-align: middle;
            margin-top: auto;
            margin-bottom: auto;
            padding: 0px;
        }

        p-header {
            height: 81px;
            width: 100%;
        }
    }

    .grey-background {
        .ui-accordion-header {
            background: $table-row-even;
        }

        background: $table-row-even;
    }

    span {
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }

    .content-row {
        min-height: 392px;

        .inner-row {
            height: 100%;
        }

        .content-title {
            @include lato-font('normal');
            line-height: $font-size-x-small;
            font-size: $font-size-small;
            vertical-align: middle;
        }

        .vertical-auto {
            margin-top: auto;
            margin-bottom: auto;
        }

        .bottom-auto {
            margin-bottom: auto;
        }
    }

    .container {
        display: inline-block;
        color: color(text, secondary);
        height: 81px;

        .header-title {
            @include lato-font('bold');
            line-height: $font-size-xxxx-regular;
            font-size: $font-size-xx-regular;
        }

        .header-description {
            @include lato-font('normal');
            line-height: $font-size-xxx-regular;
            font-size: $font-size-x-regular;
        }

        .row {
            height: 81px;

            > [class*="col-"] {
                vertical-align: middle;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    .icon {
        display: inline-block;
        border-radius: 100%;
        border-radius: 50%;
        width: 36px !important;
        margin: 22.5px;
        cursor: pointer;
    }

    .icon-wrapper {
        width: 81px !important;
        display: inline-block;
    }

    .icon div {
        @include lato-font('normal');
        position: relative;
        height: 0;
        padding: 50% 0;
        top: -11px;
        font-size: $font-size-xxx-regular;
        line-height: $font-size-xl-regular;
        text-align: center;
    }

    .icon-class {
        width: 81px;
        @include lato-font('normal');
        line-height: $font-size-x-small;
        font-size: $font-size-small;
        text-align: center;
    }

    .class-description-title {
        @include lato-font('normal');
        line-height: $font-size-x-small;
        font-size: $font-size-small;
    }

    .class-description {
        align-items: center;
        vertical-align: middle;
        height: 100%;
    }

    .ui-accordion {
        a, .content-row {
            @include respond-to('ex-small') {
                padding-left: 3.5%;
                padding-right: 3.5%;
            }
            @include respond-to('small') {
                padding-left: 4.0%;
                padding-right: 4.0%;
            }
            @include respond-to('medium') {
                padding-left: 4.5%;
                padding-right: 4.5%;
            }
            @include respond-to('large') {
                padding-left: 5.5%;
                padding-right: 5.5%;
            }
            @include respond-to('ex-large') {
                padding-left: 7.5%;
                padding-right: 7.5%;
            }
        }

        .ui-accordion-content {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        @include respond-to('ex-small') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
        @include respond-to('small') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
        @include respond-to('medium') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
        @include respond-to('large') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
        @include respond-to('ex-large') {
            padding-top: 2em;
            padding-bottom: 2em;
        }
    }
}
