<div class="section-thin" tabindex="0">
    <h2>
        Druggability of {{geneInfo.hgnc_symbol}}
    </h2>
    <p class="text-max">
        Nominated targets have been scored for likely suitability for small-molecule drugs using a multi-step process.
    </p>
    <more-info [name]="'dg'">
        <dg-dialog [name]="'dg'"></dg-dialog>
    </more-info>
</div>
<p-table [ngClass]="'gd-table'" [columns]="cols" [value]="summary">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
        <tr>
            <td *ngFor="let col of columns; let j = index;">
                <ng-container *ngIf="j !== 0">
                    <td *ngIf="i === 0" class="img-td">
                        <div class="icon" [style.background-color]="getBucketStyle(geneInfo.druggability[0].sm_druggability_bucket)">
                            <div>{{geneInfo.druggability[0].sm_druggability_bucket}}</div>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="i === 0" [ngClass]="'dg-value-title'">{{getDruggabilityTitle(geneInfo.druggability[0].sm_druggability_bucket)}}</span>
                        <br *ngIf="i === 0">
                        <span [ngClass]="'dg-value-text'">{{rowData[col.field]}}</span>
                    </td>
                </ng-container>
                <ng-container *ngIf="j === 0">
                    <span [ngClass]="'dg-property-text'">{{rowData[col.field]}}</span>
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>
