@import "../../../../styles/variables";
@import "../../../../styles/mixins";

#footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--color-accent-secondary);
  font-weight: 300;
  height: 100px;
  padding: var(--spacing-sm);

  @include respond-to("small") {
    height: var(--footer-height);
    padding: var(--spacing-xl);
    justify-content: space-between;
  }

  .footer-nav {
    width: 100%;
    
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: var(--spacing-xl);
      padding: 0;
      margin: 0;

      @include respond-to("small") {
        justify-content: flex-start;
      }

      >:first-child {
        display: none;

        @include respond-to("small") {
          display: block;
        }

        @include respond-to("medium") {
          margin-right: var(--spacing-lg);
        }
      }
      
      li {
        height: fit-content;


          
        &:first-child a {
          line-height: 0;
        }

        a {
          display: block;
          height: fit-content;
        }
      }
    }

    a {
      color: var(--color-lightest);
      font-size: var(--font-size-md);
      text-decoration: none;

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-metas {
    display: none;

    @include respond-to("small") {
      display: flex;
    }
    
    div {
      display: inline-flex;
      flex-direction: column;
      gap: var(--spacing-sm);
      font-size: var(--font-size-xs);
      color: var(--color-lightest);
      width: 144px;
    }
  }
}