<div class="row no-gutters small-padding-top" [ngStyle]="style">
    <p-panel [ngClass]="styleClass">
        <p-header>
            <div class="ui-helper-clearfix test">
                <span class="ui-panel-title small-margin-right" style="font-size:16px;display:inline-block;margin-top:2px">RNA-Seq Differential Expression</span>
                <i class="fa fa-question-circle" rel="tooltip" title="Differential gene expression of target genes."></i>
            </div>
        </p-header>
        <div class="row">
            <div class="col-md-4">
                <h4>Tissue</h4>
                <ng-select [items]="tissues"
                    [(ngModel)]="selectedTissue"
                    (change)="onChange($event)">
                </ng-select>
            </div>
            <div class="col-md-4">
                <h4>Model</h4>
                <ng-select [items]="tissues"
                    [(ngModel)]="selectedModel"
                    (change)="onChange($event)">
                </ng-select>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2 class="chart chart-header">Volcano Plot</h2>
            </div>
            <div class="col-md-4">
                <h2 class="chart chart-header">Log fold change forest plot</h2>
            </div>
        </div>
        <div class="row chart-row">
            <div class="col-md-8">
                <router-outlet name="chart"></router-outlet>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </p-panel>
</div>
