@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.section-hero {
  display: flex;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  align-items: center;
  overflow: hidden;

  h1 {
    text-align: center;
  }
}

.section .section-inner {
  width: 100%;
}

.home-heading {
  font-size: 40px;
}

.home-video {
  width: 100%;
  max-width: $video-width;
  margin: 0 auto 60px auto;

  .home-video-inner {
    position: relative;
    height: 0px;
    padding-top: 56.25%;
  }

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.home-search {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
