@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--color-accent-secondary);
  padding: var(--spacing-xl) 15%;

  p {
    font-size: var(--font-size-xl);
  }

  a {
    color: var(--color-link);
  }
}

.home-heading {
  color: var(--color-accent-secondary);
  font-size: 60px;
  line-height: 68px;
  font-weight: bold;
  margin: 0;
}

.home-search {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  justify-content: space-between;

  > div, > button {
    max-width: 31%;
  }
}

.card-link {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  outline: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-align: unset;
  cursor: pointer;

  .card {
    height: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid var(--color-border);
  padding: var(--spacing-lg);
  flex-shrink: 0;

  h3 {
    font-weight: bold;
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}