<div class="section section-hero">
  <div class="section-inner">
    <div class="home-video">
      <div class="home-video-inner">
        <iframe
          src="https://player.vimeo.com/video/297609960"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <h1 class="home-heading">Discover Alzheimer&#39;s Disease Genes</h1>
    <div class="home-search">
      <gene-search></gene-search>
    </div>
  </div>
</div>
