@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--color-accent-secondary);
  padding: var(--spacing-xl) 15%;

  p {
    font-size: var(--font-size-xl);
  }

  a {
    color: var(--color-link);
  }
}

.home-heading {
  color: var(--color-accent-secondary);
  font-size: 60px;
  line-height: 68px;
  font-weight: bold;
  margin: 0;
}

.home-search {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
