.search-row {
    display: block;
}

.filter-wrapper,
.keyword-wrapper {
    display: flex;
    justify-content: center;
    text-align: left;
}

.filter-wrapper {
    min-height: 100%;
    flex-flow: column wrap;
    position: relative;
}

.keyword-wrapper {
    width: 100%;
    position: relative;

    text-align: justify;
    text-align-last: left;
}

#keyword {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 50%;
    outline: none;
    background: #FFFFFF;
    -moz-box-shadow:    inset 0 0 4px #C7C5C5;
    -webkit-box-shadow: inset 0 0 4px #C7C5C5;
    box-shadow:         inset 0 0 4px #C7C5C5;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

    ::-moz-placeholder,
    ::-ms-input-placeholder,
    ::-webkit-input-placeholder {
        color: #BDBDBD;
    }

}

#keyword:focus {
    border-color : rgba(81, 203, 238, 1);
}

#keyword-button {
    position: absolute;
    right: 26%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7em;
    color: #8DB9ED
}

#keyword-button:hover {
    color: #ccc
}

.filter-select {
    width: 50%;
    list-style: none;
    border-top: none;
    /*so things don't jump around*/
    position: absolute;
    left: 25%;
    /*Since we know the wrapper will always be 100% height, we can use half of 100% + half the height of the input*/
    top: calc(50% + 25px);
    /*for a better calculation use JS.  I'm calculating half of the body height - half the height of the input - li padding*/
    //max-height: calc(50% - 15px);
    overflow-y: auto;
    background: #fff;
    -webkit-padding-start: 0px;
    margin: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #1A1C29;
    max-height: 250px;
    overflow-y: auto;
}
.filter-select-list img {
    margin-right: 30px;
}

.tags {
    font-size: 12px;
    font-style: italic;
    color: #c6c6c6;
    margin-right: 10px;
    position: relative;
    top: -10px;
}
.filter-select-list:hover .tags {
    color: #fff;
}

.filter-select-list {
    cursor: pointer;
    padding: 5px 10px;
    height: 50px;
}

.gene-name {
    display: inline-block;
    position: absolute;
}

.filter-select-list:hover {
    background: #C0C0C0;
    color: #fff
}

.list-highlight,
.list-highlight:hover {
    background: rgb(55, 55, 55);
    color: #fff
}


/*some simple responsive designs*/

@media only screen and (max-width: 768px) {
    .filter-select,
    #keyword {
        width: 80%;
    }
    #keyword {
        font-size: 1.3em
    }
    .filter-select {
        font-size: 0.9em;
        left: 10%;
        top: calc(50% + 23px);
    }
    #keyword-button {
        right: 11%
    }
}

@media only screen and (max-width: 480px) {
    .filter-select,
    #keyword {
        width: 95%;
    }
    .filter-select {
        left: 2.5%;
    }
    #keyword-button {
        right: 3.5%
    }
}
