
<div class="row search-row">
    <section class="filter-wrapper">
        <div class="keyword-wrapper">
            <input type="text" [formControl]="queryField" id="keyword"
                (blur)="closeSearchList($event.target)" placeholder="Search by gene symbol"/>
            <p-progressSpinner *ngIf="isSearching" strokeWidth="8" fill="#FFFFFF" animationDuration=".5s"></p-progressSpinner>
            <i class="fa fa-search fa-lg"></i>
        </div>
        <ul class="filter-select" (mouseover)="focusSearchList(true)" (mouseleave)="focusSearchList(false)">
            <li *ngFor="let result of results" class="filter-select-list" (click)="viewGene(result)">
                <p class="gene-name">
                    {{result.hgnc_symbol}}
                </p>
                <i *ngIf="result.nominations" class="fa fa-star fa-lg"></i>
            </li>
        </ul>
    </section>
</div>
