@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.search-row {
    display: block;
    height: 63px;
    width: 100%;
    margin-left: 0px;
}

.filter-wrapper {
    display: flex;        /* IE < 10, Opera *Presto* Desktop (Now dead) */
    justify-content: center;
    text-align: left;
    height: 63px;
    flex-flow: column wrap;
    position: relative;

    .italic-result {
        > p {
            @include lato-font('normal', italic);
            color: color(italic-text, base) !important;
        }

        cursor: context-menu;
    }

    .italic-result:hover {
        background: $background;
    }

    .input-text {
        font-size: $font-size-xx-regular;
        color: color(text, primary);
    }
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: color(text, title);
    }
    40% {
        stroke: color(text, title);
    }
    66% {
        stroke: color(text, title);
    }
    80%,
    90% {
        stroke: color(text, title);
    }
}

#keyword {
    @include lato-font('normal');

    resize: none;
    width: 100%;
    background: transparent;
    line-height: 18px;
    font-size: $font-size-x-small-odd;
    border-color: color(keyword, border-color);
    border: 2px;

    text-align: left;
    text-align-last: left;
    overflow: auto;

    // Opera Mini workaround
    outline-offset:-2px;
    outline: none;

    // Input placehold for search
    ::placeholder {
        white-space:pre-line;
        position:relative;
        color: color(input-placeholder);
    }
}

.keyword-wrapper:focus-within {
    box-shadow: 0px 0px 4px 2px $secondary-background;
    border-radius: 6px;

    // Opera Mini workaround
    outline-offset:-2px;
    outline: none;
}

.filter-select {
    @include lato-font('normal');

    width: 97.5%;
    margin: 0px;
    margin-left: 1.25%;
    z-index: 1;

    top: 95%;
    box-sizing: border-box;
    left: 0px;
    list-style: none;
    border-top: none;
    // So things don't jump around
    position: absolute;
    overflow-y: auto;
    -webkit-padding-start: 0px;
    line-height: normal;
    font-size: $font-size-x-regular;
    color: color(text, secondary);
    max-height: 250px;
    background: $background;
    box-shadow: 0px 0px 4px color(box-shadow);
}

.filter-select-list img {
    margin-right: 30px;
}

.filter-select-error,
.filter-select-list {
    cursor: pointer;
    padding: 5px 10px;
    height: auto;
    width: 100%;
    color: color(text, secondary);
    line-height: normal;
    font-size: $font-size-regular;
    padding-left: 4%;

    span {
        width: 90%;
        @include lato-font('normal');
        color: color(text, secondary);
        margin-top: 0.75em;
    }

    border-bottom: 1px solid $grey-border-color;

    .fa-star {
        //position: relative;
        //left: 80%;
        color: $contrast-color;
    }

    _:-ms-lang(x), .fa-star { left: 92%; }
}

.gene-name {
    margin: auto;
    width: 100%;
    line-height: 50px;
    font-size: $font-size-xx-regular;

    .gene-id {

    }

    .gene-ensembl-id {
        color: color(text, span-grey);
    }

    .gene-aliases {
        font-weight: bold;
    }

    .gene-search-error {
      white-space: normal;
      word-wrap: break-word;
      text-align: left;
      line-height: 34px;
    }
}

.filter-select-list:hover {
    background: $faded-secondary-background;
}

.filter-select-error:hover {
  background: $background;
}

.list-highlight,
.list-highlight:hover {
    background: $list-highlight-color;
    color: $background;
}
