@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.search-row {
    display: block;
    height: 63px;
}

.filter-wrapper,
.keyword-wrapper {
    display: block;        /* IE < 10, Opera *Presto* Desktop (Now dead) */
    justify-content: center;
    text-align: left;
}

.filter-wrapper {
    height: 63px;
    flex-flow: column wrap;
    position: relative;
}

.keyword-wrapper {
    width: 100%;
    position: relative;

    text-align: justify;
    text-align-last: left;

    i {
        position: absolute;
        z-index: 2;
        color: #FCCB6F;
        top: 20%;
        content: url("/assets/icon/search_icon.png") !important;

        @include respond-to('ex-small') {
            left: 88.5%;
        }
        @include respond-to('small') {
            left: 93%;
        }
        @include respond-to('medium') {
            left: 93.5%;
        }
        @include respond-to('large') {
            left: 92.5%;
        }
        @include respond-to('ex-large') {
            left: 91.5%;
        }
    }

    p-progressSpinner {
        position: absolute;
        z-index: 2;
        color: #5171C0;
        top: 35%;

        .ui-progress-spinner {
            width: 20px;
            height: 20px;
        }

        @include respond-to('ex-small') {
            left: 83.5%;
        }
        @include respond-to('small') {
            left: 88%;
        }
        @include respond-to('medium') {
            left: 88.5%;
        }
        @include respond-to('large') {
            left: 87.5%;
        }
        @include respond-to('ex-large') {
            left: 86.5%;
        }
    }
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #5171C0;
    }
    40% {
        stroke: #5171C0;
    }
    66% {
        stroke: #5171C0;
    }
    80%,
    90% {
        stroke: #5171C0;
    }
}

#keyword {
    @include lato-font('normal');

    @include respond-to('ex-small') {
        padding-left: 8%;
    }
    @include respond-to('small') {
        padding-left: 5%;
    }
    @include respond-to('medium') {
        padding-left: 4%;
    }
    @include respond-to('large') {
        padding-left: 4%;
    }
    @include respond-to('ex-large') {
        padding-left: 4%;
    }

    width: 100%;
    background: #FFFFFF;
    //-moz-box-shadow: inset 0 0 4px #C7C5C5;
    //-webkit-box-shadow: inset 0 0 4px #C7C5C5;
    //box-shadow: inset 0 0 4px #C7C5C5;
    -moz-box-shadow: inset 0 0 5px rgba(128, 133, 146, 0.6);
    -webkit-box-shadow: inset 0 0 5px rgba(128, 133, 146, 0.6);
    box-shadow: inset 0px 0px 5px rgba(128, 133, 146, 0.6);
    border-radius: 6px;
    line-height: 63px;
    font-size: 24px;
    border-color: rgba(197,199,196,0.5);
    border: 2px;

    // Opera Mini workaround
    outline-offset:-2px;
    outline: none;

    // Input placehold for search
    ::-moz-placeholder,
    ::-ms-input-placeholder,
    ::-webkit-input-placeholder {
        color: #6C7489;
    }

}

#keyword:focus {
    box-shadow: 0px 0px 4px 2px #5BB0B5;
    border-radius: 6px;

    // Opera Mini workaround
    outline-offset:-2px;
    outline: none;
}

.filter-select {
    @include lato-font('normal');

    font-size: 0.9em;
    top: 95%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 0px;
    z-index: 10000;
    width: 100%;
    list-style: none;
    border-top: none;
    // So things don't jump around
    position: absolute;
    overflow-y: auto;
    background: #fff;
    -webkit-padding-start: 0px;
    margin: 0px;
    line-height: normal;
    font-size: 18px;
    color: #1A1C29;
    max-height: 250px;
    overflow-y: auto;
    padding-left: 0px;
}

.filter-select-list img {
    margin-right: 30px;
}

.filter-select-list {
    @include lato-font('bold');

    cursor: pointer;
    padding: 5px 10px;
    height: 60px;
    color: #1A1C29;
    line-height: normal;
    font-size: 16px;
    color: #1A1C29;
    padding-left: 6%;
    box-shadow: inset 0px 0px 4px #C7C5C5;

    p {
        color: #1A1C29;
    }

    .fa-star {
        position: relative;
        left: 44%;
        top: 37%;
        color: #F89C55;
    }

    _:-ms-lang(x), .fa-star { left: 92%; }
}

.gene-name {
    position: absolute;
}

.filter-select-list:hover {
    background: rgba(91, 176, 181, 0.25);
    color: #fff
}

.list-highlight,
.list-highlight:hover {
    background: rgb(55, 55, 55);
    color: #fff
}


/*some simple responsive designs*/
.filter-select,
#keyword {
    @include respond-to('ex-small') {
        width: 100%;
    }
    @include respond-to('small') {
        width: 100%;
    }
    @include respond-to('medium') {
        width: 100%;
    }
    @include respond-to('large') {
        width: 100%;
    }
    @include respond-to('ex-large') {
        width: 100%;
    }
}
