<div class="container">
    <div class="row search-row">
        <section class="filter-wrapper">
            <div class="keyword-wrapper">
                <input type="text" [formControl]="queryField" id="keyword" placeholder="Search by gene" autofocus/>
            </div>
            <ul class="filter-select">
                <li *ngFor="let result of results" class="filter-select-list" (click)="viewGene(result)">
                    <p class="artist-name">
                        {{result.hgnc_symbol}} - {{result.aveexpr | number:'1.2-5'}}
                    </p>
                </li>
            </ul>
        </section>
    </div>
</div>
