<div class="container">
    <div class="row">
        <h1>Gene Search</h1>
    </div>
    <div class="row">
        <h3>Please type a gene symbol in the search box below.</h3>
    </div>
    <div class="row">
        Gene Symbol
    </div>
    <div class="row search-row">
        <section class="filter-wrapper">
            <div class="keyword-wrapper">
                <input type="text" [formControl]="queryField" id="keyword" placeholder="Search by gene" autofocus/>
            </div>
            <ul class="filter-select">
                <li *ngFor="let result of results" class="filter-select-list" (click)="viewGene(result)">
                    <p class="artist-name">
                        {{result.hgnc_symbol}} - {{result.AveExpr | number:'1.2-5'}}
                    </p>
                </li>
            </ul>
        </section>
    </div>
    <div class="row small-padding-top">
        <p-button (onClick)="viewGene()" icon="fa fa-fw fa-search" label="View"></p-button>
    </div>
</div>
<force-chart></force-chart>
