@import "../../../../../../assets/css/helpers/variables";
@import "../../../../../../assets/css/helpers/mixins";

.network-content {
    min-height: 600px;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;

    @include respond-to('ex-small') {
        display: block;
    }

    .fa-info-circle:before {
        color: $info-circle-color;
    }

    i:hover {
        cursor: pointer;
    }
    .right{
        float: right!important;
    }
}

.network-container {
    position: relative;
    height: 100%;
    padding-bottom: 45px;

    .force-chart-container {
        background: $faded-grey-background;

        force-chart {
            width: 100%;
            height: 100%;
        }
    }
}

.network-container.no-data-vertical {
    vertical-align: middle;
    height: 600px;
}

.genelink {
    @include lato-font('bold');

    cursor: pointer;
    width: 100%;
    line-height: normal;
    font-size: $font-size-x-regular;
    text-decoration: underline;
    color: $secondary-background;
}

.current-gene-col {

    .cg-row {
        margin: 0px;

        .italic-paragraph {
            margin-bottom: 0px;
        }

        .smaller-h3 {
            font-size: $font-size-xx-regular;
        }
    }

    .vmi-wrapper {
        line-height: 20px;
    }

    .cg-col {
        .cg-col-p {
            @include lato-font('normal');

            line-height: normal;
            font-size: $font-size-x-regular;
            color: color(text, secondary);
        }

        font-size: $font-size-regular;

        span {
            @include lato-font('normal');

            line-height: normal;
            font-size: $font-size-x-regular;
        }

        padding-bottom: 15px;
        padding-left: 40px;
        padding-right: 40px;

        @include respond-to('ex-small') {
            padding-right: 3.5%;
            padding-left: 3.5%;
        }
    }

    .top-cg-col {
        border-bottom: 1px solid $secondary-grey-border-color;
    }

    .bottom-cg-col {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    padding: 0px;
    padding-bottom: 45px;
}

.brainregions {
    height: 284px;
    overflow-y: hidden;
    border-top: 1px solid $secondary-grey-border-color;
    border-bottom: 1px solid $secondary-grey-border-color;
    position: relative;
}

.brainregion-button{
    font-size: 32px !important;
}

.brainregion-col {
    margin-top: auto;
    margin-bottom: auto;

    .fa-angle-right:before {
        transform: scale(1.6,1);
        color: $secondary-background;
    }
}

.pathboxes-row {
    margin: 0px;
    margin-top: 25px;
}

.nopadding{
    padding-left: 0;
    padding-right: 0;
}

.nopadding-left {
    padding-left: 0;
}

.cg-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.dot {
    height: 17px;
    width: 17px;
    background-color: color(dot, background-color);
    border-radius: 50%;
    display: inline-block;

    &.current{
        background-color: color(dot, background-color-current);
    }
    &.selected {
        background-color: color(dot, background-color-selected);
    }
    &.first {
        background-color: color(dot, background-color-first);
    }
    &.second {
        background-color: color(dot, background-color-second);
    }
    &.third {
        background-color: color(dot, background-color-third);
    }
}

.hexagon {
    &.current{
        background-color: color(dot, background-color-current);
    }

    position: relative;
    width: 17px;
    height: 9.81px;
    background-color: color(dot, background-color-current);
    margin: 4.91px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 8.5px solid transparent;
    border-right: 8.5px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 4.91px solid color(dot, background-color-current);
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 4.91px solid color(dot, background-color-current);
}

.network-legend {
    padding: 20px;
    border-bottom: 4px solid #EDEDED;
    background: $faded-grey-background;

    div {
        display: inline;
        padding-right: 15px;
        color: color(italic-text, base);
        font-size: $font-size-regular;
    }

    .legend-text {
        padding-left: 5px;
        padding-right: 25px;
        color: color(text, secondary);
    }
}

.no-expression-data-image {
        margin-left: 50%;
        transform: translate(-50%, 0);
        opacity:0.3;
}

.steps {
    margin-top: 25px;
    padding: 0px;

    .steps-marker {
        height: 0.7rem;
        width: 0.7rem;
        align-items: center;
        display: flex;
        border-radius: 50%;
        font-weight: 700;
        justify-content: center;
        position: relative;
        z-index: 10;
    }

    a {
        color: $contrast-color;
        cursor: pointer;
        text-decoration: none;
    }
}

.steps:not(.is-hollow) .steps-segment.is-active~.steps-segment .steps-marker:not(.is-hollow) {
    background-color: #A6A6A6;
    color: color(black-box-shadow, a70);
}

.steps:not(.is-hollow) .steps-marker:not(.is-hollow) {
    background-color: $contrast-color;
    color: $background;
}

.steps:not(.is-hollow) .steps-segment.is-active~.steps-segment .steps-marker:not(.is-hollow) {
    background-color: #A6A6A6;
    color: color(black-box-shadow, a70);
}

.steps:not(.is-vertical) .steps-segment:not(:last-child) {
    flex-basis: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.steps .steps-segment {
    position: relative;
}

.steps:not(.is-vertical) {
    display: flex;
}

.steps:not(.is-vertical) .steps-segment:not(:last-child):after {
    height: .25em;
    left: 0.5rem;
    right: -0.3rem;
    top: calc(1rem - (.75em));
}

.steps-segment.is-active~.steps-segment:after {
    background-color: color(box-shadow);
}

.steps .steps-segment:not(:last-child):after {
    content: " ";
    display: block;
    position: absolute;
}

.steps-segment:after {
    background-color: $contrast-color;
}

.steps-segment.is-active:after {
    background-color: color(box-shadow);
}

ul {
    list-style: none;
}

.filter {
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;

    .filter-title {
        @include lato-font('bold');
    }
    .filter-reference {
        span{
            color: $chart-grey;
            font-size: $font-size-regular;
        }
        width: 100%;
        .left{
            float: left;
            padding-left: 40px;
            @include respond-to('medium') {
                padding-left: 0px;
            }
        }
        .right{
            float: right;
        }
    }
}
.tooltip {
    display: none;
    position: absolute;
    background: $background;
    padding: 5px 10px;
    top: -40px;
    font-size: $font-size-regular;
    left: -10px;
    width: 42px;
}
.tooltip::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 5px 0;
    border-color: $background transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -7px;
    left: 30%
}
.steps-segment:hover {
    .tooltip {
        display: block;
    }
}

.gene-info-list-item {
    display: flex;
    margin-bottom: 26px;

    > div {

        &:first-child {
            flex-grow: 1;
        }

        &:last-child {
            width: 60px;
            text-align: right;
        }
    }

    .gene-info-list-item-heading {
        margin: 0;
    }
}