<div *ngIf="dataLoaded" class="network-content">
    <div class="col-md-8 col-sm-8 col-12 network-container"  *ngIf="!noData; else noDataImage">
        <div class="filter" *ngIf="filterlvl">
            <div class="col-xs-12 col-sm-4">
                <h4 class="filter-title">Filter by Number of Edges</h4>
            </div>
            <div class="col-xs-12 col-sm-7 right">
                <ul class="steps">
                    <li *ngFor="let item of filterLevel(filterlvl); let i = index" class="steps-segment" [ngClass]="{'is-active': filterlvlN === i}">
                        <a (click)="filterNodes(i)" class="steps-marker"></a>
                        <span class="tooltip">&gt;{{i}}</span>
                    </li>
                </ul>
                <div class="filter-reference">
                    <span class="left">&gt;0</span>
                    <span class="right">&gt;{{filterlvl-1}}</span>
                </div>
            </div>
        </div>
        <div class="force-chart-container">
            <force-chart (updategene)="updategene($event)" [networkData]="networkData"></force-chart>
        </div>
        <div class="network-legend">
            <div><span class="dot current"></span>&nbsp;Current gene</div>
            <div><span class="dot selected"></span>&nbsp;Selected gene</div>
            <div><span class="dot first"></span>&nbsp;2-3 Edges</div>
            <div><span class="dot second"></span>&nbsp;4-5 Edges</div>
            <div><span class="dot third"></span>&nbsp;6-7 Edges</div>
        </div>
    </div>
    <ng-template #noDataImage>
        <div class="col-md-8 col-sm-8 col-12 network-container">
            <h2 class="placeholder-text">No expression data is currently available.</h2>
        </div>
    </ng-template>
    <div class="col-md-4 col-sm-4 col-12 currentGene">
        <div class="row cg-row">
            <div class="col-md-12 col-sm-12 col-12 cg-col">
                <h3>{{geneInfo.hgnc_symbol}}</h3>
                <p class="cg-col-p">{{geneInfo.summary}}</p>
                <h4 class="cg-col-span">
                    Genetic Association with LOAD &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColorClass(geneInfo.isIGAP, true)">{{getText(geneInfo.isIGAP)}}</span>
                </h4>
                <h4 class="cg-col-span">
                    Nominated target &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColorClass(geneInfo.nominations, true)">{{getText((geneInfo.nominations === undefined) ? false : geneInfo.nominations)}}</span>
                </h4>
                <h4 class="cg-col-span">
                    Brain eQTL &nbsp;&nbsp;&nbsp;
                    <span [ngClass]="getTextColorClass(geneInfo.haseqtl, true)">{{getText(geneInfo.haseqtl)}}</span>
                </h4>
            </div>
        </div>
        <div class="row cg-row" *ngIf="!noData;">
            <div class="col-md-12 col-sm-12 col-12 cg-col">
                <h3 class="smaller-h3">
                    Tissue Specificity of Gene Connections
                </h3>
                <p class="italic-paragraph"> 6 of {{selectedGeneData.links.length}} genes</p>
                <more-info [name]="'brn'">
                    <brn-dialog [name]="'brn'"></brn-dialog>
                </more-info>
                <div class="row pathboxes-row">
                    <div class="col-md-11 col-sm-11 col-11 nopadding-left">
                        <div *ngFor="let link of selectedGeneData.links | slice:0:6;" class="pathbox">
                            <span class="genes">
                                <span (click)="onNavigate('genes/(genes-router:gene-details/'+(link.source.ensembl_gene_id?link.source.ensembl_gene_id:link.source)+')')">{{link.hgnc_symbolA}}</span>
                                :&nbsp;
                                <span (click)="onNavigate('genes/(genes-router:gene-details/'+(link.target.ensembl_gene_id?link.target.ensembl_gene_id:link.target)+')')">{{link.hgnc_symbolB}}</span>
                            </span>
                            <span *ngFor="let region of link.brainregions; last as isLast">
                                {{region}}{{isLast ? '' : ', '}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-1 nopadding brainregion-col">
                        <span class="btn brainregion-button"
                            (click)="goToRoute('/genes', { outlets: {'genes-router': [ 'gene-brainregions', selectedGeneData.origin.ensembl_gene_id ], 'gene-overview': null} })">
                            <i class="fa fa-angle-right fa-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cg-row" *ngIf="!noData;">
            <div class="col-md-12 col-sm-12 col-12 cg-col">
                <h3 class="smaller-h3">
                    Similar Genes
                    <more-info [name]="'sgn'">
                        <sgn-dialog [name]="'sgn'"></sgn-dialog>
                    </more-info>
                </h3>
                <div class="row pathboxes-row">
                    <div class="col-md-11 col-sm-11 col-11 nopadding-left">
                        <div *ngFor="let node of selectedGeneData.nodes | slice:0:6 | agrSort: 'brainregions' : true;" class="pathbox">
                            <div (click)="onNavigate('genes/(genes-router:gene-details/'+node.id+')')" class="genelink">{{node.hgnc_symbol}}</div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-1 nopadding brainregion-col">
                        <span class="btn brainregion-button"
                            (click)="goToRoute('/genes', { outlets: {'genes-router': [ 'gene-similar', selectedGeneData.origin.ensembl_gene_id ], 'gene-overview': null} })">
                            <i class="fa fa-angle-right fa-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
