@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.more-info-header {
    min-height: 40px;
}

.link-heading {
    white-space: pre-wrap;
    text-align: left;
    text-align-last: left;
}

.ui-dialog-mask {
    background-color: $info-circle-color;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.link {
    font-family: Lato;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    width: 100%;
    line-height: normal;
    font-size: $font-size-x-regular;
    text-decoration: underline;
    color: $secondary-background !important;
    position: relative;
    top: inherit;
    left: inherit;
}
