<div class="container top-container mt-2">
    <div class="row small-padding-top">
        <div class="col-md-12">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:24px;display:inline-block;margin-top:2px;">Welcome to the AMP-AD Wall of Targets!</span>
                    </div>
                </p-header>
                <div class="row">
                    <div class="col-md-11">
                        The Wall of Targets is an application to aggregate genomic evidence supporting candidate gene and module targets
                        nominated by members of the AMP-AD consortium.
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    <div class="row small-padding-top">
        <div class="col-md-12">
            <p-tabView>
                <p-tabPanel header="Gene Search" leftIcon="fas fa-dna">
                    <gene-search></gene-search>
                </p-tabPanel>
                <p-tabPanel header="Nominated Target Genes" leftIcon="fas fa-dna">
                    <genes-list></genes-list>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
