<div class="container top-container mt-2">
    <div class="row" style="padding-top:14px;">
        <div class="col-md-12">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:24px;display:inline-block;margin-top:2px;">Nominated Target List</span>
                    </div>
                </p-header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-11">
                            Welcome to the AMP-AD Wall of Targets, an application to aggregate genomic evidence of nominated candidate drug
                            targets for AD. The following is a list of all genes nominated by AMP-AD groups as targets of interest. <br><br>
                            Please select a gene from the list and click the View button. <br>
                            The table can be filtered to find a gene of interest by name by typing a gene symbol (e.g., 'VGF') in the box on the right. <br><br>
                            Search &nbsp; <input type="text" pInputText />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    <div class="row" style="padding-top:14px;">
        <div class="col-md-12">
            <targets-list></targets-list>
        </div>
    </div>
    <div class="row" style="padding-top:14px;">
        <div class="col-md-12">
            <p-button (onClick)="viewGene()" icon="fa fa-fw fa-search" label="View"></p-button>
        </div>
    </div>
</div>
