@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.overlay-link-inner {
  display: flex;
}

.overlay-link-icon {
  color: var(--color-link);
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 8px;
  }

  svg {
    width: 15px;
    height: 15px;
  }
}

.overlay-link-text {
  color: var(--color-link);
  text-decoration: underline;
  cursor: pointer;
}
