@import "../../../../../assets/css/helpers/variables";
@import "../../../../../assets/css/helpers/mixins";

.gct-details-panel {
    @include lato-font('normal');

    .ui-overlaypanel {
        background: #ffffff;
        box-shadow: 0 0px 10px 0 rgba(0,0,0,0.15);
    }

    .ui-overlaypanel-content {
        padding: 30px;

    }

    .gct-details-panel-label {
        font-size: 12px;
        color: #8E91A2;
        margin-bottom: 6px;
        font-weight: 900;
    }

    .gct-details-panel-heading {
        font-size: 21px;
        color: $span-color;
        font-weight: 900;
    }

    .gct-details-panel-sub-heading {
        font-size: 14px;
        color: $span-color;
        font-weight: 900;
        margin-bottom: 15px;
    }

    .gct-details-panel-data {

        > div {

            &:first-child {
                display: flex;
                font-size: 12px;
                color: #C4C4C4;

                > div {
                    flex-grow: 1;

                    &:last-child:not(:first-child) {
                        text-align: right;
                    }
                }
            }

            &:last-child {
                display: flex;
                font-size: 21px;
                color: #44B5A0;

                > div {
                    flex-grow: 1;

                    &:last-child:not(:first-child) {
                        text-align: right;
                        color: #C4C4C4;
                    }
                }
            }
        }
    }

    .gct-details-panel-range {

        > div {

            &:first-child {
                padding: 15px 0;

                > div {
                    position: relative;
                    border-top: 1px solid #DDDDDD;

                    > div {
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        margin-left: -10px;
                        width: 20px;
                        height: 20px;
                        background-color: #44B5A0;
                        border-radius: 50%;
                        z-index: 100;
                    }

                    &:before,
                    &:after {
                        content: " ";
                        display: block;
                        position: absolute;
                        top: 0;
                        height: 8px;
                        border-left: 1px solid #DDDDDD;
                    }

                    &:after {
                        right: 0;
                    }
                }
            }

            &:last-child {
                display: flex;
                font-size: 12px;
                color: #C4C4C4;
                margin-bottom: 10px;

                > div {
                    flex-grow: 1;

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }

    .gct-details-panel-footer {
        font-size: 15px;
        color: color(text, primary);
    }
}
