<div class="row gene-druggability" *ngIf="!!geneInfo.nominations; else noData">
    <div class="col-md-12 col-sm-12 col-12">
        <h3 class="dgb-first-h3">
            Small Molecule Druggability Classification:
            <!--<span [ngClass]="getTextColorClass(geneInfo.isIGAP, true)">{{getText(geneInfo.isIGAP)}}</span>-->
        </h3>
        &nbsp;{{druggability.classification}}
    </div>
    <div class="col-md-12 col-sm-12 col-12">
        <h3>
            Druggable Class:
            <!--<span [ngClass]="getTextColorClass(geneInfo.isIGAP, true)">{{getText(geneInfo.isIGAP)}}</span>-->
        </h3>
        &nbsp;{{druggability.druggable_class}}
    </div>
    <div class="col-md-12 col-sm-12 col-12">
        <h3>
            Pharos Class:
            <!--<span [ngClass]="getTextColorClass(geneInfo.isIGAP, true)">{{getText(geneInfo.isIGAP)}}</span>-->
        </h3>
        &nbsp;{{druggability.pharos_class}}
    </div>
</div>
<ng-template #noData>
  <div class="no-data">
    <h2 class="placeholder-text">Data not currently available.</h2>
  </div>
</ng-template>