<div class="row gene-druggability">
    <div class="col-md-12 col-sm-12 col-12">
        <h3 class="dgb-first-h3">
            Small Molecule Druggability Classification &nbsp;&nbsp;&nbsp;
            <!--<span [ngClass]="getTextColorClass(geneInfo.isIGAP, true)">{{getText(geneInfo.isIGAP)}}</span>-->
        </h3>
    </div>
    <div class="col-md-12 col-sm-12 col-12">
        <h3>
            Druggable Class &nbsp;&nbsp;&nbsp;
            <!--<span [ngClass]="getTextColorClass(geneInfo.isIGAP, true)">{{getText(geneInfo.isIGAP)}}</span>-->
        </h3>
    </div>
    <div class="col-md-12 col-sm-12 col-12">
        <h3>
            Pharos Class &nbsp;&nbsp;&nbsp;
            <!--<span [ngClass]="getTextColorClass(geneInfo.isIGAP, true)">{{getText(geneInfo.isIGAP)}}</span>-->
        </h3>
    </div>
</div>
