<div class="section-thin section-hero overview-header" tabindex="0">
    <div class="row no-gutters">
        <div class="col-md-12 col-sm-12 col-12 info-header">
            <h1>About Agora</h1>
        </div>
    </div>
</div>

<div class="section-thin about-desc" tabindex="0">
    <h2>
        About
    </h2>
    <p class="black-paragraph about-paragraph">
        Agora is an open space designed to aggregate evidence in support of AD target discovery
        initially developed by the National Institute on Aging-funded Accelerating Medicines Partnership
        in Alzheimer’s Disease (AMP-AD) consortium. Agora enables researchers to view evidence for whether
        or not selected genes are associated with AD and to access a list of over a hundred nascent drug targets
        for AD that were nominated by AD researchers. The results accessible through Agora represent the
        culmination of more than five years of research from the dozens of scientists that are part of the AMP-AD consortium.
        <span class="span-vspacing"></span>
        Agora will be frequently updated to incorporate the latest analyses from AMP-AD and its affiliate AD research
        consortia. The initial release includes differential expression and coexpression network meta-analyses across
        four human RNA-sequence data sets. Future releases will expand to include human proteomic and metabolomic analyses,
        comparative evaluations of disease signatures across species, and integration of druggability and tractability
        information to guide selection of targets for early drug discovery. Analyses developed within other consortia in
        the NIA’s AD Translational Research portfolio including MODEL-AD, M2OVE-AD, and AD Resilience will also be integrated
        into future iterations.
        <span class="span-vspacing"></span>
        Agora is funded by the National Institute on Aging. It is developed and maintained by Sage Bionetworks.
        <span class="span-vspacing"></span>
        If you have suggestions or feedback about Agora, please <a class="contact-us" href="mailto:agora@sagebionetworks.org?Subject=Agora%20Feedback" target="_top">contact us</a>.
    </p>

    <h2>
        About AMP-AD
    </h2>
    <p class="black-paragraph about-paragraph">
        AMP-AD is a precompetitive public private partnership led by the National Institutes for Health’s (NIH) National Institute
        on Aging (NIA) and managed by the Foundation for the NIH (FNIH). AMP-AD brings together the government, industry and non-profit
        sectors to transform the way disease-relevant therapeutic targets are discovered and validated.
    </p>

    <h2>
        About Data and Analysis Used in Agora
    </h2>
    <p class="black-paragraph about-paragraph">
        Data contributed by the AMP-AD consortia are available in the <a class="about-anchor" href="http://ampadportal.org" target="_blank">AMP-AD Knowledge Portal</a>.
        The AMP-AD Knowledge Portal is a platform to access data, analytical results and tools generated within the National Institute of Aging’s AD Translational
        Research Program. All projects within this program operate as an open science collaboration and openly share resources early in the
        research life cycle for evaluation and reuse.  The Portal is named for the first consortium to be initiated, the Accelerating Medicines
        Partnership in Alzheimer’s Disease Target Discovery and Preclinical Validation Project (AMP-AD). The majority of the content in the
        Portal is genomic data generated from human samples or experimental model systems. In addition to this, the Portal also contains
        bioinformatic analytical results including some generated by teams within individual projects and some generated through multi-team
        working groups. Bioinformaticians can download these resources for use in their own research.
        <span class="span-vspacing"></span>
        You will need a Synapse account to access the data in the AMP AD Knowledge Portal. To establish a Synapse account, please follow the
        instructions on <span class="about-link-span" (click)="goToRoute('synapse-account')">this</span> page.
        <span class="span-vspacing"></span>
        Differential expression and gene coexpression analyses included in Agora were derived from the RNA-Seq data from AMP-AD. This RNA-Seq
        data was generated from over 2100 samples from post-mortem brains of more than 1100 individuals. In total there are seven distinct brain
        regions assayed (DLPFC, TCX, CBE, PHG, IFG, STG, FP) from three studies (<a class="about-anchor" href="https://www.synapse.org/#!Synapse:syn3219045" target="_blank">ROSMAP</a>,
        <a class="about-anchor" href="https://www.synapse.org/#!Synapse:syn5550404" target="_blank">MayoRNAseq</a>, and <a class="about-anchor" href="https://www.synapse.org/#!Synapse:syn3159438" target="_blank">MSBB</a>).
        All data was processed through a harmonized computational <a class="about-anchor" href="https://www.synapse.org/#!Synapse:syn9702085" target="_blank">pipeline</a>. The data is publicly available including <a class="about-anchor" href="https://www.synapse.org/#!Synapse:syn14237651" target="_blank">RNA-seq differential expression summary statistics</a> and <a class="about-anchor" href="https://www.synapse.org/#!Synapse:syn12599251" target="_blank">RNA-seq network coexpression analysis</a>.
        <span class="span-vspacing"></span>
        The data used in Agora has been derived from the above data and are available for download in Synapse as JSON formatted files
        <a class="about-anchor" href="https://www.synapse.org/#!Synapse:syn12177492" target="_blank">here</a>.
    </p>

    <h2>
        About Nominated Targets
    </h2>
    <p class="black-paragraph about-paragraph">
        Each of the AMP-AD <span class="about-link-span" (click)="goToRoute('teams-contributing')">teams</span> is working to identify nascent AD drug targets. Initial target nominations
        are identified based on computational analysis of high-dimensional genomic, proteomic, and metabolomics data, and coexpression networks
        derived from human samples. From these, teams select a subset to evaluate in experimental model systems.Target nominations are dynamically
        updated by individual teams as additional supporting evidence is collected.
        <span class="span-vspacing"></span>
        The nominated targets represent early signals in the discovery of biological processes that may be useful for AD treatment or prevention.
        These nascent targetsare designed to complement existing targets that are currently under active drug discovery and development across the
        industry. By releasing these early results for external review, AMP-AD seeks to encourage external researchers to integrate these results
        into independent investigations, or actively contribute external evidence for target prioritization within Agora. As additional evidence
        mounts, we anticipate expanding this target list to include nominations from other sources.
    </p>

    <h2>
        About Contributing Teams
    </h2>
    <p class="black-paragraph about-paragraph">
        Seven academic and nonprofit teams have contributed to the data and analyses presented in Agora. Learn more about these teams <span class="about-link-span" (click)="goToRoute('teams-contributing')">here</span>.
    </p>
</div>
