@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.about-desc {
    margin-bottom: 2%;
    padding-top: 74px;

    .about-paragraph {
        margin-bottom: 40px;
    }
}
