img {
    height: 180px;
    width: 100%;
}

.card {
    transition: 0.5s;
    cursor: pointer;
    min-height: 350px;
    max-height: 350px;
    border-radius: 0;
    border: 1px;
    border-style: solid;
    border-color: #c5c5c5;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: white;
}

.card-title {
    font-size: 14px;
    transition: 1s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Montserrat";
    text-align: center;
}

.card-title i {
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710;
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 60px;
    font-size: 12px;
    font-family: "Open Sans";
    text-align: center;
}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}

.top-container {
    margin-top: 1em;
}

.container {
    width: 75%;
}
