<div *ngIf="dataLoaded">
    <div class="section-hero">
        <div class="section-thin overview-header " tabindex="0">
            <div class="row no-gutters">
                <div *ngIf="geneInfo" class="col-md-12 col-sm-12 col-12 info-header">
                    <h1 class="no-margin">{{gene.hgnc_symbol}}</h1>
                    <p class="no-margin">
                        {{geneInfo.name}}
                    </p>
                </div>
            </div>
        </div>

        <div *ngIf="geneInfo" class="section-thin overview-desc custom-desc" tabindex="0">
            <h2>
                Gene Description
            </h2>
            <p class="black-paragraph">
                {{getSummary(true)}}
            </p>
            <p class="italic-paragraph">
                {{getSummary()}}
            </p>
            <div *ngIf="getAlias()">
                <h3>Also known as</h3>
                <p class="black-paragraph">
                    {{getAlias()}}
                </p>
            </div>
        </div>
    </div>

    <p-tabMenu #overviewMenu [model]="items" [activeItem]="activeItem" [styleClass]="'overview-tab-menu'" (click)="activateMenu()"></p-tabMenu>


    <!--

    <div class="overview-link panel-gene-druggability">
        <p-panel [toggleable]="true" [style]="{'margin-bottom':'20px', 'position': 'relative'}">
            <p-header>
                Druggability Information
                <div class="row no-gutters dgb-header-row">
                    <more-info [name]="'dg'" [needDisplayBlock]="true">
                        <dg-dialog [name]="'dg'"></dg-dialog>
                    </more-info>
                </div>
            </p-header>
            <div class="section-thin st-desc" tabindex="0">
                <gene-druggability [geneInfo]="geneInfo"></gene-druggability>
            </div>
        </p-panel>
    </div>

    <div class="overview-link">
        <p-panel id="nextSteps" header="Next Steps" [toggleable]="false" [style]="{'margin-bottom':'20px'}">
            <div class="section-thin st-desc" tabindex="0">
                <p class="black-paragraph ns-paragraph">
                    To learn more about the druggability of the nominated nascent targets, please access a summary of their druggability
                    <span class="druggability-span" (click)="showDruggability()">here</span>. To access this data you will need a Synapse account. To
                    sign up for a Synapse account, please click the button below.
                </p>
                <img class="synapse-button" src="/assets/img/synapse_button.png" (click)="viewSynapseReg()">
            </div>
        </p-panel>
    </div>-->
</div>
<div *ngIf="!dataLoaded" class="container-fluid small-padding-top">
    <loading></loading>
</div>
