@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.go-info-header {
    padding-right: 5% !important;

    span {
        color: color(text, title);
        margin-left: 5px;
        vertical-align: middle;
    }
}

.overview-header {
    background-color: transparent;

    .fa-star::before {
        color: $contrast-color;
    }
}

.custom-desc {
    background-color: transparent;
    background: $faded-background;
    margin-bottom: 0px;

    .ak-heading {
        margin-bottom: 0px;
    }

    .ak-paragraph {
        margin-top: 6px;
    }
}

.show-more-col {
    margin-bottom: auto;
    margin-top: auto;
}

.show-more-button {
    @include lato-font('bold');

    @include respond-to('ex-small') {
        width: 70%;
        font-size: $font-size-xxx-regular;
    }
    @include respond-to('small') {
        width: 100%;
        font-size: $font-size-xxx-regular;
    }
    @include respond-to('medium') {
        width: 85%;
        font-size: $font-size-xxxx-regular;
    }
    @include respond-to('large') {
        width: 70%;
        font-size: $font-size-xxxx-regular;
    }
    @include respond-to('ex-large') {
        width: 70%;
        font-size: $font-size-xxxx-regular;
    }

    background: $contrast-color !important;
    border: 0px !important;
    border-radius: 100px;
    height: 52px;
    line-height: normal;
    color: $show-more-color !important;
    vertical-align: middle;

    cursor: pointer;

    span {
        margin-left: 2%;
        margin-right: 2%;
    }
}
.mobilemenu-container{
    .overview-tab-menu-mobile {
        height: 100%;
        overflow: hidden;
        position: relative;
        background-color: $menu-dark;
        .ui-tabmenu-nav {
            padding: 0;
            li{
                width: 100%;
                &.ui-state-default {
                    background-color: $menu-inactive;
                    margin: 0;
                }
                &.ui-state-active {
                    background-color: initial;
                }
                &.ui-state-active {
                    a::before {
                        content: url('/assets/icon/minus_icon.png');
                        transform: scale(.55);
                        float: right;
                        margin-right: -16px;
                    }
                }
                a {
                    width: 100%;
                    span{
                        color: $background;
                    }
                }
                .ui-panelmenu-icon {
                    float: right;
                }
            }
            .ui-panelmenu-content {
                padding: 0;
                .ui-submenu-list {
                    li {
                        a {
                            span {
                                color:$background;
                                padding-left: 55px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.close {
        .overview-tab-menu-mobile {
            height: 38px;
            .ui-tabmenu-nav {
                padding: 0;
                li{
                    width: 100%;
                    &.ui-state-default {
                        background-color: $menu-inactive;
                        margin: 0;
                        display: none;
                    }
                    &.ui-state-active {
                        display: inline;
                        background-color: initial;
                    }
                    &.ui-state-active {
                        a{
                            width: 100%;
                        }
                        a::before {
                            content: url('/assets/icon/plus_icon.png');
                            transform: scale(.55);
                            float: right;
                            margin-right: -16px;
                            padding-top: 0px;
                            margin-top: -12px;
                        }
                    }
                }
            }
        }
    }
}

.overview-tab-menu {
    padding: 0px !important;
     @include respond-to('ex-small') {
        overflow-x: scroll;
     }

    .ui-tabmenu-nav {
        padding: 0px !important;
        background: $background;
        background-color: $background !important;
        box-shadow: 0px 4px 6px color(black-box-shadow, a50);
        position: relative;

        > li {
            max-width: 25%;
        }

        @include respond-to('ex-small') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 3.5% !important;
            }
            >li:last-child {
                /* text-align: right;
                text-align-last: right;
                padding-right: 3.5% !important; */
                text-align: -webkit-auto;
                text-align-last: auto;
            }
        }
        @include respond-to('small') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 4.0% !important;
            }
            >li:last-child {
                /* text-align: right;
                text-align-last: right;
                padding-right: 4.0% !important; */
                text-align: -webkit-auto;
                text-align-last: auto;
            }
        }
        @include respond-to('medium') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 4.5% !important;
            }
            >li:last-child {
                /* text-align: right;
                text-align-last: right;
                padding-right: 4.5% !important; */
                text-align: -webkit-auto;
                text-align-last: auto;
            }
        }
        @include respond-to('large') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 5.5% !important;
            }
            >li:last-child {
                /* text-align: right;
                text-align-last: right;
                padding-right: 5.5% !important; */
                text-align: -webkit-auto;
                text-align-last: auto;
            }
        }
        @include respond-to('ex-large') {
            >li:first-child {
                text-align: left;
                text-align-last: left;
                padding-left: 7.5% !important;
            }
            >li:last-child {
                /* text-align: right;
                text-align-last: right;
                padding-right: 7.5% !important; */
                text-align: -webkit-auto;
                text-align-last: auto;
            }
        }
    }

    ul {
        display: flex !important;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    li {
        background: $background;
        background-color: $background !important;
        height: 70px;
        line-height: 70px;
        margin: 0px !important;
        width: 100%;
        border: none;
        color: $span-color;

        a {
            padding: 0px !important;
            width: 100%;
            text-align: center;
            @include respond-to('ex-small') {
              padding-right: 25px !important;
            }
            span {
                color: $span-color;
                opacity: 0.5;
            }
        }
    }

    .ui-state-disabled {
        a {
            padding: 0px !important;
            width: 100%;
            text-align: center;
            span {
                color: $span-color;
            }
        }
    }

    .ui-state-active {
        a > span {
            @include lato-font('bold');
            font-size: $font-size-xx-regular;
            opacity: 1;
        }
    }
}

.overview-rel {
    padding-bottom: 4em;
    box-shadow: 0px 2px 6px color(black-box-shadow, a50);
    margin-bottom: 2%;

    .fa-info-circle:before {
        color: $info-circle-color;
    }
    h3 {
        margin-bottom: 0px;
    }
    i:hover {
        cursor: pointer;
    }
}

.st-desc {
    .ns-paragraph {
        margin-bottom: 40px;
    }
    padding-top: 0px;
}
.overview-actions {
    padding-bottom: 4em;
    box-shadow: 0px 2px 6px color(black-box-shadow, a50);
    margin-bottom: 2%;
    .fa-info-circle:before {
        color: $info-circle-color;
    }
    h3 {
        margin-bottom: 0px;
    }
    i:hover {
        cursor: pointer;
    }
}
.overview-sdata {
    padding-bottom: 4em;
    box-shadow: 0px 2px 6px color(black-box-shadow, a50);
    margin-bottom: 2%;
    .fa-info-circle:before {
        color: $info-circle-color;
    }
    h3 {
        margin-bottom: 0px;
    }
    i:hover {
        cursor: pointer;
    }
}
.overview-sgenes {
    padding-bottom: 4em;
    box-shadow: 0px 2px 6px color(black-box-shadow, a50);
    margin-bottom: 2%;
    .fa-info-circle:before {
        color: $info-circle-color;
    }
    h3 {
        margin-bottom: 0px;
    }
    a {
        @include lato-font('bold');

        line-height: normal;
        font-size: $font-size-x-regular;
        text-decoration-line: underline;
        color: $secondary-background;
    }
    .nodes-col {
        margin-bottom: 40px;
    }
}

.panel-gene-druggability {
    .dgb-header-row {
        margin-bottom: auto;
        margin-top: auto;
        position: absolute;
    }
}

.loading-full-height {
    height: calc(100vh - 187px);
}
