<div *ngIf="dataLoaded" (window:resize)="onResize()">
    <p-tabMenu *ngIf="showMobileMenu" #overviewMenu [activeItem]="activeItem" [model]="items" [ngClass]="{'close':mobileOpen}" [styleClass]="'overview-tab-menu-mobile'" class="mobilemenu-container" (click)="mobileActivate()"></p-tabMenu>
    <div class="section-hero">
        <div class="section-thin overview-header " tabindex="0">
            <div class="row no-gutters">
                <div *ngIf="geneInfo" class="col-md-12 col-sm-12 col-12 info-header">
                    <h1 class="no-margin">{{gene.hgnc_symbol}}</h1>
                    <p class="no-margin">
                        {{geneInfo.name}}
                    </p>
                    <div *ngIf="isNominatedTarget() == 'Yes'"><img src="/assets/icon/nominated.svg" alt=""> <span>Nominated Target</span></div>
                </div>
            </div>
        </div>

        <div *ngIf="geneInfo" class="section-thin overview-desc custom-desc" tabindex="0">
            <p class="black-paragraph col-8 no-padding text-max">
                {{getSummary(true)}}
            </p>
            <p class="italic-paragraph">
                {{getSummary()}}
            </p>
            <div *ngIf="getAlias()">
                <h4 class="ak-heading">Also known as</h4>
                <p class="black-paragraph ak-paragraph">
                    {{getAlias()}}
                </p>
            </div>
        </div>
    </div>
    <p-tabMenu *ngIf="showDesktopMenu" #overviewMenu [model]="items" [activeItem]="activeItem" [styleClass]="'overview-tab-menu'" (click)="activateMenu()"></p-tabMenu>
</div>
<div *ngIf="!dataLoaded" class="container-fluid small-padding-top">
    <loading-page></loading-page>
</div>
