<div class="section">
  <div class="section-inner">
    <h2>Summary of Evidence</h2>
    <p>
      This tab shows an overview of how the selected gene is associated with AD.
    </p>
  </div>
</div>

<div class="mb-xl">
  <gene-soe-list [gene]="gene"></gene-soe-list>
</div>

<div class="section">
  <div class="section-inner">
    <h2>TREAT-AD Consortium Target Ranking Scores</h2>
    <p>
      The TREAT-AD Center at Emory-Sage-SGC has developed a target ranking score
      encompassing genomics, genetics, and literature evidence.
    </p>
    <gene-soe-charts [gene]="gene"></gene-soe-charts>
  </div>
</div>
