@import "../../../../styles/variables";
@import "../../../../styles/mixins";

modal-link {
  display: inline-block;
}

.modal-link-inner {
  display: flex;
}

.modal-link-icon {
  color: var(--color-link);
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 8px;
  }

  svg {
    width: 16px;
    height: 16px;
    transform: translateY(2px);
  }
}

.modal-link-text {
  @include link();
}
