@import "../../../../../assets/css/helpers/variables";
@import "../../../../../assets/css/helpers/mixins";

.gct-filter-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition: .6s;
    z-index: 500;

    .p-overlaypanel {
        background-color: #ffffff;
        border-radius: 0px;
        box-shadow: 0 0px 10px 3px rgba(0,0,0,0.15);
    }

    .p-overlaypanel-content {
        padding: 30px;
    }

    .gct-filter-panel-inner {
        height: 100%;
    }

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }

    .gct-filter-panel-close {
        cursor: pointer;

        svg path {
            transition: .3s;
        }

        &:hover {
            svg path {
                stroke: color(primary);
            }
        }
    }
}

.gct-filter-panel-main {
    position: relative;
    width: 344px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid color(border);
    z-index: 100;

    .gct-filter-panel-main-inner {
        padding: 30px 30px 30px 44px;
    }

    .gct-filter-panel-main-top {
        height: 60px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .gct-filter-panel-main-heading {
        height: 80px;
        font-size: 24px;
        font-weight: 900;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-left: -15px;
            margin-right: 0px;

            button {
                display: flex;
                width: 100%;
                padding: 10px 15px;
                transition: .3s;
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;

                > div {
                    display: flex;
                    align-items: center;

                    &:first-child {
                        flex-grow: 1;
                    }
                }

                &.active,
                &:hover {
                    background-color: color(primary);
                    color: #ffffff;
                }
            }

            &.active {

                button {
                    background-color: color(primary);
                    color: #ffffff;
                }
            }
        }


    }
}

.gct-filter-panel-panes {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 50;
}

.gct-filter-panel-pane {
    position: absolute;
    top: 0;
    left: 1px;
    bottom: 0;
    min-width: 380px;
    border-right: 1px solid color(border);
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition: .6s;
    overflow: auto;

    .p-checkbox-box {
        width: 15px;
        height: 15px;
        font-size: 12px;
        border: 1px solid color(border);
        border-radius: 2px;
        transform: translateY(-1px);
        transition: .3s;

        .p-checkbox-icon {
            transition: .3s;

            &:before {
                font-size: 12px;
                line-height: 25px;
            }
        }

        &.p-highlight {
            background-color: color(primary);
            border-color: color(primary);

            .p-checkbox-icon {
                color: #ffffff;
            }
        }
    }

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }

    .gct-filter-panel-pane-inner {
        padding: 30px;
    }

    .gct-filter-panel-pane-top {
        height: 60px;
        display: block
    }

    .gct-filter-panel-pane-heading {
        height: 80px;
        font-size: 24px;
        font-weight: 900;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 9px 0;

            label {
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: .3s;

                > div {
                    display: flex;
                    align-items: center;

                    &:first-child {
                        padding-right: 10px;
                    }
                }

                &:hover {
                    color: #000000;

                    .p-checkbox-box {
                        border-color: #000000;
                    }
                }
            }
        }
    }

    .gct-filter-panel-pane-controls {
        display: flex;
        border-top: 1px solid #EEEEEE;
        padding: 15px;

        button {
            background-color: color(primary);
            color: #FFFFFF;
            padding: 10px 20px;
            border-radius: 30px;
        }
    }
}


