@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.gene-evidence-nav {
  background-color: #3c4a63;
  box-shadow: 0px 4px 6px color(black-box-shadow, a50);

  .gene-evidence-nav-inner {
    @include container();
    display: flex;
    height: 70px;
  }

  ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      padding-right: 150px;
    }

    a {
      display: flex;
      height: 100%;
      font-size: var(--font-size-lg);
      color: rgba(255, 255, 255, 0.4);
      cursor: pointer;
      align-items: center;

      &.active {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.gene-evidence-body {
  position: relative;
  overflow: hidden;
}

.gene-evidence-panel {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 100;

  &.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    top: auto;
    z-index: 200;
  }
}
