.chart-header-row {
    height: 10%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.pathbox {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin: 10px;
    span{
        margin: 5px;
        background-color: lightsteelblue;


    }
}