.dc-chart {
    width: 100%;
    height: 100%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

.hex:hover{
    stroke-width: 1px;
    stroke: rgb(7, 75, 243);
    stroke-opacity: 0.5;
}
 .darkest {
    .darkest {
    display: none;
    }
}
 .darker {
   .darker {
     display: none;
   }
 }

 .medium {
   .meduim {
     display: none;
   }
 }

 .light {
   .light {
     display: none;
   }
 }