<div *ngIf="dataLoaded" class="row network-content">
    <div class="col-md-8 network-container">
        <force-chart (updategene)="updategene($event)" [networkData]="networkData"></force-chart>
    </div>
    <div class="col-md-4 ">
        <div class="row nopadding currentGene">
            <h2>{{currentGene.hgnc_symbol}}</h2>
            <div>Known AD Gene Variant <span [ngClass]="{'true':variants,'false':!variants}"> {{variants}}</span></div>
            <div>AMP-AD target <span class="true"> True</span></div>
            <div>Brain eQTL <span [ngClass]="{'true':geneInfo.haseqtl,'false':!geneInfo.haseqtl}"> {{geneInfo.haseqtl}}</span></div>
            <!-- <div>Protein Precense <span class="false"> False</span></div> -->
        </div>
        <div class="row brainregions nopadding">
            <h2>
                Brain Regions
                <span class="icon-spacing"></span>
                <i class="fa fa-info-circle" (click)="showDialog('displayBRDia')"></i>
            </h2>
            <div *ngFor="let path of pathways;" class="pathbox">
                <div>
                <span (click)="viewGene(path.source.id)">{{path.hgnc_symbolA}}</span>
                -&nbsp;
                <span (click)="viewGene(path.target.id)">{{path.hgnc_symbolB}}</span>
            </div>
                <span *ngFor="let region of path.brainregions; last as isLast">
                {{region}}{{isLast ? '' : ', '}}
                </span>
            </div>
        </div>
        <div class="row brainregions nopadding">
        <h2>Similar Genes</h2>
        <div *ngFor="let node of currentGeneData | myArraySort: 'brainregions' : true;" class="pathbox">
            <div (click)="viewGene(node.id)" class="genelink">{{node.hgnc_symbol}}</div>
        </div>
        </div>
    </div>
</div>

<!-- Dialogs section -->
<div class="ui-rtl" dir="rtl">
    <p-dialog header="Brain Regions" [(visible)]="displayBRDia" [modal]="true" [responsive]="true"
        [minWidth]="330" [minY]="256" [baseZIndex]="10000" [dismissableMask]="true">
        <span dir="ltr">
                FP: Lorem ipsum <br>
                IFG: Lorem ipsum <br>
                PHG: Lorem ipsum <br>
                STG: Lorem ipsum <br>
        </span>
    </p-dialog>
</div>
