@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.help-control-row {
    height: 52px;
    margin-bottom: 2%;
}

.info-header {
    padding-right: 5% !important;

    > h1 {
        text-align: center
    }
}

.help-desc {
    position: relative;
    margin-bottom: 2%;

    .iframe-container {
        width: 100%;
        height: 352px;
        position: relative;
        margin-bottom: 80px;
    }

    .help-paragraph {
        margin-bottom: 40px;
    }

    iframe {
        height: 100%;
        width: 100%;
        max-width: 629px;
        max-height: 352px;
        left: 0;
        position: absolute;
        top: 0;
        border: 0;
    }
}
