@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.about-desc {
    margin-bottom: 2%;

    .news-container {
        p {
            margin-bottom: 3rem;
        }
        h3 {
            font-size: 22px;
        }
    }
}

