<div class="section-thin section-hero overview-header" tabindex="0">
    <div class="row no-gutters">
        <div class="col-md-12 col-sm-12 col-12 info-header">
            <h1>News</h1>
        </div>
    </div>
</div>

<div class="section-thin about-desc" tabindex="0">
    <h2>
        What's New
    </h2>
    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <div *ngFor="let newsObj of news" class="container no-margin news-container" tabindex="0">
                <div class="row data-row">{{newsObj.data}}</div>
                <div *ngFor="let newsEntry of newsObj.entry" class="row" tabindex="0">
                    <div class="col-md-12 col-sm-12 col-12 no-padding-bottom">
                        <h3 class="no-margin-bottom no-margin-top no-padding-bottom">{{newsEntry.header}}</h3>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12 body-col">
                        {{newsEntry.body}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="inner-section-divider"></h1>
    <h2>
        Coming Soon
    </h2>
    <div class="row content-row" dir="ltr">
        <div class="col-md-12 col-sm-12 col-12">
            <div class="container no-margin news-container" tabindex="0">
                <div class="row" tabindex="0">
                    <div class="col-md-12 col-sm-12 col-12 body-col">
                        RNAseq data from AD mouse models will be released.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
