@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.about-desc {
  margin-bottom: 2%;

  .news-container {
    h3 {
      font-size: 20px;
      color: #24334F;
      margin: 60px 0 0;
    }
    h3:first-child {
      margin-top: 0;
    }
    h4 {
      color: #3F5EAB;
      margin: 20px 0 0;
      font-size: 24px;
      font-weight: normal;
    }
    h3 + h4 {
      margin-top: 0;
    }
  }
}

