@import "../../../assets/css/helpers/variables";
@import "../../../assets/css/helpers/mixins";

.about-desc {
    margin-bottom: 2%;

    .about-paragraph {
        margin-bottom: 40px;
    }

    .content-row{
        @include lato-font('normal');
        margin-bottom: 45px;
        font-size: $font-size-x-regular;
        color: color(text, secondary);
    }

    .data-row {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        font-size: $font-size-xx-regular;
        line-height: 24px;
    }

    .body-col {
        padding-bottom: 20px;
    }

    .news-container {
        padding-left: 0px;
        padding-right: 0px;

        :last-child {
            .body-col {
                padding-bottom: 0px;
            }
        }
    }

    .news-container:not(:last-child) {
        padding-bottom: 60px;
    }
}

.about-anchor {
    color: $secondary-background;
}

.contact-us {
    @include lato-font('normal');

    color: $secondary-background;
    line-height: normal;
    font-size: $font-size-x-regular;
}
