@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.page-not-found {
  // Uncoment/Replace for sticky header
  // min-height: calc(100vh - var(--footer-height));
  // padding-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  background-image: url('../assets/images/page-not-found.svg');
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    color: #fff;
  }

  .page-not-found-heading {
    font-size: 60px;
  }

  .page-not-found-message {
    margin-bottom: 0;
  }
}
